@import url('https://fonts.googleapis.com/css?family=Abel');
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*generic*/
h1,h2,h3,h4,h5{
    font-weight: 300;
    color: #a1a1a1;
}
a,p{
    color: #a1a1a1;
}
a{
    color: #2da1d8;
    text-decoration: none;
}
a:hover{
    text-decoration: none;   
}
label,li{
    color: #a1a1a1;   
}
button{
    font-weight: 300;
    border-radius:0px;
    border:0px;
    text-shadow:0px !important;
}
section h2{
    color: #a1a1a1;
}
section.slider{
    padding:0;
}
label{
    color: #6b6e80;
    font-weight: 400;
}
select,
input{
    border-radius: 0px;
    box-shadow: none;
    font-weight: 400;
}
select:focus,
input:focus{
    border-radius: 0px;
    border-color: none;
    box-shadow: none;
}

body{
    background: url(../../img/register/sign-up-img.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
/*Buttons*/

.btn-green {
    background-color: #1ec300;
    color: #fff;
    padding: 10px 32px !important;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 4px #137c00;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.btn-green:active {
    background-color: #1cad02;
    box-shadow: 0 2px #137c00;
    transform: translateY(3px);
    color: #fff;
}

.btn-red:hover,
.btn-red:focus,
.btn-green:hover,
.btn-green:focus {
    color: #fff;
    outline: none;
}

.btn-red {
    background-color: #ef5829;
    color: #fff;
    padding: 10px 32px !important;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 4px #ba3208;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.btn-red:active {
    background-color: #ba3208;
    box-shadow: 0 2px #712007;
    transform: translateY(3px);
    color: #fff;
}

/*checkbox*/
.roundedTwo {
    width: 52px;
    height: 52px;
    position: relative;
    margin: 20px 70px;
    background: #c0c0c0;
    border-radius: 50px;
    display: inline-block;
}
.roundedTwo label:after {
    content: url(../../img/register/check-mark.png);
    width: 38px;
    height: 10px;
    position: absolute;
    top: -5px;
    left: 4px;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
}
.roundedTwo label:hover::after {
  opacity: 0.3;
}
.roundedTwo input[type=radio] {
  visibility: hidden;
}
.roundedTwo input[type=radio]:checked + label:after {
  opacity: 1;
}


.roundedTwo input[type="radio"] {
    display:none;
}
.roundedTwo input[type="radio"] + label {
    color: #292321;
    font-family:Arial, sans-serif;
    font-size:14px;
    position: relative;
}
.roundedTwo input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    width: 52px;
    height: 52px;
    border: 3px solid #c0c0c0;
    margin: -1px 4px 7px 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
    overflow: visible;
}

.roundedTwo input[type="radio"] + label span {
     background-color: #ffffff;
}

.roundedTwo input[type="radio"] + label span,
.roundedTwo input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

.label-option {
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-left: 10px;
}
/* end .roundedTwo */

/*Flow1*/
.section-flow1 {
    margin-top: 18%;
}

.section-flow1 h1 {
    color: #fff;
    font-size: 40px;
    font-family: 'Abel', sans-serif;
}


.section-flow1 .btn-green {
    margin-top: 70px;
    padding: 8px 53px !important;
}

.section-footer {
    margin-top: 18%;
}

.section-footer p {
    color: #fff;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
}

.section-footer p img {
    margin-left: 10px;
}

.dl-menu {
    padding-left: 0;
}

.dl-menu li {
    list-style: none;
    display: inline;
}

/*flow2*/
.logo-brand {
    width: 265px;
    height: 65px;
    margin: 25px auto 0;
    display: block;
}

.section-flow2 p {
    color: #fff;
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}
.section-flow2 .btn {
    padding: 5px 60px!important;
}

.section-flow2 .form-group {
    margin-bottom: 5px;
}

.section-flow2 .input-group-addon {
    width: 32%;
    color: #888888;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
}

.section-flow2 .form-control {
    border-left: 0;
    padding: 20px;
}

.section-flow2 .form-control:hover,
.section-flow2 .form-control:visited,
.section-flow2 .form-control:active,
.section-flow2 .form-control:focus {
    outline: none;
}

.section-flow2 .next-button {
    margin-top: 125px;
    margin-bottom: 70px;
}

/*photos*/
.fileUploader{
    clear: both;
    position: relative;
}
.fileUploader .introMsg{
    display: none;
}
#logo > div,
#icon > div{
    padding:0 0%;
}
#logo .dropZone,
#icon .dropZone {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    font-weight: 300;
    border: 5px dashed #a1a1a1;
    margin-top:0;
    color: #888888;
    line-height: 25px;
    padding-top: 20px;
}
.photo-container{
    margin-top:0px;
}
.fileUploader .filesContainer .newElement .fileTitle{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:14px;
    font-weight: 400;
    text-align: left !important;
    color:#fff !important;
    top:0 !important;
}
.fileUploader .filesContainer .newElement .loadBar div{
    background: #25AA6E !important;
}
.fileUploader .filesContainer .newElement .loadBar{
    background: #fff !important;
    border:1px solid #ddd !important;
    width:100% !important;
}
#logo .filesContainer .newElement,
#icon .filesContainer .newElement{
    width: 100%;
    clear: both;
}
#logo .fileUploader .filesContainer .error,
#icon .fileUploader .filesContainer .error{
    width: 100%;
    clear: both;
}
#logo .fileSee,
#logo .fileDelete,
#icon .fileSee,
#icon .fileDelete{
    display: none;
}
#logo .innerFileThumbs,
#icon .innerFileThumbs{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:14px;
    font-weight: 400;
    color:#8a8a8a;
}

/*Flow3*/
.section-flow3 .btn {
    padding: 5px 60px !important;
}


.section-flow3 p {
    color: #fff;
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

.section-flow3-bottom {
    position: absolute;
    bottom: 70px;
    text-align: center;
    width: 100%;
    left: 0;
}

.no-domain,
.yes-domain {
    margin-top: 30px;
}
.no-domain {
    text-align: center;
}

.no-domain label,
.yes-domain label {
    font-size: 18px;
    color: #fff;
    font-family: 'Abel', sans-serif;
    text-align: center;
}

.no-domain .form-group,
.yes-domain .form-group {
    text-align: center;
}


.no-domain .form-control,
.yes-domain .form-control {
    border-radius: 0;
    height: 50px;
    border: 3px dotted #ccc;
    background-color: transparent;
    color: #fff;
}

.fetchloader {
    background: url(../../img/register/loader.gif) no-repeat center center;
    height: 45px;
    width: 75px;
    display: block;
    margin: 0 auto;

}

.fetch-t {
    color: #fff;
    font-size: 18px;
}

.result-domain {
    display: none;
}

.domain-list li {
    width: 400px;
    list-style: none;
}

.domain-list li a {
    font-size: 14px;
    color: #cecece;
    text-decoration: underline;
    cursor: pointer;
}

#domain-list {
    display: none;
}

.domain-list {
    width: 20%;
    margin: 0 auto;
    text-align: left;
    display: none; 
}

.domain-list li:before {
    content: "\f00c";
    margin-right: 10px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.domain-list li a:hover {
    color: #fff;
}

.domain-list li:hover:before {
    color: #fff;
}

.fetching-text {
    margin-top: 0;
    margin-bottom: 25px;
     display: none; 
    color: #fff;
    font-size: 15px;
}

small.error,
label.error {
    color: #ea2626;
}

.hide-choose-files {
    display: none!important;    
}

@media only screen and (min-width : 240px) and (max-width : 552px) {
    .section-footer {
        margin-top: 60%;
    }

    .section-flow1 {
        margin-top: 35%;
    }

    .section-flow1 .col-sm-12 {
        text-align: center;
    }

    .section-flow1 img {
        width: 100%;
    }

    .section-flow2 .mobile-left {
        margin-left: 15px;
    }

    .section-flow2 .form-control {
        padding: 20px 60px;
    }

    .roundedTwo {
        width: 52px;
        height: 52px;
        margin: 0 65px;
        display: inline-block;
        background-color: transparent; 
    }

    .section-flow3-bottom {
        position: inherit;
        margin-top: 60%;
        margin-bottom: 50px;
    }

    .no-domain .mobile-bottom {
        margin-bottom: 10px;
    }

    .domain-list {
        width: 100%;
    }

    .section-flow3 .btn {
        padding: 5px 50px !important;
    }
}


@media only screen and (min-width: 553px) and (max-width: 767px) {

}

@media only screen and (max-width : 640px) and (orientation:landscape){


}

@media only screen and (max-width: 1024px) and (min-width: 768px) and (orientation: portrait){
    .section-flow1 {
       margin-top: 30%;
    }    
    .section-flow1 .col-sm-12 {
        text-align: center;
    }

    .section-footer {
        margin-top: 55%;
    }

    .section-flow2 .input-group-addon {
        width: 35%;
    }

    .section-flow2 .form-control {
        padding: 20px 60px;
    }
    
    .domain-list {
        width: 40%;
    }
}

@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation:landscape){
    .section-footer {
        margin-top: 30%;
    }

    .section-flow1 {
        margin-top: 22%;
    }
}

/*** Custom ***/
.group-span-filestyle label {
    height: 42.3px !important;
}

.buttonText {
    line-height: 30px !important;
}