/*
* Author: Jovanni G
*/
.wrapper{
  max-width: 1171px;
  width:: 100%;
  margin: auto;
  padding: 0 15px;
}
section.html-sitemap{
  margin-top: 145px;
  padding: 50px 0;
}
section.html-sitemap div:after{
  content: '';
  width: 100%;
  display: block;
  clear: both;
}
section.html-sitemap .wrapper > div ul{
  list-style: none;
  padding: 0;
  padding-left: 10px;
  margin-bottom: 20px;
}
section.html-sitemap .wrapper > div > ul > li a{
  font-size: 16px;
  display: inline-block;
  padding: 7px 20px;
}
section.html-sitemap .wrapper > div > ul > li {
  position: relative;
}
section.html-sitemap .wrapper > div > ul > li:before{
  content: '\f07b';
  font-family: 'FontAwesome', sans-serif;
  margin-right: 8px;
  color: #bbb;
  position: absolute;
  top: 10px;
}
section.html-sitemap .wrapper > div > ul > li:hover:before{
  content: '\f07c';
  color: #d09c4b;
}
section.html-sitemap .wrapper > div > ul > li > ul > li:before{
  content: '\2514\00a0\f07b';
  font-family: 'FontAwesome', 'Arial', sans-serif;
  margin-right: 8px;
  color: #bbb;
}
section.html-sitemap .wrapper > div > ul > li > ul > li:hover:before{
  content: '\2514\00a0\f07c';
  color: #d09c4b;
}