@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);

input.form-control,
select.form-control,
textarea.form-control {
    border-radius: 0;
    box-shadow: none;
}
.properties-sold h4,
.save-search-property .section-title {
    text-transform: uppercase;
}
.help-info ul,
.mortgage ul,
.price-filter,
.sub-filter-simple {
    list-style-type: none;
}
.advance-search-area .submit-button.submit-general:active,
.advance-search-area .submit-button.submit-general:focus,
.advance-search-area .submit-button.submit-general:hover,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
a:focus {
    outline: 0;
}
.advance-search span,
.scrolltop {
    cursor: pointer;
}
.checkbox label,
.radio label,
h1,
h2,
h3,
h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
td {
    color: #6b6e80;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
body {
    // background: url(../background/45degreee_fabric.png) #f1f3f7;
    // background-image: url(../background/concrete_seamless.png);
    background-color: #f1f3f7;
}
a {
    font-family: 'Raleway', sans-serif;
}
input.form-control,
label,
li,
p,
select.form-control {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
a:active,
a:focus,
a:hover {
    text-decoration: none;
}
.advance-search span,
.footer-modal-links a:hover {
    text-decoration: underline;
}
.error {
    color: red!important;
}
.section-title {
    color: #6c7175;
}
.text-uppercase{
    text-transform: uppercase;
}
.nopadding {
    padding: 0;
}
.nopadding-left {
    padding-left: 0;
}
.nopadding-right {
    padding-right: 0;
}
label {
    color: #6b6e80;
}
input.form-control:focus,
select.form-control:focus,
textarea.form-control:focus {
    border-radius: 0;
    border-color: none;
    box-shadow: none;
}
textarea.form-control {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
#mortgage-result span {
    font-size: 14px;
}
.mortage-calculator {
    background: #6b6e81;
    padding: 22px 20px;
    width: 98%
}
.mortage-calculator h3,
.mortage-calculator h4,
.mortage-calculator label {
    color: #fff;
}
.mortage-calculator input.form-control {
    height: 43px;
}
.mortage-calculator h3 {
    margin-top: 0;
    margin-bottom: 20px;
}
.mortage-calculator label {
    font-size: 16px;
}
.mortage-calculator .question-mess span {
    color: #5cb85c!important;
}
.featured-list-item {
    margin-bottom: 15px;
}
#features_modal .modal-dialog {
    width: 56%;
    margin-top: 110px;
}
#features_modal {
    margin: 0 !important;
    z-index: 1051 !important;
}
#features_modal label {
    color: #6b6e80 !important;
}
#tourModal .modal-content,
#change-pass-modal .modal-content,
#schedModal .modal-content,
#customer-profile-modal .modal-content,
#features_modal .modal-content {
    background: #F1F3F7;
    border-radius:0px;
}
#tourModal .modal-header,
#change-pass-modal .modal-header,
#schedModal .modal-header,
#customer-profile-modal .modal-header,
#features_modal .modal-header{
    background: #3498db;
    color: #fff;
}
#features_modal .modal-footer{
    border-top:0px;
}
.navbar {
    font-family: 'Raleway', sans-serif;
    -webkit-transition: background-color .5s, color .5s;
    -moz-transition: background-color .5s, color .5s;
    -o-transition: background-color .5s, color .5s;
    transition: background-color: .5s, color .5s;
}
.page-navbar .registration-nav a {
    color: #337ab7;
    text-shadow: none;
}
.navbar.page-navbar .navbar-nav.nav-darken li a {
    color: #3498DB;
    text-shadow: none;
}
.page-navbar .tagline {
    color: #337ab7;
    text-shadow: none;
}
.nav-lighten .registration-nav a,
.nav-lighten .tagline {
    color: #3498DB;
    text-shadow: none;
}
.nav-lighten,
.page-navbar {
    background: rgba(255, 255, 255, .9);
}
.nav-lighten .tagline {
    padding-top: 15px;
}
.home-navbar.nav-lighten.main-navbar {
    min-height: 85px;
}
.nav-darken {
    background: 0 0;
}
.navbar .navbar-nav.nav-darken li a {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
}
.navbar .navbar-nav.nav-darken li:hover {
    border-bottom: 2px solid #fff;
}
.page-navbar .registration-nav .userlog {
    color: #a1a1a1;
    text-shadow: none!important;
}
.nav-lighten .userlog {
    color: inherit;
}
.main-navbar {
    min-height: 105px;
    /*z-index: 1053;*/
}
.navbar-nav.main-nav {
    padding-top: 0;
    margin-top: 5px;
}
.navbar-header {
    margin: 0 auto;
    padding: 15px 0;
    position: absolute;
    top: 0;
}
.navbar-brand,
.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand,
.tagline {
    margin-left: 0;
}
.navbar-brand {
    padding: 0;
}
.navbar-brand>img {
    max-width: 100%;
    background-color: rgba(255, 255, 255, .8);
    padding: 5px 8px;
}
.navbar-nav {
    padding-bottom: 0;
    padding-top: 0;
}
.navbar .navbar-nav li a {
    padding: 15px;
    color: #3498DB;
}
.navbar .navbar-nav li a:active,
.navbar .navbar-nav li a:focus,
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:visited {
    background-color: transparent;
    outline: 0;
}
.navbar-nav>li {
    border-bottom: 2px solid transparent;
}
.navbar-nav>li.active,
.navbar-nav>li:hover {
    border-bottom: 2px solid #3498DB;
}
.navbar-nav>li.active a {
    color: #3498DB;
    font-weight: 400;
}
.navbar-fixed-bottom,
.navbar-fixed-top {
    z-index: 2;
}
.tagline {
    clear: both;
    padding: 15px 0 2px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
}
#preview-nav{
    background: #ddd;
    padding:0px;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 1050;
    border-bottom:1px solid #bbb;
}
.size-container ul{
    margin:0;
}
.size-container ul li{
    margin:0 15px;
}
.size-container ul li a{
    font-size:44px;
    color: #aaa;
}
.size-container ul li a:hover{
    color: #000;
}
.size-container ul li.active{
    background: #2980b9;
}
.size-container ul li.active a{
    color: #fff;
    padding:0 5px;
}
.preview-body .back-to-theme button{
    background: #e74c3c;
    box-shadow: none;
    color: #fff;
    text-shadow:none;
    font-family: 'Raleway', sans-serif;
    margin-top:10px;
}
#preview-nav .theme-bg h2{
    margin:0px 0 0 0;
    padding:15px;
    text-align: right;
    background: #2c3e50;
    color: #fff;
}

/*preview iframe*/
.preview-body{
    background: #eee;
}
#iframe-switcher{
    margin:0 auto;
    text-align: center;
}
#iframe-switcher .iframe-wrapper{
    height: 1000px;
    width: 100%;
    margin-top:60px;
    overflow: hidden;
}
.desktop{
    height:1000px;
    width: 100%;
}
.tablet-portrait{
    width: 868px;
    height: 1250px;
}
.tablet-portrait .iframe-wrapper{
    height: 1230px !important;
    margin-top:135px !important;
    border-radius:20px !important;
    background: url('../../../images/dashboard/demo/agent-haven/tablet-portrait.png') no-repeat;
}
.tablet-portrait iframe{
    position: relative;
    top:130px;
    left:-5px;
    width: 775px !important;
    height: 985px !important;
    border-radius:5px;
}
.tablet-landscape{
    width: 1235px;
    height: 868px;
}
.tablet-landscape .iframe-wrapper{
    height: 870px !important;
    margin-top:130px !important;
    margin-bottom:25px !important;
    border-radius:20px !important;
    background: url('../../../images/dashboard/demo/agent-haven/tablet-landscape.png') no-repeat;
}
.tablet-landscape iframe{
    position: relative;
    top:50px;
    left:5px;
    width: 985px !important;
    height: 775px !important;
    border-radius:5px;
}
.phone-portrait{
    width: 405px;
    height: 750px;
}
.phone-portrait .iframe-wrapper{
    height: 700px !important;
    width: 370px !important;
    border-radius:5px;
    margin-top:130px !important;
    background: url('../../../images/dashboard/demo/agent-haven/phone-portrait.png') no-repeat;
}
.phone-portrait iframe{
    position: relative;
    top:90px;
    left:0px;
    width: 340px !important;
    height: 525px !important;
    border-radius:5px;
}
.phone-landscape{
    width: 640px;
    height: 375px;
}
.phone-landscape .iframe-wrapper{
    height: 370px !important;
    width: 700px !important;
    border-radius:5px;
    margin-top:130px !important;
    background: url('../../../images/dashboard/demo/agent-haven/phone-landscape.png') no-repeat;
}
.phone-landscape iframe{
    position: relative;
    top:12px;
    left:3px;
    width: 533px !important;
    height: 348px !important;
    border-radius:5px;
}
#tablet-landscape i,
#phone-landscape i{
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.registration-nav {
    margin: 0;
    padding: 0;
    color: #a1a1a1;
    font-size: 12px;
}
.registration-nav a,
.registration-nav span.userlog {
    color: #fff;
    padding: 5px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
}
.registration-nav a {
    font-size: 12px;
}
.action-buttons .cancel,
.registration-nav span {
    font-size: 14px;
}
.registration-nav span.userlog {
    margin-bottom: 14px;
    margin-right: -15px;
}
.registration-nav span.nav-link {
    margin-top: 7px;
    margin-right: -15px;
}
.nav-link {
    display: block;
}
.nav-lighten .registration-nav span.userlog {
    color: #a1a1a1;
    background-color: transparent;
    text-shadow: none;
}
.irs-bar,
.irs-from,
.irs-single,
.irs-to {
    background: #3498DB!important;
}
.irs-from::after,
.irs-single::after,
.irs-to::after {
    border-color: #3498db transparent transparent!important;
}
.nav-lighten.main-navbar {
    min-height: 70px;
    z-index: 1051;
}
.nav-lighten .registration-nav span.nav-link {
    margin-top: 0;
}
.navbar.nav-lighten .navbar-nav li a {
    padding: 10px 15px;
}
.nav-lighten .navbar-header {
    padding: 0;
}
.advance-search-area, .nearby-listing-area {
    margin-top: 105px;
}
.advance-search-area>ul>li {
    position: relative;
}
.filter-list li {
    padding-top: 5px;
}
.filter-list .action-buttons {
    clear: both;
}
.filter-list .action-buttons:after,
.filter-list .action-buttons:before {
    clear: both;
    display: table;
    content: ""
}
.filter-link {
    padding: 15px;
    color: #fff;
}
.filter-link:focus,
.filter-link:hover {
    color: #3498db;
}
.search-bar {
    float: left;
    margin-right: 50px;
    width: 300px;
}
.search-bar input,
.search-bar input:focus {
    border-radius: 50px;
}
.sub-filter,
.sub-filter-simple {
    display: none;
    position: absolute;
    border: 1px solid #e3e3e3;
    -moz-animation-duration: .3s!important;
    -moz-animation-iteration-count: 1;
    -webkit-animation-duration: .3s!important;
    -webkit-animation-delay: .1s;
    -webkit-animation-iteration-count: 1;
    background: #fff;
    z-index: 2;
}
.search-bar .search-button {
    height: 34px;
}
.sub-filter {
    padding: 25px 15px;
    width: 100%;
    left: 0;
    top: 180px;
    -moz-animation-delay: .2s;
    animation-duration: .3s!important;
    animation-delay: .1s;
    animation-iteration-count: 1;
}
.sub-filter-simple {
    padding: 0;
    top: 51px;
    min-width: 100%;
    margin: 0;
    -moz-animation-delay: .2s;
    animation-duration: .3s!important;
    animation-delay: .1s;
    animation-iteration-count: 1;
}
.sub-filter-simple li {
    position: relative;
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
}
.sub-filter-simple li:last-child {
    border-bottom: 0;
}
.sub-filter-simple li a {
    padding: 10px 45px;
    width: 100%;
    text-align: center;
}
.sub-filter-title:after,
.sub-filter-title:before {
    clear: both;
    display: table;
    content: ""
}
.price-filter {
    padding: 15px 0;
    display: none;
    background: #fff;
    position: absolute;
    top: 176px;
    width: 300px;
    z-index: 2;
    border: 1px solid #e3e3e3;
    -moz-animation-duration: .3s!important;
    -moz-animation-delay: .2s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-duration: .3s!important;
    -webkit-animation-delay: .1s;
    -webkit-animation-iteration-count: 1;
    animation-duration: .3s!important;
    animation-delay: .1s;
    animation-iteration-count: 1;
}
.action-buttons .cancel-button:hover {
    color: #f7f7f7;
}
.cancel i {
    font-size: 30px;
    color: #ddd;
}
.second-cancel {
    display: none;
}
.last-cancel {
    display: block;
}
.advance-search-area .show-more-property-types,
.help-info {
    display: none;
}
.sub-filter-panel label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.sub-filter-panel select {
    margin-bottom: 15px;
}
.advance-search {
    text-align: center;
    padding-bottom: 5px;
}
.filter-property-advance {
    position: absolute;
    z-index: 1000;
    top: 223px;
    width: 450px;
}
.advance-search-area .navbar .navbar-nav {
    border-right: 1px solid #aaa;
}
.advance-search-area .navbar .navbar-nav>li {
    border: 0;
}
.advance-search-area .navbar .navbar-nav>li.open>a {
    background: #3498db;
}
.advance-search-area .navbar .navbar-nav li.active {
    border-bottom: 0;
}
.advance-search-area .navbar .navbar-nav li .dropdown-menu {
    background: rgba(0, 0, 0, .5);
    border-bottom: 1px solid #aaa;
    margin-top: 1px;
    padding: 0;
    border-radius: 0;
}
.advance-search-area .navbar .navbar-nav li .dropdown-menu>li,
.advance-search-area .navbar .navbar-nav li .dropdown-menu>li:hover {
    border-bottom: 1px solid #aaa;
}
.advance-search-area .navbar .navbar-nav li .dropdown-menu>li>a:hover {
    background: #3498db;
    border: 0;
}
.advance-search-area .navbar .navbar-nav li:hover {
    border-bottom: 0;
    background: #3498db;
    transition: all 1s;
}
.advance-search-area .navbar .navbar-nav li a:hover {
    background: #3498db;
    transition: all 1s;
}
.advance-search-area .navbar .navbar-nav li a {
    padding: 11px;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
}
#more-filters {
    padding: 15px 0;
}
.advance-search-area .more-filter label,
.advance-search-area label {
    color: #FFF;
}
.advance-search-area .first-option {
    border-bottom: 1px solid #FFF;
    width: 100%
}
.advance-search-area #more-filters-area .more-filter {
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, .65);
    padding-top: 10px;
}
.advance-search-area .more-filter,
.advance-search-area .navbar {
    color: #FFF;
    background: rgba(0, 0, 0, .5);
    border-radius: 0;
    margin-bottom: 0;
}
.more-filter a {
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
    color: #3498db;
    text-decoration: underline;
}
.advance-search-area .collapse.navbar-collapse .nav-search-box {
    margin-right: 15px;
}
.advance-search-area .collapse.navbar-collapse,
.advance-search-area .collapse.navbar-collapse .nav-search-box {
    padding-left: 0;
    padding-right: 0;
}
.advance-search-area .submit-button {
    padding: 7px 15px;
}
.advance-search-area .input-search,
.advance-search-area .input-search:focus {
    border-color: transparent;
}
.advance-search-area .navbar .show-map-area {
    border-right: 0;
}
.slider-area {
    height: auto;
    min-height: 600px;
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;
    top: 0;
    position: relative;
}
.filters,
.overlay {
    position: absolute;
    width: 100%
}
.overlay {
    background: rgba(0, 0, 0, .4)!important;
    z-index: 0;
    height: 100%;
    top: 0;
}
.filters {
    top: 250px;
}
.filter-tabs {
    width: 100%;
    padding: 0;
}
.filter-tabs h1 {
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, .7);
    padding-bottom: 15px;
}
.filter-tabs ul li {
    background: rgba(0, 0, 0, .5);
    border-radius: 0;
}
.filter-tabs ul li.active a,
.filter-tabs ul li.active a:hover {
    background: #3498db;
}
.filter-tabs ul li a {
    color: #fff;
    border-radius: 0;
    background-image: none;
}
.filter-tabs ul li a:hover {
    background: #3498db;
}
.filter-property label {
    color: #6b6e80;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.filter-property {
    z-index: 1000;
    width: 100%;
    padding: 0 15%
}
.filter-property .city-search {
    float: left;
    width: 100%;
    margin-right: -1px;
}
.filter-property button {
    height: 50px;
    margin-left: 1px;
    width: 100px;
    font-size: 16px;
}
.filter-property .input-group-btn:last-child>.btn,
.filter-property .input-group-btn:last-child>.btn-group {
    margin-left: 0;
}
.filter-property .home-search {
    padding: 15px 12px;
    height: 50px;
    background: rgba(255, 255, 255, .9);
}
.filter-property .input-group {
    background: rgba(0, 0, 0, .5);
    padding: 15px;
}
.filter-property .selectize-input {
    padding: 15px 12px;
}
.filter-property .form-control.selectize-control {
    background: rgba(0, 0, 0, .5);
    padding: 15px;
}
.filter-property .selectize-control.multi .selectize-input>div {
    padding: 10px 12px;
}
.btn-default {
    background-image: none;
    border-radius: 0;
    padding: 10px 15px;
    background-color: #e0e0e0;
}
.btn-default:hover {
    background-color: #eee;
}
.action-buttons .cancel-button,
.submit-button {
    padding: 10px 15px;
    color: #f7f7f7;
    text-shadow: none;
    box-shadow: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.filter-property input,
.filter-property select {
    border-radius: 0;
    box-shadow: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.filter-property input:focus,
.filter-property select:focus {
    border-radius: 0;
    border-color: none;
    box-shadow: none;
}
.submit-button {
    background: #3498DB;
    border-radius: 0;
    border: 0;
}
.submit-button:active,
.submit-button:focus,
.submit-button:hover {
    background: #37B0E9;
    color: #f7f7f7;
    transition: all .5s;
}
.action-buttons .cancel-button {
    background: #aaa;
    border-radius: 0;
    border: 0;
}
.search-button {
    background: #3498DB;
    color: #f7f7f7;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0 50px 50px 0;
    border: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.selectize-input {
    border-radius: 0!important;
}
.selectize-dropdown,
.selectize-input,
.selectize-input input {
    box-shadow: none!important;
    font-family: 'Raleway', sans-serif!important;
    font-weight: 400!important;
    color: #555;
}
.selectize-dropdown,
.selectize-dropdown.form-control {
    border-radius: 0!important;
    color: #555;
}
.help-info {
    padding: 15px;
    margin-top: 5px;
    background: rgba(255, 255, 255, .9);
    position: relative;
    z-index: 9;
}
.help-info ul {
    margin: 0;
    padding: 15px;
}
.help-info li:after,
.help-info li:before {
    content: "";
    clear: both;
    display: table;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    position: absolute;
    opacity: .9;
    top: -5px;
}
/*.property-listing-description h5,
.property-listing-description p {
    height: 25px;
    max-width: 210px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.featured-listing-area {
    padding: 0px 50px;
    background: url('http://agentsquared.local/assets/img/home/yellow_pattern.jpg');
}
.section-blue-title span {
    /* background: #6b6e81; */
    padding: 10px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
}*/

.section-blue-title {
    margin-top: 12px;
}

.section-blue-title span:before {
    content: "";
    position: absolute;
    border: 3px solid teal;
    top: -4%;
    bottom: -11%;
    left: -3%;
    right: -3%;
    z-index: -1;
    -webkit-transform: perspective(50em) rotateX(-30deg);
    transform: perspective(50em) rotateX(-30deg);
    background: #000;
}

.featured-listing-area h2 {
    padding-bottom: 25px;
}
.property-quick-icons {
    background: #3498DB;
    padding: 5px;
}
.property-quick-icons ul {
    margin: 0;
    padding: 0;
}
.property-quick-icons li {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.agent-description p,
.agent-info-area p,
.property-listing-description p,
.property-listing-price {
    font-family: "Open Sans", sans-serif;
}
.property-listing-description {
    background: #fff;
    padding: 5px 15px;
}
.property-listing-description h5 {
    margin: 0;
    padding: 5px 0;
    color: #4fc1e9;
}
.property-listing-description p {
    color: #777;
    font-weight: 400;
}
.property-listing-price {
    position: absolute;
    top: 0;
    right: 15px;
    padding: 10px;
    color: #fff;
    background: #3498DB;
    font-weight: 400;
}
.property-listing-status{
    position: absolute;
    top: 0;
    padding: 2px 6px 2px 6px;
    color: #fff;
    background: #41c86a;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    border: 1px solid transparent;
    font-weight: normal;
}
.property-image {
    height: 175px;
    overflow: hidden;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/*featured properties new*/
.viewall{
    text-decoration: underline;
    text-align: right;
    margin-right: 15px;
}
.viewall-newlisting{
    float: right;
    text-decoration: underline;
    font-size: 17px;
    margin-top: 20px;
}
.featured-listing-area{
    overflow: hidden;
    padding:0 25px 15px 25px;
    background:url("../../../assets/images/dashboard/demo/agent-haven/background.jpg") repeat;
}
.new-listing-area{
    overflow: hidden;
    padding:0 25px 15px 25px;
    margin-top:30px;
}

.featured-list-item{
    padding: 0;
}
.property-listing-description{
    position: absolute;
    width: 100%;
    bottom:30px;
    background: rgba(104,111,129,.5);
    padding:0 15px;
}
.property-listing-description p{
    margin:0;
    padding:0;
    color: #fff;
    line-height: normal;
    height:auto;
}
.property-listing-description .listing-link{
    color: #fff;
    font-family: "Raleway",sans-serif;
}
.property-listing-price{
    position: absolute;
    top:0;
    right: 0px;
    padding:10px;
    color: #fff;
    background: #686f81;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
}
.featured-title-container{
    position: relative;
    margin-top:-20px;
}
.trapezoid{
    position: absolute;
    border-bottom: 125px solid #6b6e81;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    height: 0;
    width: 500px;
    margin:0 auto;
    text-align: center;
    left:0;
    right:0;
    z-index: 0;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.featured-title-container .section-title{
    color: #fff;
    position: relative;
    z-index: 1;
    margin-bottom: -10px;
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
}
.featured-title-container .featured-listing-area h2{
    font-size:30px;
}
.property-image{
    height: 200px;
    overflow: hidden;
}
.featured-list-item{
    margin-bottom:0;
}

/*other listing new*/
.other-listing-area {
    padding-bottom: 25px;
}
.other-listing-title{
    font-family: 'Montserrat', sans-serif;
    color: #6b6e81;
}
.nearby-listings-area .other-listing-title{
    padding-left:15px;
}
.nearby-listings-area > ul{
    margin:0;
    padding:0;
    list-style-type:none;
}
.nearby-listings-area > ul > li{
    margin:0 0 2px 0;
}
.nearby-description{
    background: #e1e2e8;
}
.nearby-description a{
    color: #555;
}
.nearby-description p{
    color: #555;    
}
.nearby-description h4{
    font-weight: 600;
    font-family: 'Raleway',sans-serif;
}
.nearby-description ul li{
    color: #6b6e81;
}
.featured-listing-area-old{
    display: none;
}
.nearby-image {
    min-height: 113px;
    height: 113px;
}
.nearby-image img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
}

/*misc*/
.no-padding{
    padding:0
}
.no-padding-left{
    padding-left: 0;
}
.no-padding-right{
    padding-right: 0;
}

/*end of new styles*/
.property-image-land {
    //height: 194px;
}
#saved-searches .property-image,
.sold-image {
    height: 100px;
}
.property-quick-icons-land {
    background: #3498db !important;
    padding: 15px !important;
}
.property-image img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%
}
.save-search-property {
    position: relative;
    padding: 70px 0;
    background: rgba(255, 255, 255, .5);
}
.save-search-list li {
    list-style: none;
    clear: both;
    display: block;
    margin-bottom: 10px;
}
.save-search-list li .fa {
    color: #fff;
    margin-right: 10px;
    font-weight: 700;
}
.save-search-list {
    margin-top: 5px;
}
.save-search-list a {
    color: #3498db;
}
.save-search-list a:hover {
    color: #376c90;
}
.searched-name {
    color: #fff;
}
.searched-name:hover {
    color: #ccc;
}
#saved-searches {
    overflow: hidden;
}
#saved-searches .customNavigation a.prev {
    left: -25px;
}
#saved-searches .customNavigation a {
    top: -75px!important;
}
#saved-searches .customNavigation a.next {
    right: 8px;
}
#saved-searches .property-quick-icons {
    min-height: 45px;
}
.agent-info-area {
    padding: 25px 50px;
    background: #fff;
    color: #6b6e80;
    border-top: 1px solid rgba(210, 210, 210, .5);
}
// .agent-info-area h4 {
//  margin-top: 5px;

}
.agent-info-area p {
    font-weight: 400;
    color: #6b6e80;
}
.agent-image {
    position: relative;
    width: 100%
}
.agent-image img {
    border-radius: 0;
    border: 1px solid #ddd;
    width: 100%
}
.agent-info-area .agent-name {
    background-color: #6b6e81;
    border-bottom: 2px solid #bdbeb8;
}
.agent-info-area .agent-image {
    box-shadow: 1px 1px 4px #888;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.agent-name {
    padding: 10px;
    margin-top: 0;
    color: #fff;
    margin-bottom: 5px;
    font-size: 21px;
}
.properties-sold {
    clear: both;
    position: relative;
    overflow: hidden;
    padding: 0;
}
.properties-sold h4 {
    font-weight: 700;
}
.properties-sold li .img-thumbnail {
    border-radius: 0;
    border: 1px solid #ddd;
}
.sold-image {
    overflow: hidden;
}
.sold-image img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%
}
.sold-banner {
    height: 0;
}
.sold-banner img {
    position: relative;
    width: 60px;
    z-index: 1;
}
.nosold-property {
    background: rgba(121, 122, 124, 0.12);
    text-align: center;
    padding: 50px;
    color: #707071;
    font-size: 18px;
}
.nosold-property .fa {
    display: block;
    font-size: 110px;
    color: #707071;
}
.noproperty {
    color: #d8b607;
}
.noproperty .fa {
    color: #d8b607;
}
.blog-contact-area .customer_questions .form-control {
    border: 2px solid #878787;
}
.blog-contact-area .customer_questions input.form-control {
    height: 46px;
}
.blog-contact-area .submit-contact {
    padding: 0 35%
}
.about-agent,
.agent-detail {
    padding-left: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    margin-bottom: 10px;
    font-size: 15px;
}

.about-agent img {
    width: 150px !important;
    height: 150px !important;
}

.agent-detail li {
    list-style: none;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 100;
}
.agent-detail li i.fa {
    font-size: 20px;
    margin-right: 5px;
}
.agent-listing-area {
    background: url(../img/bg02.jpg) center 0 no-repeat fixed;
    background-size: cover!important;
    height: auto;
    min-height: 450px;
    padding-bottom: 60px;
    padding-top: 120px;
    position: relative;
    width: 100%
}
.agent-listing-area:after {
    background-color: rgba(0, 0, 0, .65);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.agent-description {
    position: relative;
    z-index: 2;
    color: #fff;
}
.agent-description p {
    font-weight: 400;
}
.blog-contact-area {
    background: url(../background/diamond.png) #f4f4f4;
    padding: 25px 0;
}
.blog-contact-area h2 {
    padding-bottom: 15px;
    color: #fff;
    font-weight: 700;
}
.contact-area,
.mortgage {
    padding: 0 50px;
}
.mortgage label {
    color: #6b6e80;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.mortgage ul li a,
.mortgage ul li span {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
.mortgage ul {
    margin: 0;
    padding: 0;
}
.mortgage ul li {
    border-bottom: 1px solid #e3e3e3;
    padding: 15px;
}
.mortgage ul li .img-thumbnail {
    border-radius: 0;
    border: 1px solid #bbb;
}
.mortgage ul li span {
    font-size: 12px;
}
.mortgage ul li p {
    margin: 0;
    padding: 0;
}
hr {
    background: #f4f4f4;
    border-color: #e3e3e3;
}
.contact-area input:focus,
.contact-area select:focus,
.contact-area textarea,
.property-filter-form input:focus,
.property-filter-form select:focus {
    border-color: none;
    box-shadow: none;
    border-radius: 0;
}
.contact-area {
    padding-top: 0;
}
.contact-area label {
    color: #6b6e80;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.contact-area input,
.contact-area select,
.contact-area textarea {
    border-radius: 0;
    box-shadow: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

/*footer*/
/*footer*/
footer {
    background: #3e4453;
    padding: 25px 15px;
}
.footer-copyright {
    padding: 5px 0;
    color: #a1a1a1;
    text-align: right;
    font-size: 14px;
}
.social-icons h4{
    text-align: left;
    color: #a1a1a1;
}
.social-icons a > h4{
    color: #fff;
}
.footer-links,
.social-icons ul {
    padding: 0;
    list-style-type: none;
}
.social-icons ul {
    margin: 0 auto;
    text-align: left;
}
.social-icons ul li a {
    font-size: 25px;
    color: #a1a1a1;
}
.social-icons .list-inline a .fa:hover {
    color: #cac4c4;
}
.quick-link-title {
    color: #f7f7f7;
    font-weight: 400;
}
.footer-links {
    margin: 0 0 0 15px;
}
.footer-links li {
    text-align: left;
    color: #a1a1a1;
}
.footer-links li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #a1a1a1;
}
.footer-copyright .brand-name {
    display: block;
    width: 20%;
    margin: 10px auto 40px;
}
.footer-copyright .brand-name img {
    width: 100%
}
.footer-modal-links{
    text-align: right;
}
.footer-modal-links a {
    color: #fff;
}
.footer-terms h4,
.footer-terms p{
    text-align: right;
}
.footer-terms img{
    width: 200px;
}
footer h4 {
    color: #fff;
    margin:5px 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
}
footer h4 a {
    color: #fff !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
}
.footer-modal-links li:after {
    content: "|";
    margin-left: 10px;
}
.logo-preset-customer:active,
.logo-preset-customer:focus,
.logo-preset-customer:hover,
.logo-preset-customer:visited,
.view-full a:active,
.view-full a:focus,
.view-full a:hover,
.view-full a:visited {
    text-decoration: none;
}
.footer-modal-links li:last-child:after {
    content: " "
}
.property-detail-header {
    position: relative;
    height: 500px;
    overflow: hidden;
    margin-bottom: 20px;
}
.property-detail-header img {
    width: 100%;
    height: auto;
    position: absolute;
    top: -250px;
    background-size: cover;
}


.property-header-text {
    position: absolute;
    top: 300px;
    // left: 260px;
    z-index: 1;
}
.property-view .property-header-text {
    position: absolute;
    top: 300px;
    left: 0;
    z-index: 1;
}
.property-header-text h3 {
    margin: 0;
    font-size: 40px;
}
.property-header-text h2 {
    font-size: 45px;
}
.property-header-text h2,
.property-header-text h3 {
    color: #fff;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, .8);
}
.property-header-text p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.property-sold  .property-header-text {
    left: 260px;
}
h5.property-address,
h5.property-price,
h5.property-title,
h5.property-type {
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: #3498db;
}
h1.property-title{
  font-size: 26px;
  font-weight: bold;
  color: #3498de;
}
h1.property-title span.property-address{
  
}
.property-detail-sections {
    padding: 15px 0;
    overflow: hidden;
}
.property-detail-sections:after,
.property-detail-sections:before {
    clear: both;
    content: "";
    display: table;
}

.property-detail-filter {
    padding: 110px 0 50px;
    background: #fff;
}
h5.property-title {
    font-size: 20px;
    padding: 0;
    margin: 0;
}
h5.property-address,
h5.property-type {
    margin: 5px 0 7px;
    font-size: 15px;
}
h5.property-price {
    margin: 0 0 15px;
    font-size: 18px;
}
.property-map {
    height: 0;
    visibility: hidden;
}
.toggle-map {
    height: auto;
    visibility: visible;
}
.property-filter-form label {
    color: #6b6e80;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.property-filter-form input,
.property-filter-form select {
    border-radius: 0;
    box-shadow: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.filter-tab li .badge,
.filter-tab li a,
.property-agent-info p,
.property-details p,
.property-details ul li {
    font-family: "Open Sans", sans-serif;
}
.property-filter-form .submit-button {
    margin-top: 24px;
    padding: 8px 0 7px;
}
.property-main-content {
    padding: 15px 0 50px;
}
.property-detail-content {
    padding: 0 0 50px;
}
.property-details p {
    font-weight: 400;
    color: #6b6e80;
}
.property-details h4 {
    color: #6b6e80;
    font-weight: 600;
    padding-top: 20px;
}
.property-detail-sections h4 {
    padding-top: 0;
}
.property-details ul.listing-icons {
    display: flex;
}
.property-details ul.listing-icons li {
    flex: 1;
}
.property-detail-list h4.panel-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    font-weight: 400;
}
.property-detail-list .panel-body{
    background: #fff;
}
.list-group-item:first-child,
.list-group-item:last-child{
    border-radius: 0px;
}
#fullspec .property-detail-list h4.panel-title {
    border-bottom: 0;
    padding-top: 10px;
}
#fullspec .panel{
    border-radius:0;
    border-bottom:1px solid #ddd;
    box-shadow: none;
    margin-top:2px;
}
#fullspec .panel-heading{
    background: #F7F8F7;
}
#fullspec .property-detail-list{
    background: #fff;
}
#fullspec .property-detail-list ul {
    box-shadow: none;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    border-radius:0px;
}
.property-details .nav-tabs li a {
    background: 0 0;
    box-shadow: none;
}
.property-details ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.property-details ul li {
    font-weight: 400;
    color: #6b6e80;
    border: 0;
}
.property-details ul li a:focus,
.property-details ul li.active a,
.property-details ul li.active a:focus,
.property-details ul li.active a:hover {
    color: #fff;
    border: 0;
    background: #3498db;
}
.property-details ul li:hover,
.property-details ul li:hover a {
    box-shadow: none;
}
.property-details ul li.active a:hover {
    box-shadow: none;
}
.property-details ul li a {
    color: #a1a1a1;
}
.property-details ul li a:hover {
    border: 1px solid transparent;
    box-shadow: none;
}
.filter-tab {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    padding: 15px;
    margin: 15px 0;
}
.filter-tab h4 {
    color: #6b6e80;
}
.filter-tab ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.filter-tab li a {
    font-weight: 400;
    color: #3498db;
}
.filter-tab li .badge {
    font-weight: 400;
    background: #52b6f9;
}
.filter-tab li i {
    font-size: 20px;
}
.filter-tab div>p {
    margin-top: 0;
    margin-bottom: 15px;
}
.search-list-sidebar li .fa {
    color: #727272;
    font-size: 17px;
}
.search-list-sidebar li {
    margin-bottom: 10px;
}
.search-list-sidebar li a:hover {
    color: #295e82;
}
.property-social-share {
    margin: 0 auto;
    text-align: center;
}
.property-social-share li {
    padding: 0;
    margin: 0;
}
.property-social-share li a {
    text-align: center;
}
.property-social-share li .fa {
    width: 30px;
    height: 30px;
    padding-top: 5px;
    color: #fff;
}
.property-social-share li .fa-envelope {
    background: #333;
}
.property-social-share li .fa-facebook {
    background: #4a66a0;
}
.property-social-share li .fa-twitter {
    background: #55acee;
}
.property-social-share li .fa-google-plus {
    background: #d73d32;
}
.property-social-share li .fa-linkedin {
    background: #0177b5;
}
.photo-gallery {
    clear: both;
    padding: 25px 0;
}
.photo-gallery .col-md-2 {
    padding: 0;
    margin: 5px;
}
.photo-gallery .col-md-2:nth-child(+n+8) {
    display: none;
}
.photo-gallery .img-thumbnail {
    border-radius: 0;
    border: 0;
}
.see-all {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
}
.see-all p {
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin: 15px 0 0;
    font-weight: 600;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
}
.btn-directions,
.filter-panel,
.page-content {
    position: relative;
}
.prev {
    text-shadow: none;
    color: #fff;
}
.logo-preset,
.logo-preset-customer,
.scrolltop:hover {
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
}
.btn-directions {
    background: #52b6f9;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    z-index: 3;
    font-family: "Open Sans", sans-serif;
}
.btn-directions:hover{
    background: #58bcff;
    transition:all .2s ease-in-out;
    color: #eee;
}
.location-info {
    clear: both;
    padding: 25px 0;
}
.property-agent-info p {
    font-weight: 400;
    margin: 0;
    color: #3498db;
}
.property-agent-info .agent-name {
    font-weight: 700;
    color: #3498db;
}
.property-submit-question label {
    color: #6b6e80;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.property-submit-question input,
.property-submit-question select,
.property-submit-question textarea {
    border-radius: 0;
    box-shadow: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.blog-list li p,
.filter-tab input,
.filter-tab label,
.filter-tab select,
.page-content,
.pagination-area,
.search-listing-item,
.sorting {
    font-family: 'Open Sans', sans-serif;
}
.property-submit-question input:focus,
.property-submit-question select:focus {
    border-radius: 0;
    border-color: none;
    box-shadow: none;
}
.property-other-listings .col-md-3 {
    padding: 0 5px;
}
.other-related-description p {
    height: 20px;
    max-width: 170px;
    overflow: hidden;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 10px;
}
.other-listing-item {
    box-shadow: 0 -1px 1px rgba(0, 0, 0, .1);
    background: #fff;
    padding: 0 10px;
    margin-bottom: 15px;
}
.other-related-items img,
.photo-gallery-image img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%
}
.sold-property-details {
    padding: 10px 0;
}
.sold-property-details p {
    height: 25px;
    max-width: 150px;
    overflow: hidden;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}
.photo-gallery-image {
    height: 90px;
    overflow: hidden;
}
.other-related-items {
    height: 115px;
    position: relative;
    overflow: hidden;
}
.search-property-location,
.search-property-specs li,
.search-property-title {
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
    overflow: hidden;
}
.panel-default>.panel-heading {
    background-image: none;
}
.legal-modal{
    top:50px;
}
.legal-modal .modal-content {
    border-radius: 0;
}
.legal-modal .modal-header {
    background: #3498DB;
    color: #fff;
}
.legal-modal .modal-content h4 {
    color: #000;
    font-weight: 600;
    text-shadow:none;
}
.search-listings h4,
.sorting {
    color: #6b6e80;
}
.search-listings {
    padding: 15px 0;
}
.search-listing-item {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background: #fff;
    padding: 15px;
    margin-bottom: 25px;
    color: #6b6e80;
    font-weight: 400;
    min-height: 375px;
}
.search-listing-item:after,
.search-listing-item:before {
    content: " ";
    display: table;
    clear: both;
}
.search-listing-title {
    margin: 5px 0;
    font-weight: 400;
}
.search-listing-title:after,
.search-listing-title:before {
    clear: both;
    display: table;
    content: ""
}
.search-property-location,
.search-property-title {
    max-width: 170px;
}
.search-property-specs li {
    max-width: 80px;
}
.pagination-area {
    clear: both;
    text-align: center;
    font-weight: 400;
}
.pagination-area .pagination,
.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-radius: 0;
    border: 0;
}
.pagination>li>a,
.pagination>li>span {
    background: 0 0;
    border: 0;
}
.sorting {
    clear: both;
    font-weight: 400;
}
.sorting:after,
.sorting:before {
    content: " ";
    display: table;
    clear: both;
}
.price-filter:after,
.price-filter:before,
.sidebar .filter-tab:after,
.sidebar .filter-tab:before {
    display: table;
    clear: both;
    content: ""
}
.search-property-image {
    height: 150px;
    overflow: hidden;
}
.search-property-image img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%
}
.fa-heart,
.fa-heart-o {
    color: #EB594E;
}
.blog-list li p,
.filter-tab label,
.filter-tab p,
.page-content,
.page-content .page-title {
    color: #6b6e80;
}
.filter-search-button,
.view-map-button {
    padding: 3px 15px;
}
.view-map-button .fa-map {
    margin-right: 5px;
}
.filter-tab p {
    margin: 15px 0 5px;
}
.filter-tab label {
    color: #6b6e80;
    font-weight: 400;
}
.filter-tab input,
.filter-tab select {
    border-radius: 0;
    box-shadow: none;
    font-weight: 400;
}
.filter-tab input:focus,
.filter-tab select:focus {
    border-radius: 0;
    border-color: none;
    box-shadow: none;
}
.price-filter {
    margin: 5px 0 15px;
}
.contact-agent-button {
    display: none;
}
.blog-list>li:after,
.blog-list>li:before,
.property-information:after,
.property-information:before {
    display: table;
    clear: both;
    content: ""
}
.page-content {
    margin: 105px 0 0;
    // background: #f1f3f7;
    padding-bottom: 50px;
    min-height: 565px;
}
.blog-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.blog-list>li {
    margin: 15px 0;
}
.blog-list li p {
    font-weight: 400;
}
.blog-summary .date {
    background: #3498db;
    color: #fff;
    border-radius: 50%;
    padding: 15px 0;
    text-align: center;
}
.blog-title {
    color: #6b6e80;
    font-family: 'Raleway', sans-serif;
}
.blog-detail-content p {
    color: #6b6e80;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.login-text,
.recent-blogs li span {
    font-family: "Open Sans", sans-serif;
}
.recent-blogs li span {
    font-size: 12px;
    font-weight: 400;
    color: #6b6e80;
}
.buy-or-sell {
    padding: 25px;
    margin: 25px 0;
}
.buy-or-sell i {
    font-size: 60px;
}
.buy-or-sell .submit-button {
    padding: 25px 45px;
}
.login-content {
    margin: 50px 0;
    padding: 15px;
    background: #f9f9f9;
    border: 1px solid #e3e3e3;
}
.registration {
    background: #fff;
    margin: 100px 0 0;
}
.registration-body {
    background: #fff!important;
    margin: 0;
}
.customer-dashboard,
.property-details {
    background: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    padding: 15px;
}
.property-details {
    margin: 15px 0;
}
.property-information {
    margin: 25px 0 0;
}
.contact-area {
    margin: 0 auto;
}

/*Customer Dashboard*/
.customer-dashboard {
    margin-top: 35px;
}
.customer-dashboard .nav-tabs {
    display: flex;
}
.customer-dashboard .nav-tabs li {
    flex: 1;
    z-index: 1;
    display: block;
    text-align: center;
}
.customer-dashboard .nav-tabs li a {
    background: #ececec;
    color: #6b6e80;
    font-size: 18px;
    margin-right: 0;
    border-radius: 0;
    border-right: 1px solid #ddd;
}
.customer-dashboard .nav-tabs li a span {
    display: block;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}
.customer-dashboard .nav-tabs li.active a {
    background: #fff;
    border-top: 2px solid #0083c1;
    color: #0083c1;
}
.customer-dashboard .btn-edit {
    float: right;
}
.btn-edit {
    background: #0083c1;
    border-radius: 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
.btn-edit span>span {
    font-family: 'Raleway', sans-serif;
}
.btn-edit:focus,
.btn-edit:hover {
    color: #fff;
}
.tab-content td {
    font-weight: 400;
}
.sold-banner-large {
    position: relative;
    top: 260px;
}
.sold-banner-large img {
    width: 220px;
    top: 0;
    position: absolute;
    z-index: 1;
}
.property-detail-list label {
    font-weight: 700;
}
.view-full {
    background: #3498db;
    padding: 10px;
    width: 25%;
    // margin-left: 16px;
    text-align: center;
}
.view-full a {
    color: #fff;
    text-align: center;
}
.owl-theme .owl-controls .owl-buttons div {
    background: rgba(0, 0, 0, .5)!important;
    color: #fff;
    display: inline-block;
    font-size: 30px;
    margin: 0 5px;
    opacity: .6;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
}
.owl-theme .owl-controls .owl-buttons div:hover {
    opacity: 1;
}
.owl-buttons>div span {
    display: none;
}
.owl-buttons {
    position: absolute;
    top: 50px;
    width: 100%;
    background: #fff;
}
.owl-prev {
    padding: 15px 35px;
    left: -40px;
}
.owl-next {
    right: -40px;
    padding: 12px 15px;
}
.virtual-tours-modal {
    overflow-x: auto;
}
.virtual-tours {
    text-align: center;
    padding: 25px 0 10px;
}
.logo-preset {
    margin-top: 0;
    font-size: 25px;
    padding: 6px 15px;
    color: #fff;
}
.logo-preset-customer {
    font-size: 30pt;
    font-weight: 700;
    padding-top: 10px;
}
.page-navbar .logo-preset {
    color: #3498DB;
}
ul.listing-icons li {
    display: inline-block;
    padding-left: 10px;
    text-align: center;
}
ul.listing-icons li p {
    margin: 0;
}
ul.listing-icons li p i {
    color: #EB594E;
    // padding-left: 10px;
}
ul.listing-icons li p small {
    // padding-left: 10px;
}
ul.listing-icons li a:hover {
    text-decoration: underline;
    color: #3498db;
}
ul.listing-icons li a:focus {
    background: 0 0;
    color: #a1a1a1;
    border: 0;
}
#tourModal,
#schedModal {
    z-index: 1051;
}
#tourModal h4,
#schedModal h4 {
    text-align: center;
    padding: 0;
    color: #fff;
}
.sched-modal-section {
    padding: 30px;
    min-height: 425px;
}
.datepicker {
    z-index: 10000!important;
}
.tooltip-inner {
    max-width: 200px;
    padding: 5px 10px;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 0;
    font-size: 10px;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: rgba(0, 0, 0, .8);
}
.tooltip.top .tooltip-arrow {
    border-top-color: rgba(0, 0, 0, .8);
}
@media (min-width:768px) {
    .modal-virtual-tour {
        // width: 900px;
        margin: 30px auto;
    }
}
.virtual-dropbox {
    padding: 50px 0;
}
.nearby-listing-type,
.search-listing-type {
    padding: 8px;
    background: #3498DB;
    position: absolute;
    top: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
}
.virtual-drop-link {
    text-decoration: underline;
}
.nearby-listing-type {
    right: 15px;
}
.search-listing-type {
    right: 30px;
}
.search-listing-status {
    position: absolute;
    top: 15px;
    left: 30px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.listing-status {
    padding: 4px 10px;
    background: rgba(0, 0, 0, .5);
    margin: 0!important;
}
.new-listing-slider {
    position: relative;
    padding: 25px 0;
}
.new-listing-slider h2 {
    padding-bottom: 25px;
}
 .saved-search-area {
     padding-top: 30px;
 }

.saved-search-area h2 {
    padding-bottom: 25px;
}
.new-properties {
    overflow: hidden;
}


.section-property-title .section-title {
    padding-bottom: 0 !important;
    margin-bottom: 0;
}

.section-property-title {
    padding-bottom: 20px;
    margin-bottom: 20px;
    clear: both;
}

.section-property-title a {
    text-decoration: underline;
    cursor: pointer;
} 

#owl-slider .item:after,
#owl-slider .item:before {
    clear: both;
    content: "";
    display: table;
}
#owl-slider .item {
    padding: 15px;
    margin: 15px;
}
#owl-slider .item h4,
#owl-slider .item p {
    color: #fff;
    font-family: 'Open Sans', serif;
    margin: 0;
    padding: 0;
}
#owl-slider .item h4 {
    min-height: 40px;
}
#owl-slider .item img {
    height: 80px;
}
.new-listing-slider .customNavigation .btn {
    border-radius: 50%;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    width: 50px;
    height: 50px;
    padding: 2px;
}
.new-listing-slider .customNavigation .btn .fa {
    color: #fff;
}
.new-listing-slider .customNavigation .btn.next {
    right: -10px;
}
.new-listing-slider .customNavigation .btn.prev {
    left: -40px;
}
.customNavigation {
    position: absolute;
    text-align: center;
    top: 35%;
    z-index: 1;
    width: 100%;
    opacity: 1;
}
.customNavigation a {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.customNavigation a:active {
    box-shadow: none;
}
.customNavigation .fa:hover {
    color: #000;
}
.customNavigation a.prev {
    position: absolute;
    left: -30px;
    color: #6c7175;
    top: -16px;
}
.customNavigation a.next {
    position: absolute;
    right: 0;
    color: #6c7175;
    top: -20px;
}
.slider-view {
    color: #ff7e88;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-decoration: none;
}
.slider-view:hover {
    color: #fff;
    text-decoration: none;
}
.submit-button.btn-default.active.focus,
.submit-button.btn-default.active:focus,
.submit-button.btn-default.active:hover,
.submit-button.btn-default:active.focus,
.submit-button.btn-default:active:focus,
.submit-button.btn-default:active:hover,
.submit-button.open>.dropdown-toggle.btn-default.focus,
.submit-button.open>.dropdown-toggle.btn-default:focus,
.submit-button.open>.dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: #37B0E9;
    border-color: transparent;
}
.scrolltop {
    z-index: 9999;
    display: none;
    background: #3498DB;
    position: fixed;
    bottom: 25px;
    right: 30px;
    width: 60px;
    height: 50px;
    text-align: center;
    padding: 10px;
    color: #fff;
}
.scrolltop:hover {
    color: #fff;
}
.scrolltop .fa {
    font-size: 28px;
    font-weight: 700;
}
.advance-search-area .submit-button.submit-general {
    display: inline-table;
    vertical-align: middle;
    padding: 11px 15px;
}
.advance-search-area .navbar .navbar-nav.submit-filters li:hover {
    background-color: transparent;
}
.advance-search-area .navbar .navbar-nav.submit-filters {
    border-right: 0;
}
.navbar-search {
    min-height: 42px;
}
.navbar-search .navbar-form {
    margin-top: 4px;
    margin-bottom: 4px;
}
.navbar-brand img {
    max-width: 100%;
    background-color: rgba(255, 255, 255, .8);
    padding: 5px 8px;
}
.radio-sample li input[type=radio] {
    position: absolute;
    visibility: hidden;
}
.radio-sample li label {
    display: inline-block;
    position: relative;
    font-weight: 300;
    font-size: 15px;
    margin: 4px auto;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all .25s linear;
    color: #3C3B3E;
}
.radio-sample input[type=radio]:checked~label,
.radio-sample li:hover label {
    color: #FFF !important;
}
.radio-sample li .check {
    display: block;
    position: absolute;
    border: 5px solid #6b6e80;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 6px;
    left: 5px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
    visibility: hidden;
}
.radio-sample li:hover .check {
    border: 5px solid #FFF;
}
.radio-sample li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 8px;
    width: 8px;
    top: 1px;
    left: 1px;
    margin: auto;
    transition: background .25s linear;
    -webkit-transition: background .25s linear;
}
.radio-sample input[type=radio]:checked~.check {
    border: 5px solid #FFF;
}
.radio-sample input[type=radio]:checked~.check::before {
    background: #FFF;
}
.nav-lighten .navbar-brand img {
    background-color: transparent;
}
ul.radio-sample {
    background-color: #4D90FE;
}
.radio-sample li {
    display: inline-block;
    position: relative;
    margin-right: 15px;
}
.radio-sample.controls {
    display: flex;
    background-color: #ccc !important;
    padding: 0 !important;
}
.radio-sample.controls li {
    flex: 1;
    border-right: 1px solid #fff;
    margin: 0;
}
.radio-sample.controls li label {
    /* border: 1px solid #fff; */
    
     margin: 0;
    /* margin: 0; */
}
.radio-sample.controls li label {
    display: block;
    width: 100%;
    text-align: center;
}
.radio-sample.controls li:last-child {
    border-right: none;
}
.padding-0 {
    padding: 0;
}


/* Save search */
#save-search-grid {
    height: 482px;
    margin-bottom: 50px;
    overflow: hidden;
}
.save-featured-image {
    height: 482px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-size: cover !important;
    overflow: hidden;
}

.save-featured-image img {
    width: 100%;
    height: 100%;
}

.save-search-desc {
    position: absolute;
    top: 200px;
    text-align: left;
    left: 55px;
    color: #fff;
}
.save-search-desc p {
    font-size: 23px;
    font-weight: 100;
    color: #ddd;
}
.save-search-name {
    font-size: 40px;
    margin-top: 0;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}
.btn-view {
    background-color: #3498db;
    color: #fff;
    padding: 5px 50px;
    font-size: 25px;
    border-radius: 0;
    box-shadow: 5px 9px 3px rgba(0,0,0,0.2);
    letter-spacing: 3px;
    font-family: inherit;
}

.btn-view:hover {
    background-color: #227fbd;
    color: #fff;
    box-shadow: 5px 5px 1px rgba(0,0,0,0.2);
}

.paddingr-0 {
    padding-right: 0;
}

.paddingl-0 {
    padding-left: 0;
}

.save-property-image a img {
    width: 100%;
    height: 100%;
}

.save-property-price {
    position: absolute;
    background: #66697a;
    color: #fff;
    font-size: 13px;
    padding: 5px 10px;
    top: 0;
    right: 0;
}
.save-property-price p {
    margin-bottom: 0;
}

.save-property-image {
    height: 211px;
}

.save-property-title {
    position: absolute;
    bottom: 30px;
    padding: 5px 8px;
    width: 100%;
    background: rgba(0,0,0,0.4);
    color: #fff;
}

.save-property-title p {
    margin-bottom: 0;
}

.save-property-title p {
    font-size: 11px;
}

.save-property-title .save-property-name {
    font-size: 14px;
}

#save-search-grid.owl-theme .owl-controls .owl-buttons .owl-prev {
    padding: 8px 28px;
    left: -30px;
}

#save-search-grid.owl-theme .owl-controls .owl-buttons {
    top: 182px;
}
#save-search-grid .item {
    background-size: cover !important;
    overflow: hidden;
    height: 482px;
    background-position: 100% !important;
}


#save-search-grid.owl-theme .owl-controls .owl-buttons div {
    height: 70px;
    width: 70px;
    background: #d2d3d8 !important;
    font-size: 40px;
    font-weight: 100;
}

#save-search-grid.owl-theme .owl-controls .owl-buttons .owl-next {
    right: -30px;
    padding: 10px 15px;
}


.one-property .save-property-image {
    height: 452px;
}

#google_translate_element {
    z-index: 4;
    position: absolute;
    right: 0;
}

#google_translate_element select {
    padding: 5px;
    border-radius: 2px;
    margin-right: 7px;
}

@media only screen and (min-width:240px) and (max-width:552px) {
    .nav-lighten .tagline,
    .tagline {
        padding: 0 5px 0 15px;
    }
    .navbar-nav>li,
    .navbar-nav>li.active,
    .navbar-nav>li:hover {
        border-top: 0;
        border-bottom: 0 solid transparent;
    }
    .home-navbar .container,
    .home-navbar.nav-lighten .container,
    .navbar-brand>img {
        // width: auto;
    }
    .main-navbar {
        min-height: 115px;
        background: rgba(255, 255, 255, .9);
    }
    .main-navbar .userlog {
        color: #a1a1a1;
    }
    .tagline {
        // margin: 0 0 0 30px;
        text-align: left;
        text-shadow: none;
        color: #3498db;
        margin-left: 30px;
    }
    .navbar-header {
        padding: 0;
        position: relative;
    }
    .navbar-toggle .icon-bar {
        background: #3498db;
    }
    .navbar-brand {
        padding: 0;
        float: none;
    }
    .navbar-nav>li.active {
        border-left: 5px solid #3498db;
    }
    .navbar-nav>li {
        border-left: 5px solid transparent;
    }
    .navbar-nav>li:hover {
        border-left: 5px solid #3498DB;
    }
    .logo-preset {
        margin-top: 10px;
        padding:0 15px;
    }
    .navbar .navbar-nav li a {
        padding: 15px;
        color: #3498DB;
    }
    .navbar-brand img {
        background-color: transparent;
        max-width: 80%;
    }
    .registration-nav span.userlog {
        background-color: transparent;
        color: #a1a1a1;
        margin-right: 0;
        text-shadow: none;
    }
    .navbar .navbar-nav.nav-darken li a,
    .registration-nav a {
        text-shadow: none;
        color: #3498db;
    }
    .registration-nav span.nav-link {
        margin-right: 0;
        margin-top: 0;
    }
    .blog-detail-content,
    .filter-tab {
        margin-top: 40px;
    }
    .navbar .navbar-nav.nav-darken li:hover {
        border-bottom: 0;
    }
    .filter-list li {
        width: 100%;
        padding: 15px 0;
        position: relative;
    }
    .advance-search-form .navbar,
    .last-cancel,
    .second-cancel {
        display: none;
    }
    .advance-search-area, .nearby-listing-area {
        margin-top: 135px;
    }
    .advance-search-area .collapse {
        display: block;
        padding: 0!important;
    }
    .advance-search-area .collapse.navbar-collapse .nav-search-box {
        padding: 15px;
        margin: 0;
    }
    .advance-search-area .navbar-form {
        border: 0;
        box-shadow: none;
    }
    .advance-search-area .navbar .navbar-nav {
        margin: 0;
        border-right: 0;
        width: 100%
    }
    .advance-search-area .navbar .navbar-nav li>.dropdown-menu {
        background: rgba(0, 0, 0, .5);
        border-bottom: 1px solid #aaa;
        margin-top: 1px;
        padding: 15px 0;
        border-radius: 0;
    }
    .advance-search-area .navbar .navbar-nav>li.open>a {
        background: #3498DB;
    }
    .advance-search-area .navbar .navbar-nav>li,
    .advance-search-area .navbar .navbar-nav>li:hover {
        border-bottom: 1px solid #e3e3e3;
        background: 0 0;
    }
    .property-image img,
    .search-property-image img {
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    .advance-search-area .show-map-area {
        width: 100%
    }
    .advance-search-area .navbar .navbar-nav.show-map-area>li,
    .advance-search-area .show-map-area li:last-child {
        border-bottom: 0;
    }
    .filter-search-button {
        width: auto;
        text-align: left;
    }
    .advance-search-area .submit-button {
        width: 100%;
        margin-bottom: 0;
        border-bottom: 1px solid #ccc;
    }
    .search-listings .alert.alert-warning {
        padding: 10px;
    }
    .search-listings .alert.alert-warning h4 {
        font-size: 16px;
        margin: 0;
    }
    .advance-search-area .navbar .show-map-area {
        display: none;
    }
    .submit-search:after,
    .submit-search:before {
        clear: both;
        display: table;
        content: ""
    }
    .contact-agent,
    .contact-panel,
    .filter-panel,
    .property-address,
    .property-price,
    .property-title {
        display: none;
    }
    .filters {
        position: absolute;
        top: 40%;
        width: 100%
    }
    .filter-property {
        width: 100%;
        left: 0;
        padding: 0;
    }
    .filter-property .home-search,
    .filter-property button {
        height: 34px;
        padding: 6px 12px;
    }
    .filter-property .city-search {
        width: 100%
    }
    .filter-property button {
        float: right;
        font-size: 16px;
        margin-left: 1px;
        width: auto;
    }
    .agent-info-area,
    .featured-listing-area {
        padding: 25px;
    }
    .featured-list-item {
        margin-bottom: 15px;
    }
    .property-image {
        height: 200px;
        position: relative;
        overflow: hidden;
    }
    #saved-searches .property-image {
        height: 150px;
    }
    .property-image img {
        background-size: auto;
        height: 100%;
        width: 100%
    }
    .advance-search-area .submit-button.submit-general {
        margin: 0;
    }
    .featured-list .col-md-3 {
        margin-bottom: 15px;
    }
    .mortage-calculator {
        margin-bottom: 20px;
        width: 100%
    }
    .agent-detail li {
        font-size: 14px;
    }
    .agent-info-area .nopadding-left {
        padding: 0;
        margin-top: 10px;
    }
    .sold-image {
        height: 150px;
    }
    .sold-image img {
        width: 100%;
        height: 100%;
        background-size: auto;
    }
    .owl-carousel .owl-wrapper-outer {
        height: 300px!important;
    }
    .agent-detail {
        margin-bottom: 30px;
        padding: 0;
    }
    .other-listing-item {
        box-shadow: none;
    }
    .blog-contact-area h2 {
        font-size: 20px;
    }
    .filter-search-button,
    .view-map-button {
        margin-left: 0;
        margin-bottom: 5px;
    }
    .search-property-image {
        height: 200px;
        overflow: hidden;
        position: relative;
    }
    .search-property-image img {
        background-size: auto;
        min-height: 100%;
        min-width: 100%
    }
    .search-property-location,
    .search-property-title {
        max-width: 100%
    }
    #map_canvas {
        height: 400px!important;
    }
    .radio-sample.controls li label span {
        display: block;
    }
    .blog-summary .date {
        height: 80px;
        width: 80px;
    }
    .location-info {
        padding: 0;
    }
    .tab-content>.active {
        border: 1px solid #a1a1a1;
        width: 100%;
        padding: 10px;
    }
    .property-details h4 {
        padding: 10px;
        margin: 0;
    }
    .property-details p{
        text-align: center;
    }
    .property-detail-sections {
        padding: 0;
    }
    .property-details .nav-tabs li a {
        border: 1px solid #c1c1c1;
        background: #f1f1f1;
        margin-right: 0;
        text-align: center;
        border-radius: 10px 10px 0 0;
        margin-bottom: -5px;
    }
    .property-details .nav-tabs li a:last-child {
        border-bottom: none;
    }
    .property-details ul li a:focus,
    .property-details ul li.active a,
    .property-details ul li.active a:focus,
    .property-details ul li.active a:hover {
        padding: 15px;
        font-size: 18px;
        z-index: 9;
    }
    .property-detail-header img {
        top: 135px;
    }
    #fullspec .property-detail-list ul {
        box-shadow: none;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 0px;
        -moz-column-gap: 0px;
        column-gap: 0px;
    }
    .photo-gallery .col-xs-4 {
        margin: 0;
        padding: 5px;
    }
    .photo-gallery-image .see-all {
        top: 5px;
        left: 5px;
        height: 93%;
        width: 93%
    }
    .property-details .listing-icons {
        margin: 15px 0;
        text-align: left;
    }
    .property-details .listing-icons li {
        width: 15%
    }
    .property-details ul li,
    .view-full {
        width: 100%
    }
    .property-header-text {
        top: 138px;
        width: 100%;
        text-align: left;
        margin-left: 30%;
        left: 0;
    }
    .property-view .property-header-text {
        top: 138px;
        margin-left: 20px;
    }
    .property-header-text h2,
    .property-header-text h3 {
        font-size: 14px;
    }
    .property-header-text p {
        font-size: 14px;
        margin-bottom: 0;
    }
    .property-detail-header {
        height: 325px;
    }
    .floating-panel {
        position: fixed;
        right: 0;
        z-index: 1031;
        top: 35%
    }
    .other-related-items {
        height: 200px;
        overflow: hidden;
    }
    .other-related-items a {
        height: 110px;
    }
    .other-related-items img {
        min-height: 100%;
        background-size: auto;
    }
    .see-all p {
        margin: 25px 0 0;
    }
    .contact-agent-button,
    .property-detail-list .table-responsive.table-striped {
        display: block;
    }
    .view-full {
        margin-left: 0;
    }
    .property-header-price {
        margin-top: 0;
    }
    .sold-banner-large .detail-sold-banner {
        width: 80px;
        top: 135px;
        position: absolute;
    }
    .sold-banner-large {
        top: 15px;
    }
    h5.property-type {
        display: none;
    }
    #fb-btn img,
    .customer-dashboard .table-responsive {
        display: block;
    }
    #fb-btn img {
        height: 34px;
        width: 72%!important;
        margin: 0 auto;
    }
    .customer-dashboard .nav-tabs li a span {
        display: none;
    }
    .customer-dashboard .nav-tabs {
        border-bottom: none;
    }
    .customer-dashboard .btn-edit {
        float: none;
        display: block;
        margin-top: 10px;
    }
    .customer-dashboard h3 {
        font-size: 20px;
    }
    .mobile-center {
        text-align: center;
    }
    .msgBox {
        left: 2px!important;
        width: 410px!important;
    }
    .msgBoxContent {
        width: 290px!important;
    }
    .alert-dismissable .close,
    .alert-dismissible .close {
        display: block;
        width: 100%;
        right: 0;
        margin-bottom: 10px;
    }
    .submit-button {
        padding: 10px 15px;
    }
    .view-map-button {
        clear: both;
        display: inline-block;
        margin-top: 0;
        margin-left: 0;
        text-align: left;
    }
    .follow-search {
        display: block;
    }
    .btn-show-filter {
        text-align: left;
    }
    .filter-button-container {
        margin-top: 40px;
    }
    .contact-area,
    .mortgage {
        padding: 0 25px;
    }
    .contact-area h4 {
        margin-top: 50px;
        padding-bottom: 0;
    }
    .contact-area br {
        display: none;
    }
    .footer-copyright .brand-name {
        display: block;
        margin-bottom: 20px;
        width: 60%
    }
    .footer-modal-links li {
        display: block;
        margin-bottom: 5px;
    }
    .footer-modal-links li:after {
        display: none;
    }
    .footer-modal-links li a {
        font-size: 13px;
    }
    #features_modal .modal-dialog {
        width: 100%;
        margin: 0;
    }
    #features_modal {
        margin-top: 136px !important;
    }
    .scrolltop {
        bottom: 75px;
    }

    #save-search-grid .owl-wrapper-outer {
        height: 100% !important;
    }

    #save-search-grid {
        height: 100%;
        overflow: visible;
    }
    #save-search-grid .item .col-md-6.col-sm-6.col-xs-12.paddingl-0 {
        padding-left: 15px;
    }
    #save-search-grid.owl-theme .owl-controls .owl-buttons div {
        text-align: center;
        width: 70px;
        height: 40px;
        opacity: 1;
        margin-top: 6px;
        font-size: 30px;
        padding: 0 !important;
        border-radius: 10px;
    }

    #save-search-grid.owl-theme .owl-controls .owl-buttons {
        bottom: 0 !important;
        top: initial;
    }

    #save-search-grid.owl-theme .owl-controls .owl-buttons .owl-prev {
        left: -2px;
    }

    #save-search-grid.owl-theme .owl-controls .owl-buttons .owl-next {
        right: 0;
    }
    .save-search-name {
        font-size: 30px;
    }
    .save-search-desc {
        position: initial;
        text-align: center;
        margin-bottom: 10px;
        color: #6c7175;
    }

    #save-search-grid .item {
        background-image: none !important;
        height: 100%;
    }

    .save-search-desc .btn-view {
        box-shadow: none;
        background-color: transparent;
        font-size: 15px;
        color: #337ab7;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 0;
    }

    /*new home*/
    .trapezoid{
        width: 100%;
    }
    .featured-listing-area{
        padding:25px 0;
    }
    .featured-listing-area .property-listing-description{
        bottom:0px;
    }
    .featured-title-container .section-title{
        font-size: 23px;
        margin-top: 0;
        padding-top: 20px;
    }
    .featured-list .col-md-3{
        margin-bottom:0;
    }
    .other-listing-area .featured-list-item{
        padding:0;
    }
    .no-padding-left{
        padding: 0;
    }
    .property-image{
        margin:0;
    }
    .nearby-image{
        height:200px;
        position: relative;
        overflow:hidden;
    }
    .nearby-image img{
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: auto;
        min-height: 100%;
        min-width: 100%;
    }
    .nearby-description{
        padding: 0 0 5px 0;
    }
    .property-listing-description{
        padding:15px;
        bottom:0px;
    }

    /*property detail page*/
    .other-related-description p{
        text-align: left;
    }

    .mobilepadding-0 {
        margin-bottom: 20px;
        padding: 0;
    }
}
@media only screen and (min-width:553px) and (max-width:767px) {
    .navbar-nav>li,
    .navbar-nav>li.active,
    .navbar-nav>li: hover {
        border-top: 0;
        border-bottom: 0 solid transparent;
    }
    .navbar .navbar-nav.nav-darken li a,
    .registration-nav a,
    .tagline {
        text-shadow: none;
        color: #3498db;
    }
    .navbar-toggle .icon-bar {
        background: #3498db;
    }
    .navbar-brand {
        padding: 0;
        float: none;
    }
    .navbar-brand>img {
        width: auto;
    }
    .navbar-brand img {
        background-color: transparent;
    }
    .navbar-header {
        position: relative;
        padding: 0 15px;
    }
    .main-nav {
        height: 300px;
    }
    .navbar .navbar-nav li a {
        padding: 15px;
    }
    .navbar-nav>li.active {
        border-left: 5px solid #3498db;
    }
    .navbar-nav>li {
        border-left: 5px solid transparent;
    }
    .navbar-nav>li:hover {
        border-left: 5px solid #3498DB;
    }
    .tagline {
        text-align: left;
        padding-left: 0;
    }
    .logo-preset {
        margin-top: 10px;
    }
    .nav {
        height: 200px!important;
    }
    .navbar-collapse.in {
        overflow-y: auto;
    }
    .navbar-fixed-bottom,
    .navbar-fixed-top {
        overflow: auto;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 250px;
    }
    .blog-detail-content,
    .filter-tab {
        margin-top: 40px;
    }
    .navbar .navbar-nav.nav-darken li:hover {
        border-bottom: 0;
    }
    .home-navbar {
        background: rgba(255, 255, 255, .8);
    }
    .filter-list li {
        width: 100%;
        padding: 15px 0;
        position: relative;
    }
    .last-cancel,
    .second-cancel {
        display: none;
    }
    .registration-nav span.nav-link {
        margin-right: 0;
    }
    .advance-search-area,.nearby-listing-area {
        margin-top: 150px;
    }
    .advance-search-area .collapse {
        display: block;
        padding: 0 15px!important;
    }
    .advance-search-area .navbar .navbar-nav.show-map-area {
        display: none;
    }
    .advance-search-area .submit-button {
        display: block!important;
        width: 100%
    }
    .contact-panel,
    .filter-panel {
        display: none;
    }
    .advance-search-area .nav {
        height: auto!important;
    }
    .advance-search-area .collapse.navbar-collapse .nav-search-box {
        padding: 15px;
        margin-left: 15px;
    }
    .advance-search-area .navbar-form {
        border: 0;
        box-shadow: none;
    }
    .advance-search-area .navbar .navbar-nav {
        margin: 0;
        border-right: 0;
        width: 100%
    }
    .featured-list-item,
    .home-other-listing-item {
        margin-bottom: 15px;
    }
    .advance-search-area .navbar .navbar-nav li .dropdown-menu {
        background: rgba(0, 0, 0, .5);
        border-bottom: 1px solid #aaa;
        margin-top: 1px;
        padding: 15px 0;
        border-radius: 0;
    }
    .advance-search-area .navbar .navbar-nav>li.open>a {
        background: #3498DB;
    }
    .advance-search-area .navbar .navbar-nav>li,
    .advance-search-area .navbar .navbar-nav>li:hover {
        border-bottom: 1px solid #e3e3e3;
        background: 0 0;
    }
    .property-image img,
    .search-property-image img,
    .sold-image img {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: auto;
        min-height: 100%;
        min-width: 100%;
    }
    .advance-search-area .show-map-area {
        width: 100%
    }
    .advance-search-area .navbar .navbar-nav.show-map-area>li,
    .advance-search-area .show-map-area li:last-child {
        border-bottom: 0;
    }
    .filters {
        position: absolute;
        top: 220px;
        width: 100%
    }
    .filter-property {
        width: 100%;
        left: 0;
        padding: 0;
    }
    .filter-tabs .nav {
        height: 0;
    }
    .filter-property .home-search,
    .filter-property button {
        height: 34px;
        padding: 6px 12px;
    }
    .filter-property .city-search {
        width: 100%
    }
    .filter-property button {
        float: right;
        font-size: 16px;
        margin-left: 1px;
        width: auto;
    }
    .sold-image {
        height: 150px;
    }
    .owl-carousel .owl-wrapper-outer {
        height: 300px!important;
    }
    .property-image {
        height: 150px;
        position: relative;
        overflow: hidden;
    }
    .filter-search-button,
    .view-map-button {
        margin-left: 0;
        margin-bottom: 5px;
    }
    .search-property-image {
        height: 200px;
        overflow: hidden;
        position: relative;
        margin: 5px 0;
    }
    .search-property-location,
    .search-property-title {
        max-width: 100%
    }
    #map_canvas {
        height: 400px!important;
    }
    .radio-sample.controls li label span {
        display: block;
    }
    .filter-button-container {
        display: block;
    }
    .blog-summary .date {
        height: 80px;
        width: 80px;
    }
    .location-info {
        padding: 0;
    }
    .tab-content>.active {
        border: 1px solid #a1a1a1;
        width: 100%;
        padding: 10px;
    }
    .property-details h4 {
        padding: 10px;
        margin: 0;
    }
    .property-detail-sections {
        padding: 0;
    }
    .property-details .nav-tabs li a {
        border: 1px solid #c1c1c1;
        background: #f1f1f1;
        margin-right: 0;
        text-align: center;
        border-radius: 10px 10px 0 0;
        margin-bottom: -5px;
    }
    .property-details .nav-tabs li a:last-child {
        border-bottom: none;
    }
    .property-details ul li a:focus,
    .property-details ul li.active a,
    .property-details ul li.active a:focus,
    .property-details ul li.active a:hover {
        padding: 15px;
        font-size: 18px;
        z-index: 9;
    }
    .property-details ul li,
    .view-full {
        width: 100%
    }
    .property-detail-header img {
        top: 0;
    }
    .property-header-text {
        top: 135px;
        text-align: left;
        width: 100%;
        margin-left: 15%
    }
    .property-header-text h2,
    .property-header-text h3,
    .property-header-text p {
        font-size: 14px;
    }
    .property-detail-header {
        height: 250px;
    }
    .floating-panel {
        position: fixed;
        right: 0;
        z-index: 1031;
        top: 15%
    }
    .property-address,
    .property-price,
    .property-title {
        display: none;
    }
    .property-details .nav {
        height: auto;
    }
    .contact-agent-button {
        display: block;
    }
    .contact-agent,
    h5.property-type {
        display: none;
    }
    .view-full {
        margin-left: 0;
    }
    .property-header-price {
        margin-top: 0;
    }
    .filter-tab {
        margin: 15px 15%
    }
    .agent-image {
        text-align: center;
    }
    .sold-banner-large .detail-sold-banner {
        width: 100px;
        top: 149px;
        position: absolute;
    }
    #fb-btn img {
        height: 34px;
        width: 166px!important;
        margin: 5px 0;
    }
    .customer-dashboard .table-responsive {
        display: block;
    }
    .customer-dashboard .nav-tabs li a span {
        display: none;
    }
    .customer-dashboard .nav-tabs {
        border-bottom: none;
    }
    .customer-dashboard .btn-edit {
        float: none;
        display: block;
        margin-top: 10px;
    }
    .customer-dashboard h3 {
        font-size: 20px;
    }
    .mobile-center {
        text-align: center;
    }
    .msgBox {
        left: 2px!important;
        width: 410px!important;
    }
    .msgBoxContent {
        width: 290px!important;
    }
    .registration-nav {
        margin-top: 15px;
    }
    .alert-dismissable .close,
    .alert-dismissible .close {
        display: block;
        width: 100%;
        right: 0;
        margin-bottom: 10px;
    }
    .submit-button {
        padding: 10px 15px;
    }
    .view-map-button.submit-button {
        float: left;
        margin-left: 0;
        padding: 7px 20px;
        margin-top: 1px;
        margin-bottom: 1px;
        text-align: center;
    }
    .advance-search-area #more-filters-area .more-filter {
        width: 100%
    }
    .filter-button-container {
        margin-top: 40px;
    }
    .contact-area,
    .mortgage {
        padding: 0 25px;
    }
    .contact-area h4 {
        margin-top: 50px;
        padding-bottom: 0;
    }
    .contact-area br {
        display: none;
    }
    #save-search-grid.owl-theme .owl-controls .owl-buttons div {
        text-align: center;
        width: 70px;
        height: 40px;
        opacity: 1;
        margin-top: 6px;
        font-size: 30px;
        padding: 0 !important;
        border-radius: 10px;
    }

    #save-search-grid.owl-theme .owl-controls .owl-buttons {
        bottom: 0 !important;
        top: initial;
    }

    #save-search-grid.owl-theme .owl-controls .owl-buttons .owl-prev {
        left: -2px;
    }

    #save-search-grid.owl-theme .owl-controls .owl-buttons .owl-next {
        right: 0;
    }
    .save-search-name {
        font-size: 30px;
    }

    /*new home*/
    .featured-listing-area .featured-list-item{
        margin:0 15%;
    }
    .featured-listing-area .property-image{
        height: 250px;
    }
    .featured-listing-area .property-listing-description{
        padding:10px 15px;
    }
    .featured-listing-area .featured-listing-area{
        padding: 0 25px 25px 25px;
    }
    .other-listing-area .featured-list-item{
        margin:0 15%;
    }
    .other-listing-area .property-image{
        height: 250px;
    }
    .other-listing-area .property-listing-description{
        bottom:0;
        padding:10px 15px;
    }
    .nearby-image{
        height: auto;
        max-height: 100%;
    }
    .nearby-listings-area > ul > li{
        margin:0 15%;
    }
    .nearby-description{
        padding:10px 15px;
    }
    .navbar-nav>li.active, 
    .navbar-nav>li:hover{
        border-bottom:0;
    }
    /*.trapezoid{
        width: 100%;
    }
    .featured-listing-area{
        padding:25px 0;
    }
    .featured-title-container .section-title{
        font-size:15px;
    }
    .featured-list .col-md-3{
        margin-bottom:0;
    }
    .other-listing-area .featured-list-item{
        padding:0;
    }
    .no-padding-left{
        padding: 0;
    }
    .property-image{
        margin:0;
    }*/
}
@media only screen and (max-width:640px) and (orientation:landscape) {
    .registration-nav span.nav-link {
        margin-right: 0;
    }
    .navbar-nav>li,
    .navbar-nav>li.active,
    .navbar-nav>li: hover {
        border-top: 0;
        border-bottom: 0 solid transparent;
    }
    .navbar .navbar-nav.nav-darken li a,
    .registration-nav a,
    .tagline {
        text-shadow: none;
        color: #3498db;
    }
    .filter-list li,
    .navbar-header,
    .property-image {
        position: relative;
    }
    .nav {
        height: auto;
    }
    .navbar-brand>img {
        width: auto;
    }
    .advance-search-area .show-map-area,
    .filter-list li,
    .filter-property,
    .filter-property .city-search,
    .filters,
    .search-bar {
        width: 100%
    }
    .navbar-brand img {
        background-color: transparent;
    }
    .main-navbar .navbar-header {
        padding: 0 15px;
    }
    .logo-preset {
        margin-top: 10px;
    }
    .navbar-nav>li.active {
        border-left: 5px solid #3498db;
    }
    .navbar-nav>li {
        border-left: 5px solid transparent;
    }
    .navbar-nav>li:hover {
        border-left: 5px solid #3498DB;
    }
    .navbar-collapse.in {
        overflow-y: auto;
    }
    .navbar-fixed-bottom,
    .navbar-fixed-top {
        overflow: auto;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 200px;
    }
    .main-nav {
        height: 300px;
    }
    .registration-nav {
        margin-top: 15px;
    }
    .blog-detail-content,
    .filter-tab {
        margin-top: 40px;
    }
    .navbar .navbar-nav.nav-darken li:hover {
        border-bottom: 0;
    }
    .home-navbar {
        background: rgba(255, 255, 255, .8);
    }
    .featured-list-item {
        margin-bottom: 15px;
        padding: 0 15%
    }
    .property-image {
        height: 150px;
        overflow: hidden;
        margin: 0;
    }
    .property-image img {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: auto;
        min-height: 100%;
        min-width: 100%
    }
    .property-listing-price {
        right: 15px;
    }
    .home-other-listing-item {
        padding: 0 15%
    }
    .filter-list li {
        padding: 15px 0;
    }
    .search-bar {
        margin-top: 15px;
    }
    .last-cancel,
    .second-cancel {
        display: none;
    }
    .advance-search .nav {
        height: auto;
    }
    .advance-search-area .collapse {
        display: block;
        padding: 0 15px!important;
    }
    .contact-panel,
    .filter-panel {
        display: none;
    }
    .advance-search-area .collapse.navbar-collapse .nav-search-box {
        padding: 15px;
    }
    .advance-search-area .navbar-form {
        border: 0;
        box-shadow: none;
    }
    .advance-search-area .navbar .navbar-nav {
        margin: 0;
        border-right: 0;
        width: 100%
    }
    .advance-search-area .navbar .navbar-nav li .dropdown-menu {
        background: rgba(0, 0, 0, .5);
        border-bottom: 1px solid #aaa;
        margin-top: 1px;
        padding: 15px 0;
        border-radius: 0;
    }
    .advance-search-area .navbar .navbar-nav>li.open>a {
        background: #3498DB;
    }
    .advance-search-area .navbar .navbar-nav>li,
    .advance-search-area .navbar .navbar-nav>li:hover {
        border-bottom: 1px solid #e3e3e3;
        background: 0 0;
    }
    .search-property-image img,
    .sold-image img {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: auto;
        min-height: 100%;
        min-width: 100%
    }
    .advance-search-area .navbar .navbar-nav.show-map-area>li,
    .advance-search-area .show-map-area li:last-child {
        border-bottom: 0;
    }
    .filters {
        position: absolute;
        top: 50%
    }
    .filter-property {
        left: 0;
        padding: 0;
    }
    .filter-property .home-search,
    .filter-property button {
        height: 34px;
        padding: 6px 12px;
    }
    .filter-property button {
        float: right;
        font-size: 16px;
        margin-left: 1px;
        width: auto;
    }
    .home-other-listing-item {
        margin-bottom: 15px;
    }
    .owl-carousel .owl-wrapper-outer {
        height: 300px!important;
    }
    .owl-buttons {
        margin-top: 15px;
    }
    .sold-image {
        height: 150px;
        overflow: hidden;
    }
    .filter-search-button,
    .view-map-button {
        margin-left: 0;
        margin-bottom: 5px;
    }
    .view-map-button {
        margin-left: 15px;
        padding: 10px 20px;
        clear: both;
        float: left;
    }
    .view-map-button.submit-button {
        float: left;
        margin-left: 0;
        padding: 7px 20px;
        margin-top: 1px;
        margin-bottom: 1px;
        text-align: left;
    }
    .search-property-image {
        height: 200px;
        overflow: hidden;
        position: relative;
        margin: 5px 0;
    }
    .search-property-location,
    .search-property-title {
        max-width: 100%
    }
    #map_canvas {
        height: 400px!important;
    }
    .filter-button-container {
        display: block;
    }
    .blog-summary .date {
        height: 80px;
        width: 80px;
    }
    .property-detail-header img {
        top: 0;
    }
    .property-header-text {
        top: 140px;
        text-align: left;
        width: 100%;
        margin-left: 30px;
    }
    .property-header-text h2,
    .property-header-text h3,
    .property-header-text p {
        font-size: 14px;
    }
    .property-detail-header {
        height: 300px;
    }
    .floating-panel {
        position: fixed;
        right: 0;
        z-index: 1031;
        top: 35%
    }
    .property-address,
    .property-price,
    .property-title {
        display: none;
    }
    .property-details ul li {
        width: auto;
    }
    .contact-agent-button {
        display: block;
    }
    .contact-agent,
    .contact-area br,
    h5.property-type {
        display: none;
    }
    .view-full {
        width: 100%;
        margin-left: 0;
    }
    .property-header-price {
        margin-top: 0;
    }
    .sold-banner-large .detail-sold-banner {
        width: 100px;
        top: 149px;
        position: absolute;
    }
    #fb-btn img {
        height: 34px;
        width: 166px!important;
        margin: 5px 0;
    }
    #save-search-grid{
        padding:0 15%;
    }
    #save-search-grid.owl-theme .owl-controls .owl-buttons div {
        text-align: center;
        width: 70px;
        height: 40px;
        opacity: 1;
        margin-top: 6px;
        font-size: 30px;
        padding: 0 !important;
        border-radius: 10px;
    }
    #save-search-grid.owl-theme .owl-controls .owl-buttons {
        bottom: 0 !important;
        top: initial;
        left:0;
    }

    #save-search-grid.owl-theme .owl-controls .owl-buttons .owl-prev {
        left: -2px;
    }

    #save-search-grid.owl-theme .owl-controls .owl-buttons .owl-next {
        right: 0;
    }
    .save-search-name {
        font-size: 30px;
    }

    /*new home*/
    .featured-listing-area .property-image{
        height:250px;
    }
    .featured-listing-area .featured-list-item{
        padding:0;
        margin:0 15%;
    }
    .featured-listing-area .property-listing-description{
        padding:5px 15px;
    }
    .featured-listing-area .property-listing-price{
        right:0;
    }
    .other-listing-area .property-listing-description{
        bottom:0;
        padding:5px 15px;
    }
    .other-listing-area .featured-list-item{
        padding:0;
        margin:0 15%;
    }
    .other-listing-area .property-image{
        height: 250px;
    }
    .other-listing-area .property-listing-price{
        right:0;
    }
    .other-listing-area .other-listing-title{
        padding: 0 15%;
    }
    .nearby-listings-area > ul > li{
        margin:0 15%;
    }
    .nearby-listings-area .no-padding-left{
        padding:0;
    }
    .nearby-listings-area .nearby-image{
        height: auto;
    }
    .nearby-listings-area .nearby-description{
        padding:15px 0;
    }

    .mobilepadding-0 {
        margin-bottom: 20px;
        padding: 0;
    }

    /*.trapezoid{
        width: 100%;
    }
    .featured-listing-area{
        padding:25px 0;
    }
    .featured-title-container .section-title{
        font-size:15px;
    }
    .featured-list .col-md-3{
        margin-bottom:0;
    }
    .other-listing-area .featured-list-item{
        padding:0;
    }
    .no-padding-left{
        padding: 0;
    }
    .property-image{
        margin:0;
    }*/
}
@media only screen and (min-width:767px) and (max-width:773px) {
    .registration-nav span.nav-link {
        margin-right: 0;
    }
    .advance-search-area .navbar .navbar-nav li a {
        padding: 10px 6px;
        margin-top: 4px;
    }
    .advance-search-area .navbar .more-filters {
        border-right: 0;
    }
    .advance-search-area , .nearby-listing-area{
        margin-top: 105px;
    }
    .featured-listing-area {
        padding: 20px 15px;
    }
    .agent-info-area {
        overflow-x: hidden;
        padding: 25px 20px;
    }
    .sold-banner-large .detail-sold-banner {
        width: 145px;
        top: 146px;
        position: absolute;
    }
    .property-detail-header img {
        top: 0;
    }
    .property-header-text {
        top: 120px;
        width: 100%;
        text-align: center;
    }
    .sold-banner-large {
        top: -20px;
    }

    .save-search-name {
        font-size: 30px;
    }

    /*new home*/
    .property-image{
        height: 200px;
    }
    .featured-list-item{
        margin:0;
    }

}
@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:portrait) {
    .registration-nav span.nav-link {
        margin-right: 0;
    }
    .property-image img,
    .sold-image img {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: auto;
    }
    .container {
        width: 100%
    }
    .main-navbar .navbar {
        padding-bottom: 15px;
    }
    .navbar .navbar-nav li a {
        padding: 15px;
    }
    .navbar-header a.navbar-brand {
        margin-left: 0!important;
    }
    .tagline {
        text-align: center;
    }
    .filters {
        top: 220px;
    }
    .filter-property {
        padding: 0;
    }
    .search-bar {
        margin-top: 10px;
    }
    .sub-filter {
        top: 65px;
    }
    .last-cancel {
        display: none;
    }
    .second-cancel {
        display: block;
    }
    .advance-search-area .navbar .navbar-nav li a {
        padding: 10px 8px;
    }
    .more-filters {
        border-right: 0;
    }
    .advance-search-area .collapse.navbar-collapse .nav-search-box {
        width: 200px;
    }
    .search-label {
        display: none;
    }
    .contact-panel,
    .sold-property-details {
        display: block;
    }
    .advance-search-area .submit-button.submit-general {
        padding: 12px 20px;
    }
    .advance-search-area #more-filters-area .more-filter {
        width: 100%
    }
    .property-image {
        // height: 120px;
    }
    .property-image img {
        height: 100%;
        width: 100%
    }
    .sold-image {
        height: 150px;
        overflow: hidden;
        position: relative;
    }
    .sold-image img {
        min-height: 100%;
        min-width: 100%
    }
    .owl-controls {
        margin-top: 0;
    }
    .agent-detail li {
        font-size: 14px;
    }
    .contact-area,
    .mortgage {
        padding: 0;
    }
    .blog-summary .date {
        background: #3498db;
        border-radius: 50%;
        color: #fff;
        height: 80px;
        padding: 5px 0;
        text-align: center;
        width: 80px;
    }
    .property-detail-header {
        height: 300px;
    }
    .sold-banner-large .detail-sold-banner {
        width: 175px;
        top: 135px;
        position: absolute;
    }
    .property-detail-header img {
        top: 0;
    }
    .property-details .nav.nav-tabs {
        margin-top: 20px;
    }
    .property-details .mlsLogo {
        width: 70%!important;
    }
    #fullspec .property-detail-list ul {
        box-shadow: none;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 0px;
        -moz-column-gap: 0px;
        column-gap: 0px;
    }
    .photo-gallery .col-md-2.col-sm-4 {
        padding: 5px;
        margin: 0;
    }
    .photo-gallery-image .see-all {
        top: 5px;
        left: 5px;
        height: 93%;
        width: 93%
    }
    .property-header-text {
        top: 125px;
        width: 100%;
        text-align: left;
        margin-left: 15%;
        // left: 100px;
    }
    .property-view .property-header-text {
        top: 125px;
        left: -70px;
    }
    .other-listing-item {
        height: auto;
    }
    .property-header-text h2,
    .property-header-text h3 {
        font-size: 30px;
    }
    .property-details ul li:after,
    .property-details ul li:before {
        clear: both;
        display: table;
        content: ""
    }
    .property-details ul li a {
        font-size: 13px;
    }
    .listing-icons li {
        padding-left: 0!important;
    }
    .view-full {
        width: 50%;
        margin-left: 0;
    }
    .contact-agent {
        display: block;
    }
    #fb-btn img {
        height: 34px;
        width: 166px!important;
        margin: 5px 0;
    }
    .stButton .stLarge {
        width: 30px!important;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .contact-area br {
        display: none;
    }
    .customNavigation a {
        font-size: 10px;
    }
    .customNavigation a.prev {
        left: -20px;
    }
    .customNavigation a.next {
        right: 12px;
    }
    #features_modal .modal-dialog {
        width: 95%;
        margin-left: 10px;
    }
    .save-search-name {
        font-size: 35px;
    }

    .nearby-image {
        min-height: 149px;
        height: 149px;
    }
    .featured-title-container .section-title {
        margin-top: 0;
    }
    /*new home*/
    /*.property-image{
        height: 200px;
    }
    .featured-list-item{
        margin:0;
    }*/

    /*new home*/
    .other-listing-area .property-image img{
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: auto auto;
        min-height: 100%;
        height:auto;
    }
    .featured-listing-area .property-image {
        height: 200px;
    }
    .featured-listing-area{
        padding:0 0 25px;
    }
    #save-search-grid{
        height:400px;
    }
    .save-property-image{
        height: 170px;
    }
    
    /*Mortage*/
    .mobilepadding-0 {
        padding: 0;
    }

    .mortage-calculator {
        margin-bottom: 15px;
    }
    .mortage-calculator textarea.form-control {
        height: 100px;
    }
    .mortage-calculator h3 {
        margin-bottom: 0;
    }

    .mobilepadding-0 {
        margin-bottom: 20px;
        padding: 0;
    }
}
@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
    .registration-nav span.nav-link {
        margin-right: 0;
    }
    .tagline {
        text-align: left;
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0;
    }
    .blog-summary .date {
        background: #3498db;
        border-radius: 50%;
        color: #fff;
        height: 80px;
        padding: 5px 0;
        text-align: center;
        width: 80px;
    }
    .last-cancel {
        display: block;
    }
    .second-cancel {
        display: none;
    }
    .filters {
        top: 30%
    }
    .filter-property {
        padding: 0 15%
    }
    .contact-panel {
        display: block;
    }
    .property-header-text {
        top: 200px;
        text-align: left;
    }
    .property-view .property-header-text {
        top: 200px;
    }
    .property-detail-header {
        height: 425px;
    }
    .property-details h4 {
        text-align: left;
    }
    .property-details ul li:after,
    .property-details ul li:before {
        clear: both;
        display: table;
        content: ""
    }
    .view-full {
        width: 50%
    }
    .sold-banner-large img {
        top: -80px;
    }
    #fb-btn img {
        height: 34px;
        width: 166px!important;
        margin: 5px 0;
    }
    .contact-area br,
    .search-label {
        display: none;
    }
    .advance-search-area .submit-button.submit-general {
        padding: 11px 20px;
    }
    #features_modal {
        margin-top: 80px!important;
    }
    .modal-open .modal {
        margin-top: 0!important;
        // z-index: 9!important;
    }
    #features_modal .modal-dialog {
        width: 95%;
        margin-left: 40px;
    }
    .save-search-name {
        font-size: 35px;
    }

    .mobilepadding-0 {
        margin-bottom: 20px;
        padding: 0;
    }
    #save-search-grid{
        height:400px;
    }
    .save-property-image{
        height: 170px;
    }
}