@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700);
.scroll-to-top {
    background: #474747;
    border: 5px solid #2a2a2a;
    border-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #fff;
    display: none;
    height: 50px;
    border-radius: 50%;
    left: 95%;
    line-height: 3.5;
    padding: 0 5px;
    position: fixed;
    text-align: center;
    top: 95%;
    width: 50px;
    z-index: 1051;
    cursor: pointer;
    margin-top: -20px;
}

.scroll-to-top a {
    color: #fff;
}

.scroll-to-top i {
    font-size: 30px;
}


/*nav bar*/

.navbar {
    background: rgba(0, 0, 0, .6);
    padding: 0 15px;
    height: 50px;
}

.navbar-brand {
    text-shadow: none;
    color: #fff;
    font-family: 'Bitter', serif;
    font-size: 2rem;
    padding: 0;
    font-weight: bold;
}

.navbar-brand>img {
    width: auto;
    display: inline-block;
}

.navbar-brand:hover {
    color: #ff7800;
}

.navbar-brand:focus {
    color: #ff7800;
}

.main-menu li a {
    color: #fff;
    text-shadow: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14pt;
}

.main-menu li a:hover {
    background: none;
    color: #ff7800;
}

.main-menu li a:focus {
    background: none;
    color: #ff7800;
}

.main-menu li:last-child {
    background: #073451;
    color: #fff;
    width: 350px;
    position: relative;
    margin-left: 15px;
}

.main-menu li:last-child .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 0px 0 20px;
    border-color: #073451 transparent transparent transparent;
    margin-left: -20px;
}

.main-menu li .agent-info {
    position: absolute;
    z-index: 1050;
    top: 0;
    background: #073451;
    width: 100%;
    padding: 0px 0 5px 0;
}

.main-menu li .agent-info img {
    width: 100px;
    height: 100px;
    border: 5px solid #073451;
    position: absolute;
    top: 0px;
    left: -10px;
}

.main-menu li .agent-info p {
    margin: 0;
    padding: 0;
}

.main-menu .agent-info p.phone-number {
    margin: -5px 0 -1px 0;
}

.main-menu li .agent-info a {
    background: #ff7800;
    color: #fff;
    border-radius: 3px;
    border: 0px;
    box-shadow: none;
    font-size: 14px;
    padding: 0 2px;
    text-decoration: none;
    display: block;
    margin-top: 5px;
    text-align: center;
}

.main-menu li .agent-info p,
.main-menu li .agent-info button {
    font-family: 'Titillium Web', sans-serif;
}

.img-agent-top {
    /*background-image: url('https://s3-us-west-2.amazonaws.com/agentsquared-assets/uploads/photo/5aeb1f01cb91e-TyleeLeighton1.jpg');*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 6px;
    right: 10px;
    border: 5px solid #073450;
}


/*featured image*/

.featured-image-area {
    position: relative;
    overflow: hidden;
    height: 800px;
}

.featured-image-area img {
    width: 100%;
    min-height: 800px;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: coverer;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0%;
}

.property-summary {
    position: absolute;
    margin-top: 40%;
    width: 400px;
    padding: 15px;
    background: rgba(0, 0, 0, .6);
}

.property-summary h4,
.property-summary h2,
.property-summary p,
.property-summary button {
    color: #fff;
}

.property-summary h4 {
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
}

.property-summary h2 {
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin: 0 0 5px 0;
    padding: 0;
}

.property-summary p {
    font-family: "Titillium Web", sans-serif;
}

.property-summary button {
    background: #FF7800;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    color: #fff;
    border: 0px;
    border-radius: 0px;
    width: 100%;
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
    font-size: 25px;
    transition: background .5s, font-weight .5s;
}

.property-summary button:hover {
    font-weight: normal;
    background: #073451;
    color: #fff;
    transition: all .5s;
    background-image: none;
}


/*property detail area*/

.property-detail-area {
    background: url("../img/background.jpg") repeat;
    padding-bottom: 25px;
}

.property-detail-area .tab-content {
    background: #fff;
    padding: 15px;
}

.property-detail-area .nav-tabs {
    border-bottom: 0;
}

.property-detail-area .nav-tabs>li.active {
    background: #073451;
    border: 2px solid #888888;
    margin-top: -10px;
    padding-bottom: 0px;
}

.property-detail-area .nav-tabs>li.active a {
    color: #fff;
    border: 0px;
    background: #073451;
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding-top: 20px;
    transition: background .2s;
}

.property-detail-area .nav-tabs>li {
    margin-top: 0;
}

.property-detail-area .nav-tabs>li>a {
    background: #dddddd;
    border-radius: 0px;
    border: 2px solid #888888;
    font-family: "Titillium Web", sans-serif;
    font-size: 25px;
    margin: 0;
    color: #888888;
    transition: background .2s;
}

.property-detail-content {
    margin-top: 0px;
}

.property-detail-content h4 {
    color: #313131;
    text-decoration: underline;
    font-weight: bold;
}

.property-detail-content p {
    font-family: "Titillium Web", sans-serif;
    color: #313131;
}

.property-detail-lists ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.property-detail-lists ul li {
    margin: 0;
    padding: 0;
    font-family: "Titillium Web", sans-serif;
}

#specs .panel {
    border: 0px;
}

#specs .panel-heading {
    background: #b1c8d6;
    border-bottom: 5px solid #99abb7;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#specs .panel-heading h4 {
    text-decoration: none;
    font-family: "Titillium Web", sans-serif;
    font-size: 20px;
}

#specs .panel-heading a {
    color: #105c8c;
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
}

#specs .panel-body {
    border: 1px solid #bbbbbb;
    border-top: none;
    margin: 0 10px;
}

#specs .panel-body ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    column-gap: 40px;
    -moz-column-gap: 40px;
}

#specs .panel-body ul li {
    margin: 0;
    padding: 0;
    font-family: "Titillium Web", sans-serif;
}

#specs .panel-title .fa-angle-down {
    color: #073451;
    font-size: 30px;
    margin-top: -5px;
}


/*gallery*/

.gallery-area:before,
.gallery-area:after {
    clear: both;
    display: table;
    content: "";
}

.gallery-area {
    position: relative;
}

.gallery-title:before,
.gallery-title:after {
    clear: both;
    display: table;
    content: "";
}

.gallery-title {
    background: #073451;
    color: #fff;
}

.gallery-title h2 {
    font-size: 40px;
    font-weight: bold;
    font-family: "Bitter", sans-serif;
    margin: 0;
    padding: 15px 0;
}

.gallery-area li {
    padding: 0;
    margin: 0;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.gallery-area li img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    max-height: auto;
    min-width: 100%;
}

.gallery-area li a:hover>span.overlay {
    opacity: 1;
    animation-name: height-move;
    animation-iteration: 1;
    animation-duration: .5s;
    animation-timing-function: ease-in;
}

.overlay {
    background: rgba(0, 0, 0, .7) none repeat scroll 0 0;
    z-index: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0;
}


/*.gallery-area li a:hover i{
	-ms-transform: rotate(360deg); 
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg);
    transition:all 1s;
    transition-delay: .5s;
}*/

.overlay i {
    color: #fff;
    position: absolute;
    font-size: 14px;
    left: 0;
    right: 0;
    top: 15%;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
    font-family: "Titillium Web", sans-serif;
}

@keyframes height-move {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.lb-nav:hover .lb-prev,
.lb-nav:hover .lb-next {
    display: block !important;
}


/*new gallery*/

#slider-gallery-area {
    background: #073451;
    padding: 50px 0;
}


/* .lSSlideOuter {
    // margin:15px 12% !important;
    // padding: 0 55px !important;	
} */

#vertical li {
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

#vertical li img {
    min-height: 600px;
    min-width: 100%;
}


/* .lSSlideWrapper {
    // max-width: 83% !important;
} */

.lSGallery li img {
    border: 2px solid transparent !important;
}

.lSGallery li.active {
    border: 2px solid #fff !important;
}

.lSGallery li {
    border-radius: 0px !important;
}


/*location area*/

.property-map:before,
.property-map:after {
    display: table;
    clear: both;
    content: "";
}

.property-map {
    position: relative;
}

.location-info-container {
    position: absolute;
    width: 400px;
    z-index: 1035;
    top: 50px;
    background: rgba(0, 0, 0, .5);
    padding: 15px 15px 15px 15px;
}

.location-info-container h2 {
    color: #fff;
    font-family: "Bitter", sans-serif;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 5px solid #d6d5d4;
    margin: 0 0 10px 0;
    padding: 0;
}

.location-info-container p {
    margin: 0;
    padding: 0;
    font-family: "Titillium Web", sans-serif;
    color: #fff;
}

.location-info-container label {
    font-family: "Titillium Web", sans-serif;
    color: #fff;
}

.location-info-container button {
    background: rgb(255, 121, 0);
    text-shadow: none;
    color: #fff;
    border: 0px;
    border-radius: 0px;
    width: 100%;
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
}

.location-info-container button:hover {
    font-weight: normal;
    background: #073451;
    color: #fff;
    transition: all .5s;
    background-image: none;
}


/*agent info area*/

.agent-info-area {
    background: url("../img/background.jpg") no-repeat;
}

.agent-info-area .agent-title {
    background: rgba(0, 0, 0, .5);
    text-shadow: none;
    color: #fff;
    border: 0px;
    border-radius: 0px;
    width: 100%;
    font-family: "Bitter", sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 0px;
    text-align: center;
    padding: 15px;
}

.agent-details:before,
.agent-details:after {
    display: table;
    content: "";
    clear: both;
}

.agent-details {
    padding: 15px 0px 15px 15px;
}

.agent-details img {
    border: 10px solid #073451;
    max-width: 250px;
    height: auto;
}

.agent-info-image {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    border-radius: 50%;
    z-index: 99999;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid #073451;
}

.agent-details h2 {
    color: #073451;
    font-family: "Bitter", sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 15px;
    border-bottom: 5px solid #888888;
}

.agent-details ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.agent-details ul li {
    font-family: "Titillium Web", sans-serif;
    color: #555555;
}

.agent-details ul li span {
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
    color: #073451;
}


/*showing*/

.showing {
    background: #073451;
    color: #fff;
}

.showing h2 {
    color: #fff;
    font-family: "Bitter", sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 15px;
}

.showing p {
    color: #fff;
    font-family: "Titillium Web", sans-serif;
}

.showing button {
    background: rgb(255, 121, 0);
    text-shadow: none;
    color: #fff;
    border: 0px;
    border-radius: 0px;
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
    text-align: center;
}

.showing button:hover {
    font-weight: normal;
    background: #bbb;
    color: #fff;
    transition: all .5s;
    background-image: none;
    box-shadow: none;
}


/*footer*/

footer {
    background: #888888;
    padding: 25px 0;
}

footer .terms li a {
    font-family: "Titillium Web", sans-serif;
    color: #fff;
}

footer p {
    color: #bbbbbb;
    font-family: "Titillium Web", sans-serif;
}

footer p span.company {
    color: #fff;
}


/*social media*/

.social-media .fa {
    color: #fff;
    border: 4px solid #073451;
    padding: 5px;
    background: #073451;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 15px;
    text-align: center;
}

.social-media .fa:hover {
    background-color: #888888;
}


/*modal*/

.modal {
    padding: 0;
    z-index: 1051;
}

.modal-dialog {
    width: 100%;
    margin: 0;
    font-family: "Titillium Web", sans-serif;
}

.modal-content {
    border-radius: 0;
    border: 0;
    padding: 0;
}

.modal-body {
    padding: 0;
}

.modal-footer {
    padding: 0;
    text-align: left;
}

.modal-image-container {
    height: 200px;
    overflow: hidden;
}

.modal-image-container img {
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    background-position: 50% 50%;
    margin-top: -90px;
}

.modal-header-overlay {
    background: rgba(100, 52, 81, .7) none repeat scroll 0 0;
    z-index: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
}

.modal-title {
    position: absolute;
    z-index: 1;
    text-align: center;
    color: #fff;
    top: 50px;
    width: 100%;
}

.modal-body h4 {
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
}

.agreement-text {
    padding: 15px;
}

.btn-modal-close {
    background: rgb(255, 121, 0);
    text-shadow: none;
    color: #fff;
    border: 0px;
    border-radius: 0px;
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
    padding: 15px;
    text-align: center;
}

.btn-modal-close:hover {
    font-weight: normal;
    background: #073451;
    color: #fff;
    transition: all .5s;
    background-image: none;
}

#schedule-interview {
    padding: 0 !important;
}

#schedule-interview .modal-dialog {
    width: 600px;
    margin: 0 auto;
}

#schedule-interview .form-group:before,
#schedule-interview .form-group:after {
    clear: both;
    display: table;
    content: '';
}

#schedule-interview .form-group {
    margin: 5px 0;
}

#schedule-interview input,
#schedule-interview textarea {
    border-radius: 0px;
}

#schedule-interview textarea {
    resize: none;
}

#schedule-interview input:focus,
#schedule-interview textarea:focus {
    text-shadow: none;
    box-shadow: none;
    border-color: #ddd;
    outline: 0;
}

#schedule-interview .modal-content {
    top: 50px;
}

#schedule-interview .modal-header {
    background: #ddd;
    min-height: 50px;
}

#schedule-interview .modal-title {
    position: relative;
    top: 0;
}

#schedule-interview .modal-footer {
    border: 0px;
}

#schedule-interview .modal-datepicker .input-group-addon:last-child {
    border-radius: 0px;
}

.datepicker .active {
    background: #073451 !important;
    color: #fff !important;
}

.datepicker table tr td.today {
    background-color: transparent !important;
}

.datepicker table tr td.today.active {
    background: #073451 !important;
    color: #fff !important;
}

.datepicker .today:hover {
    background: #eee !important;
}

.datepicker table tr td,
.datepicker table tr th {
    font-family: "Roboto", sans-serif;
}

.datepicker table tr th.dow {
    color: #333;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

.datepicker .datepicker-switch {
    color: #073451;
    font-weight: normal;
}

.btn-schedule-close {
    background: #ddd;
    text-shadow: none;
    color: #888;
    border: 0px;
    border-radius: 0px;
    font-family: "Titillium Web", sans-serif;
    padding: 15px 25;
    text-align: center;
    margin: 5px 0;
}

.virtual-tours-modal {
    overflow-x: auto;
}

.modal-body.sign-up-modal {
    background: #353d4f !important;
    color: #fff;
    padding: 0 65px 15px;
}

.sign-up-modal h2 {
    margin-bottom: 21px;
    margin-top: 0;
    font-size: 26px;
    letter-spacing: 2px;
}

.sign-up-modal label {
    color: #fff;
    / font-weight: 100; /
    -webkit-font-smoothing: antialiased;
}

.sign-up-modal .form-control {
    height: 41px;
    border-radius: 6px;
    / width: 90%; /
    / margin: 0 auto; /
}

.sign-up-modal input.form-control:focus,
.sign-up-modal select.form-control:focus,
.sign-up-modal textarea.form-control:focus {
    border-radius: 6px;
}

.modal-body {
    position: relative;
    padding: 15px;
}

#capture-leads-signup {
    width: auto;
    margin: 0 auto;
}

.legal-modal {
    padding-right: 0 !important;
}

.legal-modal .modal-content {
    border-radius: 0;
}

.legal-modal .modal-header {
    background: #3498DB;
    color: #fff;
}

.legal-modal .modal-content h4 {
    color: #000;
    font-weight: 600;
    text-shadow: none;
}

.modal-dialog {
    z-index: 1043;
}

#capture-leads-signup .modal-dialog {
    margin-top: 8%;
    z-index: 1043;
}

#capture-leads-signup .modal-header {
    border-bottom: 0;
    background: #353d4f !important;
    padding: 0px;
    padding-bottom: 0;
    min-height: 30px;
}
#capture-leads-signup .modal-header .close {
    /*margin-top: -px;*/
    color: #fff;
    padding-right: 10px;
    padding-top: 10px;
}

#capture-leads-signup .modal-content {
    margin: auto;
    width: 50%;
}

.content-leads-signup {
    padding: 5px;
}

.sign-up-modal .btn-orange {
    /* width: 80%; */
    margin-top: 10px;
    background: #ff7800;
    color: #fff;
    border: 0px;
    font-size: 17px;
    text-shadow: none;
    padding: 11px 25px;
    border-radius: 6px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Montserrat', sans-serif;
}
.sign-up-modal .btn-orange:hover, .btn-orange:focus {
    background-color: #e46e05;
}

/*Sold*/

.sold-closed-property,
.pending-property {
    height: 372px;
    position: absolute;
    width: 400px;
}

.sold-closed-property img {
    min-height: 372px;
}

.pending-property img {
    min-height: 372px;
}

.sold-closed-status {
    display: none;
}

.pending-status {
    display: none;
}


/*misc*/

.no-padding {
    padding: 0;
}

@media only screen and (min-width: 190px) and (max-width: 552px) {
    .scroll-to-top {
        left: 80%;
        top: 85%;
    }
    /*navbar*/
    .navbar {
        height: auto;
    }
    .navbar-brand {
        height: auto;
        font-size: 14px;
    }
    .navbar-toggle .icon-bar {
        background: #fff;
    }
    .triangle {
        display: none;
    }
    .main-menu li:last-child {
        background: none;
    }
    .main-menu li .agent-info {
        display: none;
    }
    /*image*/
    .featured-image-area {
        position: relative;
        height: 250px;
        width: 100%;
    }
    .featured-image-area img {
        min-width: 100%;
        min-height: 100%;
        -webkit-background-size: auto;
        -moz-background-size: auto;
        -o-background-size: auto;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .property-summary {
        display: block;
        width: 200px;
        margin-top: 25%;
        padding: 5px;
    }
    .property-summary h4,
    .property-summary h2,
    .property-summary p {
        font-size: 12px;
        margin: 0;
    }
    .property-summary button {
        max-width: 100%;
        font-size: 12px;
        padding: 5px;
    }
    /*property-detail-area*/
    .property-detail-area .nav-tabs>li {
        width: 100%;
    }
    #specs .panel-body ul {
        -webkit-column-count: 1;
        -webkit-column-gap: 40px;
        -moz-column-count: 1;
        -moz-column-gap: 40px;
        column-count: 1;
        column-gap: 40px;
    }
    /*gallery*/
    .gallery-area li {
        margin: 0 0 -5px 0;
    }
    .gallery-title h2 {
        font-size: 20px;
    }
    .gallery-area li {
        height: 150px;
    }
    .gallery-area li img {
        min-width: 100%;
        min-height: 100%;
        -webkit-background-size: auto;
        -moz-background-size: auto;
        -o-background-size: auto;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    /*new gallery*/
    .lSSlideWrapper {
        height: 250px !important;
    }
    .lSSlideOuter {
        margin: 0 !important;
        padding: 0 !important;
    }
    .lSSlideWrapper {
        max-width: 100% !important;
    }
    #vertical li {
        height: 250px !important;
        position: relative;
        overflow: hidden;
    }
    #vertical li img {
        min-height: 100%;
        min-width: 100%;
    }
    /*agent-info-area*/
    .agent-details img {
        max-width: 100%;
    }
    /*showing*/
    .showing button {
        font-size: 14px;
    }
    /*location*/
    .location-info-container {
        position: absolute;
        width: 90%;
        top: 250px;
    }
    .location-info-container button {
        font-size: 14px;
    }
    .property-map {
        margin-top: -10px;
    }
    /*modal*/
    .modal-image-container img {
        margin-top: 0;
    }
    #schedule-interview .modal-dialog {
        width: auto;
    }
    .modal-footer {
        border-top: 0;
    }
    .modal-body.sign-up-modal {
        padding: 10px;
    }
    #capture-leads-signup .modal-content {
        margin: auto;
        width: 85%;
    }
    /*Sold*/
    .sold-closed-property {
        display: none;
    }
    .sold-closed-status {
        background: #e60012;
        position: relative;
        width: 100%;
        padding: 5px;
        margin-bottom: 4px;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-family: "Titillium Web", sans-serif;
        text-align: center;
        display: block;
    }
    /*Pending*/
    .pending-property {
        display: none;
    }
    .pending-status {
        background: #FF7800;
        position: relative;
        width: 100%;
        padding: 5px;
        margin-bottom: 4px;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-family: "Titillium Web", sans-serif;
        text-align: center;
        display: block;
    }
}

@media only screen and (min-width: 553px) and (max-width: 767px) {
    .scroll-to-top {
        left: 80%;
        bottom: 15px;
        top: auto;
    }
    /*navbar*/
    .navbar {
        height: auto;
    }
    .navbar-brand {
        height: auto;
        font-size: 14px;
    }
    .navbar-toggle .icon-bar {
        background: #fff;
    }
    .triangle {
        display: none;
    }
    .main-menu li:last-child {
        background: none;
    }
    .main-menu li .agent-info {
        display: none;
    }
    /*image*/
    .featured-image-area {
        position: relative;
        height: 300px;
        width: 100%;
    }
    .featured-image-area img {
        min-width: 100%;
        min-height: 100%;
        -webkit-background-size: auto;
        -moz-background-size: auto;
        -o-background-size: auto;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .property-summary {
        display: block;
        width: 200px;
        margin-top: 0;
        padding: 5px;
        top: 150px;
    }
    .property-summary h4,
    .property-summary h2,
    .property-summary p {
        font-size: 12px;
        margin: 0;
    }
    .property-summary button {
        max-width: 100%;
        font-size: 12px;
        padding: 5px;
    }
    /*property-detail-area*/
    .property-detail-area .nav-tabs>li {
        width: 100%;
    }
    /*gallery*/
    .gallery-area li {
        margin: 0 0 -5px 0;
    }
    .gallery-title h2 {
        font-size: 20px;
    }
    .gallery-area li {
        height: 200px;
    }
    .gallery-area li img {
        min-width: 100%;
        min-height: 100%;
        -webkit-background-size: auto;
        -moz-background-size: auto;
        -o-background-size: auto;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    /*new gallery*/
    .lSSlideWrapper {
        height: 350px !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .lSSlideOuter {
        margin: 0 !important;
        padding: 0 !important;
    }
    .lSSlideWrapper {
        max-width: 100% !important;
    }
    #vertical li {
        height: 350px !important;
        position: relative;
        overflow: hidden;
    }
    #vertical li img {
        min-height: 100%;
        min-width: 100%;
    }
    /*agent-info-area*/
    .agent-details img {
        max-width: 100%;
    }
    /*showing*/
    .showing button {
        font-size: 14px;
    }
    /*location*/
    .location-info-container {
        position: absolute;
        width: 90%;
        top: 250px;
    }
    .location-info-container button {
        font-size: 14px;
    }
    .property-map {
        margin-top: -10px;
    }
    /*modal*/
    .modal-image-container img {
        margin-top: 0;
    }
    #schedule-interview .modal-dialog {
        width: auto;
    }
    .modal-footer {
        border-top: 0;
    }
    .modal-body.sign-up-modal {
        padding: 10px;
    }
    #capture-leads-signup .modal-content {
        margin: auto;
        width: 80%;
    }
    /*sold*/
    .sold-closed-property {
        display: none;
    }
    .sold-closed-status {
        background: #e60012;
        position: relative;
        width: 100%;
        padding: 5px;
        margin-bottom: 4px;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-family: "Titillium Web", sans-serif;
        text-align: center;
        display: block;
    }
    /*Pending*/
    .pending-property {
        display: none;
    }
    .pending-status {
        background: #FF7800;
        position: relative;
        width: 100%;
        padding: 5px;
        margin-bottom: 4px;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-family: "Titillium Web", sans-serif;
        text-align: center;
        display: block;
    }
}

@media only screen and (max-width: 640px) and (orientation:landscape) {
    .scroll-to-top {
        left: 80%;
        top: 80%;
    }
    /*image*/
    .featured-image-area {
        height: 300px;
        background-size: auto;
        position: relative;
    }
    .featured-image-area img {
        height: auto;
        min-height: auto;
        width: 100%;
        background-size: auto;
        background-position: 50% 50%;
        position: relative;
        top: auto;
    }
    /*property summary*/
    .property-summary {
        display: block;
        width: 200px;
        margin-top: 0;
        padding: 5px;
        top: -250px;
    }
    .property-summary h4,
    .property-summary h2,
    .property-summary p {
        font-size: 12px;
        margin: 0;
    }
    .property-summary button {
        max-width: 100%;
        font-size: 12px;
        padding: 5px;
    }
    /*gallery*/
    .gallery-area li {
        height: 200px;
    }
    .gallery-area li img {
        min-width: 100%;
        min-height: 100%;
        -webkit-background-size: auto;
        -moz-background-size: auto;
        -o-background-size: auto;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    /*new gallery*/
    .lSSlideWrapper {
        height: 350px !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .lSSlideOuter {
        margin: 0 !important;
        padding: 0 !important;
    }
    .lSSlideWrapper {
        max-width: 100% !important;
    }
    #vertical li {
        height: 350px !important;
        position: relative;
        overflow: hidden;
    }
    #vertical li img {
        min-height: 100%;
        min-width: 100%;
    }
    /*modal*/
    .modal-image-container img {
        margin-top: 0;
    }
    #schedule-interview .modal-dialog {
        width: auto;
    }
    .modal-footer {
        border-top: 0;
    }
    .modal-body.sign-up-modal {
        padding: 10px;
    }
    #capture-leads-signup .modal-content {
        margin: auto;
        width: 60%;
    }
}

@media only screen and (min-width: 767px) and (max-width: 773px) and (orientation:landscape) {
    .scroll-to-top {
        left: 90%;
        top: 90%;
    }
    /*nav*/
    .navbar-brand {
        font-size: 14px;
    }
    .main-menu li a {
        font-size: 14px;
    }
    /*featured image*/
    .featured-image-area {
        height: 300px;
    }
    .featured-image-area img {
        min-width: 100%;
        min-height: 100%;
        -webkit-background-size: auto;
        -moz-background-size: auto;
        -o-background-size: auto;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    /*location*/
    .location-info-container {
        top: 250px;
        padding-top: 0px;
    }
    /*property summary*/
    .property-summary {
        display: block;
        width: 200px;
        margin-top: 0;
        padding: 5px;
        top: 150px;
    }
    .property-summary h4,
    .property-summary h2,
    .property-summary p {
        font-size: 12px;
        margin: 0;
    }
    .property-summary button {
        max-width: 100%;
        font-size: 12px;
        padding: 5px;
    }
}

@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation:portrait) {
    .scroll-to-top {
        left: 90%;
    }
    /*nav*/
    .navbar-brand {
        font-size: 14px;
    }
    .main-menu li a {
        font-size: 14px;
    }
    /*image*/
    .featured-image-area {
        height: 600px;
    }
    .featured-image-area img {
        min-height: 600px;
        background-size: auto;
    }
    /*gallery*/
    .gallery-area li {
        height: 250px;
    }
    .gallery-area li img {
        min-width: 100%;
        min-height: 100%;
        -webkit-background-size: auto;
        -moz-background-size: auto;
        -o-background-size: auto;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    /*new gallery*/
    .lSSlideOuter {
        margin: 0 !important;
        padding: 0 !important;
    }
    .lSSlideWrapper {
        width: 85%;
    }
    /*modal*/
    .modal-footer {
        border-top: 0;
    }
    #capture-leads-signup .modal-content {
        margin: auto;
        width: 80%;
    }
    /*sold-closed*/
    .sold-closed-property img {
        min-height: 200px;
    }
    /*pending*/
    .pending-property img {
        min-height: 200px;
    }
    .sold-closed-property,
    .pending-property {
        height: 200px;
        width: 350px;
    }
}

@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation:landscape) {
    /*gallery*/
    .gallery-area li {
        height: 150px;
    }
    .gallery-area li img {
        min-width: 100%;
        min-height: 100%;
        -webkit-background-size: auto;
        -moz-background-size: auto;
        -o-background-size: auto;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    /*new gallery*/
    .lSSlideOuter {
        margin: 0 !important;
        padding: 0 !important;
    }
    .lSSlideWrapper {
        width: 85%;
    }
    /*scroll to top*/
    .scroll-to-top {
        left: 94%;
    }
    /*sold-closed*/
    .sold-closed-property img {
        min-height: 200px;
    }
    /*pending*/
    .pending-property img {
        min-height: 200px;
    }
    .sold-closed-property,
    .pending-property {
        height: 200px;
        width: 350px;
    }
}