.m-0 {
	margin: 0;
}
.mr-20px {
    margin-right: 20px;
}

.mb-30px {
	margin-bottom: 30px;
}

.mt-33px {
	margin-top: 33px;
}

/*misc*/
.no-padding-left{
    padding-left:0;
}
.no-padding-right{
    padding-right:0;
}

.paddingtop-10px {
	padding: 10px;
}

.padding-2px {
	padding: 0 2px !important;
}

.pr-30 {
	padding-right: 30px;
}


@media only screen and (min-width : 240px) and (max-width : 552px) {

	.paddingmobile-0 {
		padding: 0
	}
	.marginmobiletop-10 {
        margin-top: 10px;
	}
}


@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation: landscape) { 
	.margintablettop-5 {
        margin-top: 5px;
	}
}