@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url('https://fonts.googleapis.com/css?family=Abel');
@font-face {
    font-family: 'titillium_websemibold';
    src: url('../css/fonts/titilliumweb-semibold-webfont.woff2') format('woff2'), url('../css/fonts/titilliumweb-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'titillium_webregular';
    src: url('../css/fonts/titilliumweb-regular-webfont.woff2') format('woff2'), url('../css/fonts/titilliumweb-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #FCFCFC;
}
h1,
h2,
h3,
h4,
h5 {
    color: #777;
    font-family: "Source Sans Pro", sans-serif;
}
p,
span,
label,
td,
th,
.table td {
    font-weight: 400;
    font-family: "Source Sans Pro", sans-serif;
}
textarea.form-control {
    border-radius: 0px;
}
p,
li,
a {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
}

/** Button Reset **/

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
}
.btn-default.focus,
.btn-default:focus,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: transparent;
    border-color: #8c8c8c;
    outline: none;
}
.btn-default:hover,
.btn-default:active,
.btn-default.hover {
    background-color: #6b97ce;
    color: #fff !important;
}
.btn-default.btn-transparent:hover,
.btn-default.btn-transparent:active,
.btn-default.hover {
    color: #666666 !important;
    background-color: #6b97ce;
    color: #fff !important;
}

/*Users styles*/

.text-underline {
    text-decoration: underline;
}
.btn {
    border-radius: 0px;
}
.btn-submit {
    background: #67809f;
    color: #f4f4f4;
    border-radius: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    border: 0;
}
.btn-submit:hover {
    color: #fff;
    background: #7992b1;
    transition: all .2s ease-in;
}
.btn-save {
    background: #67809f;
    color: #f4f4f4;
    border-radius: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px 35px;
    border-color: #ccc;
}
.btn-cancel {
    background: #f4f4f4;
    color: #777;
}
.user-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px 5px 5px 5px;
}
.btn-green {
    background-color: #2ca405;
    border: none;
    color: #fff;
    padding: 7px 25px;
    font-family: 'titillium_websemibold';
}
.btn-green:hover,
.btn-green:focus {
    background-color: #2c920b;
    border: none;
    color: #fff;
}
.button-link:active {
    box-shadow: none;
    color: #333;
}
table.tablesorter thead tr .header {
    background-image: url('../images/bg.gif');
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
    /*background-image: url(asc.gif);*/
    background: url('../images/asc.gif');
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter thead tr .headerSortDown {
    /* background-image: url(desc.gif); */
    background: url('../images/desc.gif');
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter thead tr .headerSortDown,
table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img {
    margin: 0 auto;
}
.navbar-toggle span {
    color: #f4f4f4;
    background: #f4f4f4;
}
hr {
    border-color: #ddd;
}
select,
input[type] {
    border-radius: 0px;
    box-shadow: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    height: 33px;
}
textarea,
select {
    border-radius: 0px !important;
}
input[type="radio"],
input[type="checkbox"] {
    height: auto;
}
select:focus,
input[type]:focus {
    border-radius: 0px;
    border-color: none;
    box-shadow: none;
}
button {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
a {
    text-decoration: none;
}
.loader {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../images/dashboard/reload.gif') 50% 50% no-repeat rgba(255,255,255,.5);
}
.skin-blue .main-header .navbar {
    background-color: #303543;
}
.main-header .navbar-brand {
    padding: 5px 15px;
    height: 50px;
    max-width: 200px;
}
.main-header .navbar-brand>img {
    width: 100%;
}
.skin-blue .main-header .navbar .nav>li>a:hover,
.skin-blue .main-header .navbar .nav>li>a:active,
.skin-blue .main-header .navbar .nav>li>a:focus,
.skin-blue .main-header .navbar .nav .open>a,
.skin-blue .main-header .navbar .nav .open>a:hover,
.skin-blue .main-header .navbar .nav .open>a:focus,
.skin-blue .main-header .navbar .nav>.active>a {
    background: #555b75;
    position: relative;
}
.skin-blue .wrapper {
    background-color: #fff;
}
.skin-blue .main-header .navbar .nav>.active>a:before {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #555b75;
    content: "";
    position: absolute;
    bottom: -8px;
    left: 37%;
}
.update-site {
    padding-top: 8px;
    margin-right: 15px;
}
.content-wrapper {
    background-color: #ffffff;
    padding-top: 10px;
}
.content-wrapper .alert{
    border-radius:0px;
}
.nav-tab-title {
    border: 0;
    margin-left: -10px;
}
.nav-tab-title>li.active>a,
.nav-tab-title>li.active>a:focus,
.nav-tab-title>li.active>a:hover {
    border: 0;
    border-radius: 0;
    background-color: #303543;
    position: relative;
    z-index: 1;
    font-size: 25px;
    color: #fff;
    padding: 5px 35px;
    text-transform: uppercase;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-top: -15px;
    margin-left: 3px;
}
.nav-tab-title li a {
    text-decoration: none;
    padding: 4px 10px;
    transform: skew(-10deg);
    -o-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -webkit-transform: skew(-20deg);
    color: #757575;
}
.nav-tab-title li.active a span {
    display: inline-block;
    transform: skew(20deg);
    -o-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -webkit-transform: skew(20deg);
}
.nav-tab-title li a {
    background: #cdd0dd;
    border-radius: 0;
}
.skin-blue .main-header .navbar .nav>li>a>span {
    font-family: 'Montserrat', sans-serif;
    font-size: 13.5px;
}
#navbar-collapse .dropdown-menu>li>a {
    font-family: 'Montserrat', sans-serif;
    font-size: 13.5px;
}
#navbar-collapse .dropdown-menu {
    background-color: #303543;
    padding: 0;
    border: none;
}
#navbar-collapse .dropdown-menu>li>a {
    padding: 10px 20px;
    color: #fff;
}
#navbar-collapse .dropdown-menu>li>a:hover {
    color: #303543;
}
#navbar-collapse .dropdown-menu>li.active>a:hover {
    color: #ffffff;
}
.skin-blue .main-header .navbar .nav>li>a.btn-view:hover,
.skin-blue .main-header .navbar .nav>li>a.btn-view:active,
.skin-blue .main-header .navbar .nav>li>a.btn-view:focus,
.skin-blue .main-header .navbar .nav .open>a.btn-view,
.skin-blue .main-header .navbar .nav .open>a.btn-view:hover,
.skin-blue .main-header .navbar .nav .open>a.btn-view:focus,
.skin-blue .main-header .navbar .nav>.active>a.btn-view,
.skin-blue .main-header .navbar .nav>li>a.btn-view.btn-view:hover {
    background: #367fa9;
}
.agent-img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}
.agent-img img {
    width: 100%;
    height: 100%;
}
.agent-img .overlay-photo {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 85px;
    height: 85px;
    position: absolute;
    top: 0;
    border-radius: 50%;
    display: none;
}
.agent-img .btn-upload {
    background: rgba(0, 0, 0, .6);
    border: 1px solid;
    position: absolute;
    top: 35%;
    left: -20%;
    color: #fff;
    z-index: 5;
    font-size: 12px;
}
.change-profile-container {
    display: none;
}
.agent-img:hover .overlay-photo,
.agent-img:hover .change-profile-container {
    display: block;
    opacity: 1;
    animation-name: fade;
    animation-iteration: 1;
    /*animation-duration:1s;*/
    animation-directon: linear;
}
.agent-upload-form .image-upload {
    display: none;
}
.agent-upload-form .upload-modal {
    display: none;
    margin-top: 15px;
}
.btn-agent-photo {
    margin-top: 28px;
    padding: 3px 13px 3px 13px;
}

/*Menu Styles*/
.add-custom-menu-form label{
    font-weight:600;
    margin-left: 18px;
}
.add-custom-menu-form input{
    width: 50%;
    margin-left: 18px;
}
/*Footer*/

.main-footer {
    background: #9fa5b9;
    color: #fff;
}
.footer-links .fa {
    border: 1px solid #7a8094;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 5px;
    color: #fff;
}
.footer-links .fa:hover {
    background-color: #7a8094;
}
.footer-links b {
    font-size: 15px;
    margin-right: 10px;
}

/* Table */

.table-striped {
    border: 1px solid #b6b6b6;
}
.table-striped>tbody>tr>th,
.table-striped>tfoot>tr>th,
.table-striped>thead>tr>td,
.table-striped>tbody>tr>td,
.table-striped>tfoot>tr>td {
    height: 50px;
    vertical-align: middle;
}
.table-striped thead tr th {
    background-color: #555b75;
    border-right: 1px solid #ccc;
    color: #fff;
}
.search-list {
    // display: inline;
    // float: left;
    // margin-right: 6px;
}
.table-img {
    width: 125px;
}
.table-img img {
    width: 100%;
}

/*Pagination*/

// .pagination-list {
//     width: 452px;
// }
.pagination-list li {
    display: inline;
}
.pagination-list li.disabled {
    padding: 7px 12px;
    border: 1px solid #ccc;
}
.pagination-list li.input-form {
    border: 0;
    padding: 7px 0px;
    background-color: transparent;
}
.pagination-list .input-form input {
    width: 31px;
    padding: 5px 8px;
    display: inline;
    border: 1px solid #ccc;
}
.pagination-list li a {
    border: 1px solid #ccc;
    padding: 7px 12px;
    width: 10px;
    height: 10px;
    background: #cdd0dd;
    color: #656b71;
}
.pagination-list li a:hover {
    color: #fff;
    background-color: #303543;
    color: #fff;
}
.save-property-listing .pagination-list {
    width: 250px;
    margin-top: 15px;
}
.btn-search-submit {
    background-color: #2f3344;
    color: #fff;
    border: 1px solid #2f3344;
}
.btn-search-submit:hover {
    background-color: #4a5069;
    color: #fff;
}


/*Save search tab*/
.savesearch-tab ul {
    margin-top: 0;
    padding-left: 0;
}

.savesearch-tab .nav-tabs>li.active>a {
    border-radius: 0;
    border-bottom: 0;
    background-color: #fff;
}
.savesearch-tab .nav-tabs>li {
    margin-bottom: -2px;
}

.savesearch-tab .nav-tabs>li>a {
    border-radius: 0;
    margin-right: 0;
    background: #ddd;
    color: #888;
    padding: 8px 15px;
}

.savesearch-tab .tab-content {
    border: 1px solid #ddd;
    border-top: 0;
    padding: 10px;
}

/* Alert */

.alert a {
    text-decoration: none;
}

/*featured property*/

.featured-listing-area {
    background: #F4F4F4;
    padding: 25px 50px;
}
.featured-list-item {
    border: 1px solid #e3e3e3;
    margin: 15px 0;
    padding: 0;
    // height: 500px;
}
.featured-listing-area h2 {
    padding-bottom: 25px;
}
.property-quick-icons {
    background: #67809f;
    padding: 5px 5px;
}
.property-quick-icons ul {
    margin: 0;
    padding: 0;
}
.property-quick-icons li {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}
.property-listing-description {
    background: #fff;
    padding: 25px 15px;
}
.property-listing-description h5 {
    margin: 0;
    padding: 5px 0;
    color: #4fc1e9;
    font-weight: 600;
    font-size: 16px;
}
.property-listing-description p {
    color: #777;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
}
.property-listing-description .address {
    height: 40px;
    margin: 0;
    padding: 5px 0;
    max-width: 100%;
    overflow: hidden;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.short-bullet-list {
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
}
.short-bullet-list li {
    color: #777;
}
.panel-property-listings .view-details {
    margin: 25px 0 0 15px;
    clear: both;
}
.panel-property-listings .panel-title {
    color: #777;
}
.btn-add-featured {
    border-radius: 0px;
    color: #f4f4f4;
    font-family: "Source Sans Pro", sans-serif;
}
.btn-add-featured:hover {
    color: #777;
}
.panel-default > .panel-heading {
    background: #f4f4f4;
    border-radius: 0px;
}
.panel-group .panel {
    border-radius: 0px;
}
.featured-list-image {
    height: 250px;
    overflow: hidden;
    position: relative;
}
.featured-list-image img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}
.remove-featured {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    height: 30px;
    width: 30px;
    background: #D24D57;
    border-radius: 50%;
    display: none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
}
.remove-featured p {
    margin-top: 0px;
    text-align: center;
}
.remove-featured a {
    color: #fff;
}
.featured-list-item:hover .remove-featured {
    display: block;
}
#wrapper .tooltip-inner {
    background: #D24D57 !important;
}
#wrapper .tooltip-arrow {
    border-top-color: #D24D57 !important;
    border-width: 5px 5px 0;
}
.pagination-area {
    clear: both;
    text-align: right;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}
.pagination-area .pagination {
    border-radius: 0px;
    border: 0px;
    margin: 0;
    padding: 0;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-radius: 0px;
    border: 0px;
}
.pagination > li > a,
.pagination > li > span {
    background: none;
    border: 0px;
}

.pagination-area a {
    padding: 7px 8px;
    background: #cdd0dd;
    color: #656b71;
}

.pagination-area b {
    background: #fff;
    color: #656b71;
    border: 1px solid #ccc;
    padding: 7px 15px;
}

.pagination-area a:hover {
    background-color: #303543;
    color: #fff;
}

.sorting {
    clear: both;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #6b6e80;
}
.sorting:before,
.sorting:after {
    content: " ";
    display: table;
    clear: both;
}
.filters select,
.filters input {
    border-radius: 0px;
    box-shadow: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.filters select:focus,
.filters input:focus {
    border-radius: 0px;
    border-color: none;
    box-shadow: none;
}
.property-filter-form {
    background: #f4f4f4;
    padding: 15px;
    margin-bottom: 50px;
}
.property-filter-form:after,
.property-filter-form:before {
    content: "";
    display: table;
    clear: both;
}
.property-filter-form label {
    color: #6b6e80;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.property-filter-form select,
.property-filter-form input {
    border-radius: 0px;
    box-shadow: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #777;
}
.property-filter-form select:focus,
.property-filter-form input:focus {
    border-radius: 0px;
    border-color: none;
    box-shadow: none;
}
.property-filter-form .submit-button {
    margin-top: 24px;
    padding: 8px 0 7px;
    border-radius: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    background: #67809f;
    color: #f4f4f4;
}
.btn-add-featured {
    background: #67809f;
    color: #f4f4f4;
}
.domain-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    padding: 5px 15px;
}
.domain-info p {
    font-size: 13px;
}

/*choose theme*/

.theme-picture {
    margin: 15px;
    border: 1px solid #e3e3e3;
    position: relative;
}
.theme-description {
    padding: 10px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    // z-index: 2;
    background: #fff;
    border-top: 1px solid #e3e3e3;
}
.theme-name {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #5c97bf;
}
.activate-buttons {
    float: right;
    display: none;
    opacity: 0;
}
.activate-buttons button {
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    font-family: 'Josefin Sans', sans-serif;
    color: #666;
    border: 1px solid #ddd;
}
.activate-buttons button:hover {
    transition: all .4s;
    color: #f4f4f4;
    background: #67809F;
}
.theme-picture:hover .activate-buttons {
    display: block;
    opacity: 1;
    animation-name: show;
    animation-duration: .5s;
}
.theme-picture:hover .preview-button {
    display: block;
    opacity: 1;
    animation-name: show;
    animation-duration: .5s;
}
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.preview-button {
    background: rgba(244, 244, 244, 0.8) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    padding: 15px;
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
}
.preview-button p,
.preview-button h4 {
    color: #333;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.preview-button .btn {
    font-size: 15px;
    padding: 15px;
}

.activated {
    display: block;
    opacity: 1;
    float: right;
}
.activated button {
    display: block;
    opacity: 1;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: #f4f4f4;
    border: 1px solid #ddd;
    background: #67809f;
}
.activated button:hover {
    background: #67809f;
    color: #f4f4f4;
}
/*modal*/
.modal-dash-dialog {
    height: 100%;
    margin: 0;
    border-radius: 0px;
    width: 100%;
    background: #fff;
}
.modal-dash-body {
    height: 1000px;
    width: 105%;
}
.modal-dash-header,
.modal-dash-content {
    border-radius: 0px;
}
.preview-site {
    margin: 0;
    padding: 0 !important;
    height: 100%;
    width: 100%;
}
.close span,
.close {
    color: #ddd;
    opacity: 1;
}
.theme-screenshot {
    height: 340px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.theme-screenshot img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}

.modal-demo {
    padding-left: 0 !important;
}

.modal-demo .modal-body {
    padding: 0;
    cursor: -webkit-zoom-out;
}
.modal-demo .modal-body img {
    width: 100%;
}

/*modal pricing*/
#modalPayment,
#modalPricing {
    background-color: rgba(255, 255, 255, 0.3);
    background-image: url('../../images/dashboard/bgpattern.png');
}

#modalPricing .modal-dialog {
    margin: 200px auto;
}

#modalPricing .modal-content {
    padding: 25px;
}

#modalPricing .modal-header {
    border: 0;
    text-align: center;
    position: relative;
    padding: 0;
}

#modalPricing .modal-header .close {
    position: absolute;
    right: -50px;
    top: -50px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #092f4a;
    font-size: 30px;
}

#modalPricing .modal-header .close:active, 
#modalPricing .modal-header .close:hover {
    background-color: #0d2638;
    outline: none;
    opacity: 1;
}

#modalPricing .modal-title {
    font-size: 27.29px;
    color: #2e404d;
    font-family: 'Montserrat', sans-serif;
}

#modalPricing .modal-dialog {
    width: 828px;
}


#modalPricing .price-item {
    height: 285px;
    width: 100%;
    background-color: #87a1b1;
}

#modalPricing .price-title {
    background-color: #2e404d;
    padding: 20px 36px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

#modalPricing .price-desc p {
    font-size: 100px;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
}

#modalPricing .price-desc {
    text-align: center;
    color: #fff;
}

#modalPricing .price-desc p sup {
    font-size: 36px;
}

#modalPricing .price-desc small {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}


#modalPricing .col-md-5 {
    margin-left: 25px;
}

#modalPricing .col-md-1 {
    text-align: right;
}

#modalPricing .or-text {
    font-size: 42.75px;
    color: #2e404d;
    margin: 110px 0;
    font-family: 'Montserrat', sans-serif;
}

#modalPricing .price-text {
    width: 60%;
    display: block;
    margin: 30px auto;
    text-align: center;
    background-color: #fc6721;
    border-radius: 5px;
    padding: 8px;
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

#modalPricing .price-text:hover {
    background-color: #da5a1e;
}

/*modal payment*/
#modalPayment .modal-dialog {
    width: 75%;
    margin: 6% auto;
}

#modalPayment .modal-header {
    border: 0;
    padding: 0;
    position: relative;
}

#modalPayment .modal-label {
    background-image: url('../images/dashboard/modal-title-bg.png');
    padding: 11px 40px;
    height: 51px;
    width: 100%;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #fff;
    font-size: 24px;
}


#modalPayment .modal-header .close {
    position: absolute;
    background-color: #303642;
    height: 50px;
    width: 50px;
    top: -24px;
    right: -24px;
    border-radius: 50%;
    font-size: 40px;
}
#modalPayment .modal-header .close:active, 
#modalPayment .modal-header .close:hover {
    background-color: #0d2638;
    outline: none;
    opacity: 1;
}
#modalPayment .modal-body {
    padding: 20px 40px;
}

#modalPayment .modal-text {
    color: #2e404d;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

#modalPayment .border-gray {
    height: 5px;
    background-color: #e0e0e0;
    margin-bottom: 20px;
}

#modalPayment .table-striped thead tr th {
    background-color: #888888;
    border-right: 0;
}

#modalPayment .table-striped {
    border: 1px solid #bbbbbb;
}

#modalPayment .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #ffffff;
}

#modalPayment .table-striped>tbody>tr:nth-of-type(even) {
    background-color: #eee;
}

#modalPayment .table>tbody>tr>td {
    border-top: 1px solid transparent;
}

#modalPayment .fa-close {
    color: #ff0000;
    font-size: 21px;
}

#modalPayment .table-striped thead tr th:last-child {
    width: 10px;
}

#modalPayment .text-total {
    font-family: 'Montserrat', sans-serif;
}

#modalPayment .text-total span {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-left: 10px;
}

#modalPayment .cc-accepted {
    width: 100%;
}

#modalPayment .cc-detail {
    background-color: #eeeeee;
    padding: 20px;
    width: 100%;
    display: block;
    float: left;
    margin-top: 20px;
}

#modalPayment .cc-detail h3 {
    margin: 0;
}

#modalPayment .cc-detail label {
    font-family: 'Abel', sans-serif;
    font-size: 16px;
}

.payment-total {
    color: #1f8ccc;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
}

.payment-total-note1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #555555;
}

.payment-total-note2 {
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    margin-bottom: 25px;
}

.btn-border-green {
    font-family: 'Montserrat', sans-serif;
    background-color: #46ce34;
    color: #fff;
    padding: 6px 40px !important;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #2aa31a;
    font-size: 18px;
    text-transform: uppercase;
}

.btn-border-green:hover {
    color: #fff;
}
.btn-border-green:active, .btn-border-green:focus {
    background-color: #46ce34;
    box-shadow: 0 2px #2aa31a;
    transform: translateY(3px);
    color: #fff;
}

.list-link li {
    list-style: none;
    display: inline;
}

.list-link li a {
    padding: 10px 20px;
    text-decoration: underline;
}

.list-link {
    padding-left: 0;
    margin-top: 20px;
}

/*SLIDER STYLES*/

.slider-photos-preview ul li.img-preview {
    display: inline-block;
    list-style: none;
}
.slider-photos-preview ul li.img-preview img {
    border: 2px solid #ddd;
    margin-top: 10px;
}
.slider-photos-preview ul li.img-preview span {
    position: relative;
    top: -55px;
    left: 192px;
    cursor: pointer;
}
.slider-photos-preview ul li.img-preview i {
    color: red;
    font-weight: bold;
}
.del-photo {
    font-size: 20px;
    padding: 20px 0px;
}
#drop {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #777;
    border: 2px dashed #ddd;
    width: 100%;
    padding: 40px 0 10px 0;
    text-align: center;
}
#drop a {
    background-color: #67809f;
    padding: 12px 26px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    margin-top: 12px;
    line-height: 1;
}
.hide-choose-files {
    display: none!important;
}
#upload ul {
    list-style: none;
    // margin-top: 10px;
    margin: 0;
    padding: 0;
}
#upload ul li {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    height: 57px;
    position: relative;
    // margin-bottom: 8px;
}
#upload ul li input {
    display: none;
}
#upload ul li p {
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #777;
    font-weight: bold;
    position: absolute;
    left: 100px;
}
#upload ul li i {
    font-weight: normal;
    font-style: normal;
    color: #7f7f7f;
    display: block;
}
#upload ul li canvas {
    top: 3px;
    left: 32px;
    position: absolute;
}
#upload ul li span {
    width: 15px;
    height: 12px;
    background: url('../images/upload-icons.png') no-repeat;
    position: absolute;
    top: 22px;
    right: 33px;
    cursor: pointer;
}
#upload ul li.working span {
    height: 16px;
    background-position: 0 -12px;
}
#upload ul li.error p {
    color: red;
}

/*FB Ads*/
#upload-fb-ads ul {
    list-style: none;
    // margin-top: 10px;
    margin: 0;
    padding: 0;
}
#upload-fb-ads ul li {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    height: 57px;
    position: relative;
    // margin-bottom: 8px;
}
#upload-fb-ads ul li input {
    display: none;
}
#upload-fb-ads ul li p {
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #777;
    font-weight: bold;
    position: absolute;
    left: 100px;
}
#upload-fb-ads ul li i {
    font-weight: normal;
    font-style: normal;
    color: #7f7f7f;
    display: block;
}
#upload-fb-ads ul li canvas {
    top: 3px;
    left: 32px;
    position: absolute;
}
#upload-fb-ads ul li span {
    width: 15px;
    height: 12px;
    background: url('../images/upload-icons.png') no-repeat;
    position: absolute;
    top: 22px;
    right: 33px;
    cursor: pointer;
}
#upload-fb-ads ul li.working span {
    height: 16px;
    background-position: 0 -12px;
}
#upload-fb-ads ul li.error p {
    color: red;
}



/* Title */

.heading-title {
    display: inline-block;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 0px;
    transform: skew(-30deg);
    -o-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -webkit-transform: skew(-30deg);
    color: #757575;
    padding: 10px 50px;
    color: #fff;
    background: #303543;
    margin-left: -15px;
    margin-bottom: 5px;
}
.heading-title span {
    display: inline-block;
    transform: skew(30deg);
    -o-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -webkit-transform: skew(30deg);
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}
.page-title {
    display: inline;
}
.page-title p {
    margin-left: 40px;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    color: #555555;
}
.search-pagination {
    margin-bottom: 25px;
    display: inline;
    float: right;
    margin-top: 7px;
}
.search-pagination .input-group-sm>.form-control,
.search-pagination .input-group-sm>.input-group-btn>.btn {
    height: 35px;
    margin-top: -7px;
}

.search-form.form-inline {
    display: inline;
    /* float: left; */
    margin-top: -10px;
}
.search-form.form-inline .form-control {
    height: 35px;
    border-radius: 0 !important;
}
.pagination-list {
    padding-left: 5px;
}

/*agent social media activaate*/

.social-post:before,
.social-post:after {
    clear: both;
    display: table;
    content: "";
}
.social-post {
    margin: 0 0 10px 0;
}
#preview-img {
    text-align: center;
}
#preview-img img {
    margin: 10px;
    width: 410px;
}
#preview-text p {
    overflow: hidden;
    width: 412px;
    margin: 0 auto;
    text-align: justify;
    line-height: 25px;
}
#preview-text p:first-child,
#preview-text p:last-child {
    text-align: center;
}
.preview-text-post {
    text-align: center !important;
}
.panel-title .fa {
    color: #3bb672;
}
.panel-title a {
    color: #201e17;
    font-size: 17px;
    font-weight: 300;
}
.panel-group .panel {
    border-radius: 0px
}
.panel-default > .panel-heading .badge {
    background: #c1c1c1;
}
.inactive {
    color: #d9534f !important;
}
.disable {
    color: #ccc!important;
}
.hide {
    display: none;
}
.select-post ul li i.fa {
    color: #3bb672;
}

/*social media activate*/

.social-media-activate .well {
    margin-top: 15px;
}

/*Buttons*/

.btn-submit.focus,
.btn-submit:focus,
.btn-submit.active.focus,
.btn-submit.active:focus,
.btn-submit.active:hover,
.btn-submit:active.focus,
.btn-submit:active:focus,
.btn-submit:active:hover,
.open>.dropdown-toggle.btn-submit.focus,
.open>.dropdown-toggle.btn-submit:focus,
.open>.dropdown-toggle.btn-submit:hover {
    background-color: #6b97ce;
    color: #fff;
}
.update_list_btn,
.btn-warning-right,
.launch-site-now-temp {
    margin-top: -7px;
}

/* Lead List */

.lead-list .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #e2e2e2;
}
.lead-list .table-striped>tbody>tr>td,
.lead-list .table-striped>tbody>tr>td>a {
    font-family: 'Montserrat', sans-serif;
    font-size: 13.3px;
}

/**** CUSTOM ****/

.agent-haven-selected,
.proper-selected,
.greenery-selected {
    /* display: none; */
}
.property-status {
    position: absolute;
    padding: 7px 20px 7px 20px;
    top: 0px;
    color: #fff;
}
.propertyActive {
    background-color: #5cb85c;
}
.propertyPending {
    background-color: #f0ad4e;
}
.propertySold {
    background-color: #c9302c;
}
.propStatus {
    margin-top: 10px;
    display: block;
}
.save-loader {
    margin-left: 45%;
    margin-top: 10px;
}
.save-label {
    display: none;
}
ul.sub-header {
    padding: 0;
    // margin-left: 18px;
}
ul.sub-header li span.count {
    color: #555;
}
.add-page ul.sub-header li {
    list-style: none;
    display: inline-block;
}
ul.page-list {
    padding: 0;
}
.page-list li:nth-child(even) {
    background: #ddd;
}
ul.page-list li {
    list-style: none;
}
ul.menu-list li {
    list-style: none;
}
.ui-sortable {
    padding-left: 0;
}
// .dashboard-logo{
//     width: 60%;
//     height: 100%;
//     margin: 0 auto;
// }
.main-header .navbar-brand>img.dashboard-logo {
    width: 70% !important;
    height: 100%;
    margin: 0 auto;
}
.lead-item-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*message*/

.message-clients {
    margin: 0;
    padding: 0;
    height: 400px;
    overflow-y: scroll;
    list-style-type: none;
    border: 1px solid #ccc;
}
.message-clients li {
    margin: 0;
    padding: 15px;
    background: #fff;
    border-bottom: 1px solid #e3e3e3;
}
.message-clients li:before,
.message-clients li:after {
    display: table;
    content: "";
    clear: both;
}
.message-clients li.selected {
    background: #f2f2f2;
}
.textbox-area {
    position: relative;
}
textarea {
    font-family: "Source Sans Pro", sans-serif;
}
.client-reply:before,
.client-reply:after,
.agent-reply:before,
.agent-reply:after {
    content: "";
    display: table;
    clear: both;
}
.agent-reply .message-content {
    background: #5c97bf;
    padding: 15px;
    border-radius: 3px;
    color: #fff;
}
.client-reply .message-content {
    background: #f7f7f7;
    padding: 15px;
    border-radius: 3px;
}
.messaging-area {
    border-left: 1px solid #e3e3e3;
}

/*scheduling*/

.datepicker table,
.datepicker-inline {
    width: 100% !important;
}
.datepicker.dropdown-menu th,
.datepicker.datepicker-inline th,
.datepicker.dropdown-menu td,
.datepicker.datepicker-inline td {
    padding: 15px !important;
}
.datepicker table tr td.today {
    background: #5c97bf !important;
    color: #fff !important;
}
.schedule-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.schedule-list li {
    margin: 0;
    padding: 0;
}
.meeting-list {
    margin-top: 20px;
}
.schedule-modal .modal-dialog {
    height: auto;
    margin: 0 auto;
    border-radius: 0px;
    width: 600px;
    background: #fff;
    position: relative;
    top: 50px;
}
.schedule-modal .modal-body {
    height: auto;
    width: auto;
}
.schedule-modal .modal-header,
.schedule-modal .modal-content {
    border-radius: 0px;
}
.datepicker {
    /*top: 249.317px !important;*/
}

/*buyer leads*/

.leads-list-details {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.leads-list-details li:before,
.leads-list-details li:after {
    clear: both;
    display: table;
    content: "";
}
.leads-list-details li {
    margin: 5px 0;
    padding: 0;
}
.lead-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.lead-items li:before,
.lead-items li:after {
    display: table;
    content: "";
    clear: both;
}

/*agent property detail*/

.agent-modal .modal-dialog {
    height: auto;
    margin: 0 auto;
    border-radius: 0px;
    width: 50%;
    position: relative;
    top: 50px;
}
.agent-modal .modal-body {
    height: auto;
    width: auto;
}
.agent-modal .modal-header,
.agent-modal .modal-content {
    border-radius: 0px;
}
.agent-modal {
    padding: 0;
    background: rgba(0, 0, 0, .4);
}
.menu-list {
    margin-top: 20px;
}

/* Profile Detail */

.profile-content h3 span {
    font-family: 'Montserrat', sans-serif;
}
.profile-content .table-striped thead tr th {
    background-color: #303642;
}
.profile-content .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #e2e2e2;
}
.save-property-listing .nav-tabs>li {
    margin-bottom: -2px;
}
.save-property-listing .nav-tabs>li>a {
    border: 1px solid #bababa;
    border-radius: 0;
    margin-right: 0;
    background: #ddd;
    color: #888;
    padding: 8px 15px;
}
.save-property-listing .tab-content {
    border: #bababa;
}
.save-property-listing .tab-pane {
    border: 1px solid #bababa;
    padding: 44px 17px 0 17px;
}
.save-property-listing .nav-tabs>li.active>a,
.save-property-listing .nav-tabs>li.active>a:focus,
.save-property-listing .nav-tabs>li.active>a:hover {
    border: 1px solid #bababa;
    border-bottom-color: transparent;
    background-color: #fff;
}

.menu-tab .tab-pane{
    padding: 20px;
}

.activities-list a {
    font-family: 'titillium_webregular';
}
.activities-list .nav-tabs>li>a {
    border-radius: 0;
    background: #ccc;
    color: #fff;
    padding: 11px 10px;
    border-color: #dddddd;
    font-family: 'titillium_webregular';
}
.activities-list .nav-tabs>li.active>a,
.activities-list .nav-tabs>li.active>a:focus,
.activities-list .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.activity-name {
    font-family: 'titillium_websemibold';
    color: #555555;
    font-size: 20px;
}
.activities-list .table-striped>tbody>tr>td,
.activities-list .table-striped>thead>tr>th {
    vertical-align: top;
    padding: 8px 16px;
    font-family: 'titillium_webregular';
}
.activities-list .date-column p {
    margin-bottom: 0;
    font-family: 'titillium_webregular';
}
.activities-list thead {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.activities-list tbody {
    height: 640px;
    overflow-y: scroll;
    display: block;
    width: 100%;
}
.activities-list .table-striped>tbody>tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.profile-name {
    font-family: 'titillium_websemibold';
    letter-spacing: 2px;
}
#sbt-update-profile {
    margin-bottom: 50px;
}
#sbt-update-profile label {
    font-size: 15px;
    vertical-align: middle;
    padding: 5px 10px;
    margin-bottom: 0;
}
#sbt-update-profile .form-group {
    margin-bottom: 8px;
}

/*fb ads*/
.fb-ads-campaign .alert .close {
    display: block;
}
.alert-gray {
    background-color: #e8e9ec;
    padding: 10px 26px;
    padding-right: 20px;
}

.alert-gray h5 {
    color: #8f7e7e;
    font-weight: 600;
    font-size: 14px;
    margin: 10px 0;
    margin-bottom: 2px;
}

.alert-gray p {
    color: #8f7e7e;
    font-size: 14px;
    margin: 0;
}

.section-desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #777;
}

.fb-ads-campaign {
    padding-left: 40px;
    margin-top: 10px;
}

.box-light-gray {
    background-color: #f9f9f9;
    padding: 20px 0;
    margin-bottom: 25px;
}

.control-label {
    color: #313643;
    font-size: 16px;
}

.font-gray {
    font-size: 16px;
    color: #a6a5a5;
}

.font-gray a {
    color: #313643;
    font-size: 16px;
}

.font-gray a:hover {
    text-decoration: underline;
}

.fb-form .form-control {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;

    border-radius: 0 !important;
}

.box-white {
    border: 1px solid #f0e7e7;
    background: #fff;
    height: 160px;
    overflow: hidden;
    overflow-y: scroll;
}

.countries>li {
    list-style: none;
    padding: 5px 10px;
    cursor: pointer;
}

.countries {
    padding-left: 0;
    margin-bottom: 0;
}

.countries>li:hover {
    background: #e8e9ec;
}
.fb-ads-campaign .close {
    display: none;
}

.countries>li:hover>.close {
    display: block;
}

.location-fields select.form-control {
    margin-bottom: 6px;
}

.location-fields .box-white {
    margin-bottom: 6px;
}


.location-fields .input-group {
    margin-bottom: 6px;
}

.location-fields .input-group .form-control {
    height: initial;
}
.location-fields .input-group-btn .btn-default:hover,
.location-fields .input-group-btn .btn-default:focus {
    background: #61d858;
}

.country-name {
    margin-bottom: 0;
    color: #313643;
    font-weight: 600;
}

.states {
    padding-left: 20px;
}

.states li {
    list-style: none;
    margin-bottom: 2px;
}

.states li a {
    color: #8f7e7e;
}
.states li:hover .close {
    display: block;
}

select.age {
    background-color: #fff;
}

.btn-dark-blue {
    background-color: #313643;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
}

.btn-dark-blue:hover,
.btn-dark-blue:focus,
.btn-dark-blue:active {
    color: #fff;
}
.audience-details>li {
    margin-bottom: 10px;
}
.btn-connection {
    width: 100%;
    text-align: left;
    background: #fff;
    border: 1px solid #ccc;
}

.btn-connection .caret {
    margin-top: 8px;
}

.btn-group.open .btn-connection {
    box-shadow: none;
    background: #fff;
    border: 1px solid #d2d6de;
}

.btn-connection-group .dropdown-menu {
    width: 100%;
    border-radius: 0;
    padding: 0;
}

.btn-connection-group .dropdown-menu li a {
    padding: 5px 0px 5px 10px;
}

.btn-connection-group .dropdown-menu .dropdown-submenu {
    position: relative;
}

.btn-connection-group .dropdown-menu>.divider {
    margin: 0;
}

.input-group-addon {
    cursor: pointer;
}
.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
    display: block;
    top: 0;
    right: 0;
    left: 100%;
    padding: 0;
    margin-top: -1px;
}
.dropdown-submenu:hover {
    background-color: #e8e9ec;
}
.dropdown-submenu:hover .sub-dropdown-menu {
    background-color: #fff;
}
.is-dropdown {
    background: #fff;
    border: 1px solid #ccc;
    padding-left: 0;
    margin-top: 2px;
    height: 225px;
    overflow-y: scroll;
}
.is-dropdown li {
    list-style: none;
}

.is-dropdown li a {
    padding: 5px 10px;
    width: 100%;
    display: inline-block;
    color: #777;
}
.is-dropdown li a:hover {
    background-color: #e8e9ec;
}
.sub-dropdown-menu {
    display: none;
}
.sub-dropdown-menu li a {
    width: 100%;
    display: block;
    padding: 5px;
}
.sub-dropdown-menu li a:hover {
    background-color: #e8e9ec;
}

.sub-dropdown-menu li {
    padding: 0;
}
.sub-sub-dropdown-menu {
    display: none;
}
.btn-active {
    background: #61d858 !important;
    color: #fff;
}

.exclude-detail,
.narrow-detail {
    display: none;
}
.close-detail {
    cursor: pointer;
}

.progress-black {
    background-color: #000;
}
.progress-black.progress-sm {
    height: 15px;
}
.progress-bar-light-green {
    background-color: #61d858;
}
.fb-ads-campaign .tlink {
    color: #313643;
}
.fb-ads-campaign .tlink:hover {
    text-decoration: underline;
}

.fb-ads-campaign .control-label {
    color: #5d5c5c;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

.fb-desktop-view {
    border: 1px solid #ccc;
    min-height: 570px;
    padding: 15px 0;
    overflow: hidden;
}
.abouttext {
    margin-top: 10px;
}

.btn-light-gray {
    background-color: #f6f7f9;
    border-color: #ced0d4;
    color: #4b4f56;
}

.fb-featured-img {
    border: 1px solid #ccc;
    height: 450px;
    margin-top: 10px;
}

.fb-featured-img img {
    height: 100%;
    width: 100%;
}

.fb-dp {
    width: 50px;
    border: 1px solid #ccc;
    margin: 0 auto;
    display: block;
}

.fb-dp img {
    width: 100%;
}

.fb-mobile-view {
    width: 350px;
    margin: 0 auto;
    min-height: 300px;
}

.fb-mobile-view .fb-featured-img {
    height: 200px;
}

.fb-page {
    border: 1px solid #d2d6de;
    width: 100%;
    display: block;
    background: #fff;
    padding: 5px;
}

.fb-page .caret {
    margin-top: 9px;
}

.fb-page-dropdown {
    border-radius: 0;
    width: 100%;
    padding: 0;
}

.fb-img {
    width: 25px;
    height: 25px;
}

/*photos*/
.photo-content:before,
.photo-content:after{
    clear: both;
    content:'';
    display: table;
}
.photo-content{
    margin:15px 0;
    position: relative;
}
.photo-container .col-md-3{
    padding:0;
}
.photo-item{
    margin:0px 0;
    cursor: pointer;
}
.photo-item .image-container{
    height: 150px;
    overflow: hidden;
}
.photo-item .image-container img{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}
.photo-item.selected .image-container {
    border: 6px solid #35a708;
}
.photo-item.selected .photo-actions {
    border: 6px solid #35a708;
}
.fileUploader{
    clear: both;
    position: relative;
    padding:15px 0;
}
.fileUploader .introMsg{
    display: none;
}
#three > div{
    padding:0 0%;
}
#three .dropZone{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16px;
    font-weight: 300;
    border:1px dashed #c7cbd5;
    margin-top:0;
}
.photo-container{
    margin-top:0px;
}
.fileUploader .filesContainer .newElement .fileTitle{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:14px;
    font-weight: 400;
    text-align: left !important;
    color:#8a8a8a !important;
    top:0 !important;
}
.fileUploader .filesContainer .newElement .loadBar div{
    background: #25AA6E !important;
}
.fileUploader .filesContainer .newElement .loadBar{
    background: #fff !important;
    border:1px solid #ddd !important;
    width:100% !important;
}
#three .filesContainer .newElement{
    width: 100%;
    clear: both;
}
#three .fileUploader .filesContainer .error{
    width: 100%;
    clear: both;
}
#three .fileSee,
#three .fileDelete{
    display: none;
}
#three .innerFileThumbs{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:14px;
    font-weight: 400;
    color:#8a8a8a;
}
.photo-item:hover .photo-actions{
    display: block;
    opacity: 1;
    animation-name:fade;
    animation-iteration:1;
    animation-duration:1s;
    animation-directon:linear;
    border: 6px solid #42d00a;
}
.photo-actions{
    position: absolute;
    top:0;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
}
.photo-buttons{
    padding:0 30px;
    margin-top:50px;
}
.photo-caption{
    padding:5px 15px;
}
.photo-caption p{
    color: #fff;
}
.photo-buttons .btn {
    border: 0;
    color: #fff;
}
.photo-buttons .btn-select {
    background-color: #35a708;
}

.photo-buttons .btn-red {
    background-color: #e01212;
}
.photo-buttons .btn-select:hover {
    background-color: #2f8c0a;
}

.photo-buttons .btn-red:hover {
    background-color: #960000;
}

/* Labels */

.label-alert {
    text-align: left;
    padding: 5px 15px;
    color: #fff;
    margin-bottom: 2px;
    font-family: 'titillium_webregular';
    display: block;
}
.label-green {
    background-color: #04a31e;
}
.label-blue {
    background-color: #5f7ab7;
}
.label-yellow {
    background-color: #b48e45;
}
.label-orange {
    background-color: #f38e38;
}
.label-alert i {
    margin-right: 5px;
}
.lead-label {
    margin-bottom: 0;
    font-size: 14px;
    margin-top: 10px;
    color: #888;
    font-family: 'titillium_webregular';
}

/* modal-fullscreen */

.modal-fullscreen {
    background: transparent;
    padding-right: 0 !important;
}
.modal-fullscreen .modal-dialog,
.modal-fullscreen .modal-content {
    background: #fff;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.modal-fullscreen .modal-footer {
    background: #fff;
}
.modal-backdrop.modal-backdrop-fullscreen {
    background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
    opacity: .97;
    filter: alpha(opacity=97);
}

/*single property*/

.single-property-listing {
    padding-left: 40px;
}
.box-gray {
    background-color: #f7f7f7;
    border: 1px solid #bbbbbb;
    padding: 15px 13px;
}
.box-sites {
    height: 827px;
    overflow-y: scroll;
    padding: 14px 15px !important;
}
.box-title {
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    margin-left: 5px;
}
.property-site {
    border: 1px solid #dddddd;
    background: #fff;
    height: 300px;
    display: block;
    width: 100%;
    clear: both;
}
.property-img {
    height: 189px;
    overflow: hidden;
    position: relative;
}
.property-listing-status{
    position: absolute;
    top: 6px;
    padding: 2px 6px 2px 6px;
    color: #fff;
    background: #41c86a;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    border: 1px solid transparent;
    font-weight: normal;
}
.col-md-4.no-padding {
    padding: 5px !important;
}
.property-img img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}
.property-desc {
    padding: 10px 8px;
}
.property-name {
    color: #555555;
    font-size: 13.5px;
}
.property-type {
    color: #b7b7b7;
    font-size: 13.5px;
}
.section-title {
    color: #555;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
.property-desc p {
    margin-bottom: 0;
    white-space: nowrap;
    width: 13em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.property-btn {
    margin-top: 8px;
}
.accordion-property .panel-heading {
    background: #bbbbbb;
    cursor: pointer;
}
.accordion-property .panel-heading:hover {
    background: #cccccc;
}
.accordion-property .panel-heading .panel-title a {
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    display: block;
    cursor: pointer;
}
.accordion-property .panel-default>.panel-heading+.panel-collapse>.panel-body {
    background-color: #f7f7f7;
}
.create-sites-property {
    margin-top: -75px;
}
.icon-caret-down {
    background: url('../images/caret-down.png');
    background-repeat: no-repeat;
    width: 25px;
    height: 14px;
    display: block;
}
.btn-blue {
    background: #0778eb;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.btn-gray {
    background: #888888;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: left;
}
.btn-light-green {
    background: #35a708;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 13.3px;
    text-align: left;
}
.btn-light-green:focus,
.btn-light-green:active,
.btn-light-green:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray:hover {
    color: #fff;
    cursor: pointer;
}
.btn-blue:hover {
    background-color: #0870da;
}
.btn-gray:hover {
    background: #848282;
}
.btn-light-green:hover {
    background: #309a07;
}
.btn.btn-block .fa {
    margin-right: 1px;
    font-size: 17px;
}
#agent-idx-website-modal .modal-dialog {
    width: 1028px;
    margin-top:50px;
}
#agent-idx-website-modal .modal-content {
    background: url("../images/dashboard/trial-modal-bg.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding-bottom: 50px;
    overflow: hidden;
}
#agent-idx-website-modal .modal-header {
    border: 0;
}
#agent-idx-website-modal .close{
    background: #8a0404;
    border-radius:50%;
    padding:5px;
    height:50px;
    width: 50px;
    color: #fff;
    font-size:30px;
    position: absolute;
    right: -15px;
    top:-15px;
}
#agent-idx-website-modal .close span{
    margin-left:-10px;
    vertical-align: text-bottom;
}
#agent-idx-website-modal .modal-header .main-header-container {
    margin-left: 30px;
}
#agent-idx-website-modal .modal-footer {
    display: none;
}
#agent-idx-website-modal .main-header {
    font-family: 'Bitter', serif;
    position: relative;
    color: #fff;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, .7);
    font-weight: bold;
}
#agent-idx-website-modal .main-body {
    margin-left: 30px;
    margin-top: -20px;
    color: #000;
}
#agent-idx-website-modal .main-body a.btn {
    background: #fe8300;
    color: #fff;
    font-size: 25px;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, .5);
    box-shadow: 0px 4px rgba(0, 0, 0, .5);
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
}
#agent-idx-website-modal .main-body h4,
#agent-idx-website-modal .main-body p {
    color: #000;
}
#agent-idx-website-modal .main-body h4 {
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}
#agent-idx-website-modal h3.main-header {
    font-size: 50px;
}
#agent-idx-website-modal h4.main-header {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}
.idx-modal-list {
    list-style-type: none;
}
.idx-modal-list li {
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}
.idx-modal-list li:before {
    content: '*';
}
#agent-idx-website-modal .pricing {
    border-top: 2px dashed #003471;
    border-left: 2px dashed #003471;
    border-right: 2px dashed #003471;
    border-bottom: none;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 25px;
}
#agent-idx-website-modal .pricing h1 {
    text-align: center;
    font-family: "Bitter", sans-serif;
    font-weight: bold;
    color: #073e6c;
    margin-top: 0;
}
#agent-idx-website-modal .pricing h1 .dollar {
    font-size: 30px;
    font-weight: bold;
    vertical-align: super;
}
#agent-idx-website-modal .pricing h1 .permonth {
    font-size: 20px;
    color: #555555;
    margin-left: -15px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
#agent-idx-website-modal .small-monthly {
    margin-top: 15px;
}
#agent-idx-website-modal .small-monthly h1 {
    font-size: 50px;
}
#agent-idx-website-modal .large-monthly h1 {
    font-size: 70px;
    margin-bottom: 0;
}
#agent-idx-website-modal .small-monthly p {}
#agent-idx-website-modal .pricing p {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #555;
}
#agent-idx-website-modal .large-monthly .discount {
    color: #048404;
    font-size: 30px;
    font-weight: bold;
}
#agent-idx-website-modal .pricing-header {
    padding: 5px 0;
    margin-bottom: 15px;
    background: -moz-linear-gradient(left, rgba(7, 62, 108, 0) 0%, rgba(7, 62, 108, 1) 37%, rgba(7, 62, 108, 1) 50%, rgba(12, 68, 118, 1) 61%, rgba(30, 87, 153, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(7, 62, 108, 0) 0%, rgba(7, 62, 108, 1) 37%, rgba(7, 62, 108, 1) 50%, rgba(12, 68, 118, 1) 61%, rgba(30, 87, 153, 0) 100%);
    background: linear-gradient(to right, rgba(7, 62, 108, 0) 0%, rgba(7, 62, 108, 1) 37%, rgba(7, 62, 108, 1) 50%, rgba(12, 68, 118, 1) 61%, rgba(30, 87, 153, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00073e6c', endColorstr='#001e5799', GradientType=1);
}
#agent-idx-website-modal .pricing-header h4 {
    color: #fff;
    font-family: 'Bitter', serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
#agent-idx-website-modal .bottom-trial {
    background: #497ca7;
    margin: 0 -2px;
    padding: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
#agent-idx-website-modal .bottom-trial p {
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
}

/*page setup*/
textarea.summernote{
    display: none;
}

/*Customize Homepage Edit Label*/
#navLabel input.error{
    border-color: #EB594E;
}
#navLabel label.error{
    display:none!important;
}

/*reviews page*/
.testimonial-message p{
    line-height: 1.5em;
    height: 50px;
    overflow: hidden;
}
#review-modal{
    padding-top:30px;
}
#review-modal .modal-header{
    border-bottom:0;
}
.approved-review-button{
    color: #fff;
    background:#313643;
}
.pending-review-button{
    color: #fff;
}

/*misc*/

.no-padding {
    padding: 0;
}
.no-padding-left {
    padding-left: 0;
}
.no-padding-right {
    padding-right: 0;
}

.clearfix {
    clear: both;
}
.mb-15px {
    margin-bottom: 15px;
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.modal-fullscreen .modal-body iframe {
    width: 100%;
    height: 1500px
}


/***** Dashboard *****/
.box-bordergray {
    border: 2px solid #bbbbbb;
    padding: 22px;
    position: relative;
    margin-bottom: 22px;
}

.box-gray-title {
    margin: 0;
    font-size: 23px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #555555;
    font-family: 'Montserrat', sans-serif;}

.label-list {
    margin-top: 43px;
    display: block;
    width: 100%;
    float: left;
    padding: 0;
}

.label-list li {
    list-style: none;
    text-align: right;
    margin-bottom: 10px;
    display: block;
}

.bar {
    width: 56px;
    height: 13px;
    border-radius: 5px;
    margin-bottom: 0;
    }

.label-list li p {
    display: inline-block;
}


.label-list li .label-title {
    width: 65%;
    margin-right: 15px;
    float: left;
    margin-bottom: 0;
}

.bar-blue {
    background: #0096ff;
}

.bar-orange {
    background: #ffa200;
}
.bar-green {
    background: #0bdf0b;
}

.bar-red {
    background: #ff0600;
}

.btn-graph {
    position: absolute;
    bottom: -80%;
    width: 100%;
    text-align: center;
}

.btn-darkblue {
    font-family: 'Montserrat', sans-serif;
    background-color: #4b6bba;
    color: #fff;
    padding: 5px 10px !important;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #33529e;
    font-size: 18px;
}

.btn-darkblue:hover {
    color: #fff;
}
.btn-darkblue:active,
.btn-darkblue:focus  {
    background-color: #415fa7;
    box-shadow: 0 2px #273f79;
    transform: translateY(3px);
    color: #fff;
}

#box-chart-morris-area{
    position: relative;
}

#box-chart-morris-area-property{
    position: relative;
}

#chart-morris-area {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../images/dashboard/reload.gif') 50% 50% no-repeat rgba(255,255,255,.5);
    
}

#chart-morris-area-property {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../images/dashboard/reload.gif') 50% 50% no-repeat rgba(255,255,255,.5);
    
}

.dashboard-date  {
    /*margin-right: -15px;
    margin-left: -15px;*/
    margin-right: 50px;
    margin-left: -155px;
}

.dashboard-date .form-control {
    padding: 6px;
    height: 20px;
}

@media (min-width: 768px) {
    .modal-fullscreen .modal-dialog {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .modal-fullscreen .modal-dialog {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .modal-fullscreen .modal-dialog {
        width: 100%;
    }
}

/* Media Queries */

@media (max-width: 991px) {
    .navbar-collapse.pull-left+.navbar-custom-menu {
        right: 0px;
    }
}
@media (max-width: 768px) {
    .invisible-xs {
        display: none !important;
    }
}
@media (max-width: 767px) {
    .fixed .content-wrapper {
        padding-top: 50px;
    }
}
@media only screen and (max-width:1440px) {
    .btn-blue,
    .btn-gray {
        font-size: 11px !important;
        padding: 5px !important;
    }
    .btn-blue .fa,
    .btn-gray .fa {
        font-size: 12px !important;
    }
    .domain-info p {
        font-size: 11px;
    }
    .preview-button .btn {
        font-size: 15px !important;
        padding: 15px !important;
    }
}
@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation:portrait) {
    .navbar-collapse.pull-left+.navbar-custom-menu {
        right: 0px;
    }
    .pagination-list .input-form input {
        border: 1px solid #ccc;
    }
    .skin-blue .main-header .navbar .nav>li.user-menu>a {
        padding-right: 0;
    }
    .skin-blue .main-header .navbar .nav>li.user-menu>a.dropdown-toggle>span {
        display: none;
    }
    .skin-blue .main-header .navbar .nav>li>a>span {
        display: none;
    }
    .skin-blue .main-header .navbar-nav >li>a>i{
        // display: block;
    }
    .skin-blue .main-header .navbar-nav >li>a>i.link-text{
        display: none;
    }
    .create-sites-property {
        margin-top: 0;
        clear: both;
    }
    .single-property-listing {
        padding-left: 15px;
    }
/*    // .search-pagination {
    //     width: 60%;
    // }*/
    .main-header .navbar-custom-menu a.btn-submit {
        background: #67809f;
        color: #f4f4f4;
    }
    .update-site {
        margin-right: 0;
    }

    /*idx modal*/
    #agent-idx-website-modal .modal-dialog{
        width: 100%;
        margin:0;
    }

    .savesearch-tab .nav-tabs>li {
        margin-bottom: -3px;
    }

    /*fb ads*/
    .fb-ads-campaign {
        padding-left: 15px;
    }    
    .audience-details {
        clear: both;
    }

    /*dashboard*/
    .dashboard-date {
        margin: 0;
    }

    .btn-graph {
        position: initial;
    }

    /*pricing modal*/
    #modalPricing .modal-dialog {
        width: 98%;
    }

    #modalPricing .modal-header .close {
        right: -30px;
        top: -40px;
    }

    #modalPricing .price-title {
        font-size: 16px;
    }

    /*modal payment*/
    .mclear {
        clear: both;
    }
    .list-link li a {
        display: block;
        padding: 0;
        text-align: center;
    }

    .powered-by {
        text-align: center;
    }

}
@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation: landscape) {
    .navbar-collapse.pull-left+.navbar-custom-menu {
        right: 0px;
    }
    .skin-blue .main-header .navbar .nav>li>a {
        padding: 15px 5px;
    }
    .main-header .navbar-brand {
        max-width: 110px;
    }
    .main-header .navbar-brand>img.dashboard-logo {
        width: 100% !important;
    }
    /* Single Property */
    .property-site {
        height: 250px !important;
        overflow: hidden;
        padding-bottom: 15px;
    }
    .property-img {
        height: 93px;
        position: relative;
    }
    .property-desc p {
        width: 100%;
    }
    .property-btn .col-md-6 {
        width: 100%;
        margin-top: 3px;
    }
    .property-btn .col-md-6 .btn {
        font-size: 12px;
    }
    .property-btn .col-md-7 {
        width: 100%;
    }
    .property-btn .col-md-7 .btn {
        font-size: 11px;
    }
    .property-btn .col-md-7 .btn .fa {
        margin-right: 0;
        font-size: 12px;
    }
    .property-site.create-site {
        height: 210px !important;
    }
    .btn-light-green {
        font-size: 11px;
    }
    .property-btn .col-md-10 {
        width: 100%;
    }
    .btn-light-green .fa {
        font-size: 12px !important;
    }
    .pagination-list {
        width: 100%;
    }
    // .search-pagination {
    //     width: 45%;
    // }

    /*idx modal*/
    #agent-idx-website-modal .modal-dialog{
        width: 100%;
        margin:0;
    }

    /*Pagination*/
    .pagination-area b {
        padding: 3px 6px;
    }

    .pagination-area a {
        padding: 3px 4px;
        border: 0;
        background: #cdd0dd;
    }

    /*fb view*/
    .fb-desktop-view>.col-md-1 {
        width: 18%;
    }

    .fb-desktop-view>.col-md-6 {
        width: 34%;
    }
    .fb-mobile-view {
        width: 100%;
    }

    /*dashboard*/
    .dashboard-date .col-md-6 {
         width: 100%; 
         margin-bottom: 5px; 
    }
    .label-list {
        margin-top: 20px;
    }

    .label-list li .label-title {
        width: 75px;
        margin-right: 0;
        font-size: 14px;
        white-space: normal;
    }

    .label-list li {
        margin-bottom: 20px;
        padding: 1px 0;
    }

    .btn-graph {
        bottom: -90px;
    }

    /*modal payment*/
    .list-link li a {
        padding: 10px 2px;
        text-decoration: underline;
    }
    #modalPayment .modal-text {
        font-size: 13px;
    }
}
@media only screen and (min-width: 553px) and (max-width: 767px) {
    .skin-blue .main-header .navbar .nav>.active>a:before {
        display: none;
    }
    .skin-blue .main-header .navbar .nav>li>a .caret {
        float: right;
        margin-top: 8px;
    }
    .navbar-collapse.pull-left+.navbar-custom-menu {
        right: 40px;
    }
    #preview-img img {
        margin: 0;
        width: 100%;
    }
    .navbar-nav {
        margin: 0 -15px;
    }
    .property-btn a{
        text-align: center;
    }

    /*idx modal*/
    #agent-idx-website-modal .modal-dialog{
        width: 100%;
        margin:0;
    }
    #agent-idx-website-modal .main-body h4,
    #agent-idx-website-modal .main-body ul li{
        text-shadow:0px 1px 2px rgba(255,255,255,.8);
    }
    .create-sites-property {
        margin-top: 0;
    }

    /*reviews*/
    .testimonial-message p{
        width: 400px;
        height: auto;
    }
}
@media only screen and (max-width: 640px) and (orientation:landscape) {
    /*idx modal*/
    #agent-idx-website-modal .modal-dialog{
        width: 100%;
        margin:0;
    }
    #agent-idx-website-modal .modal-header .main-header-container{
        margin-left:0;
    }
    #agent-idx-website-modal .main-body{
        margin-left: 0;
    }
    .pricing-section .no-padding-left{
        padding-left:15px;
    }
    #agent-idx-website-modal .main-body a.btn{
        text-align: center;
        font-size:14px;
    }
    #agent-idx-website-modal .main-body h4,
    #agent-idx-website-modal .main-body ul li{
        text-shadow:0px 1px 2px rgba(255,255,255,.8);
    }
    .create-sites-property {
        margin-top: 0;
    }
    .single-property-listing{
        padding-left: 15px;
    }
    .property-img{
        height:auto;
        position: relative;
    }
    .property-img img{
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: auto;
        min-height: 100%;
        min-width: 100%;
    }
    .property-btn a{
        text-align: center;
    }

    /*reviews*/
    .testimonial-message p{
        width: 400px;
        height: auto;
    }
}
@media only screen and (min-width: 240px) and (max-width: 552px) {
    .skin-blue .main-header .navbar .nav>.active>a:before {
        display: none;
    }
    .skin-blue .main-header .navbar .nav>li>a .caret {
        float: right;
        margin-top: 8px;
    }
    .navbar-collapse.pull-left+.navbar-custom-menu {
        right: 40px;
    }
    .pagination-list .input-form input {
        border: 1px solid #ccc;
    }
    .launch-site-now-temp {
        float: none !important;
        margin-top: 10px;
    }
    #preview-img img {
        margin: 0;
        width: 100%;
    }
    .social-media-form .fa {
        padding-top: 10px;
    }
    .mobile-center {
        margin-top: 10px;
        text-align: center;
        float: none !important;
    }
    .footer-links b {
        display: block;
        margin-bottom: 10px;
    }
    .footer-links .pull-right a {
        margin-right: 10px;
    }
    .main-footer.footer-links {
        padding: 0;
        padding-top: 10px;
    }
    .navbar-nav {
        margin: 0 -15px;
    }
    .main-header .navbar-brand>img.dashboard-logo {
        width: 70% !important;
        margin: 0;
    }
    .alert a.btn.btn-submit.pull-right {
        padding: 5px;
        margin-top: -5px;
        margin-right: -20px;
    }
    .alert {
        font-size: 14px;
    }
    .heading-title {
        margin-left: -40px;
    }
    .create-sites-property {
        margin-top: 0;
    }
    .create-sites-property {
        clear: both;
    }
    .heading-title span {
        font-size: 24px;
    }
    .page-title p {
        font-size: 12px;
        margin-left: 12px;
    }
    .single-property-listing {
        padding-left: 15px;
    }
    .search-pagination {
        width: 100%;
    }
    .search-list {
        display: block;
        margin-bottom: 15px;
        float: none;
    }
    .search-list .input-group {
        width: 100% !important;
    }
    .search-pagination .mr-20px {
        clear: both;
        margin-top: 10px;
        margin-right: 0;
    }
    .pagination-list {
        margin-top: 14px;
        display: block;
    }
    .pagination-list li {
        margin-top: 10px;
    }
    .activities-list {
        clear: both;
    }
    .update_list_btn,
    .btn-warning-right,
    .launch-site-now-temp {
        margin-top: 5px;
    }
    .content-wrapper .alert{
        padding:25px;
    }
    .property-img{
        height:auto;
        position: relative;
    }
    .property-img img{
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: auto;
        min-height: 100%;
        min-width: 100%;
    }
    .property-btn a{
        text-align: center;
    }
    .property-site {
        height: 350px !important;
    }
    .property-site.create-site {
        height: 325px;
    }

    /*idx modal*/
    #agent-idx-website-modal .modal-dialog{
        width: 100%;
        margin:0;
    }
    #agent-idx-website-modal .modal-header .main-header-container{
        margin-left:0;
    }
    #agent-idx-website-modal .main-body{
        margin-left: 0;
    }
    #agent-idx-website-modal .main-body h4,
    #agent-idx-website-modal .main-body ul li{
        text-shadow:0px 1px 2px rgba(255,255,255,.8);
    }
    .pricing-section .no-padding-left{
        padding-left:15px;
    }
    #agent-idx-website-modal .main-body a.btn{
        text-align: center;
        font-size:14px;
    }

    /*Pagination*/
    .pagination-area b, 
    .pagination-area a {
        padding: 3px 6px;
    }

    /*fb ads*/
    .fb-ads-campaign {
        padding-left: 15px;
    }

    /*reviews*/
    .testimonial-message p{
        width: 400px;
        height: auto;
    }

    /*dashboard*/
    .dashboard-date {
        margin: 0;
    }

    .btn-graph {
        position: initial;
    }

    .label-list li .label-title {
        width: 78%;
    }

    /*modal pricing*/
    #modalPricing .modal-dialog {
        width: 98%;
        margin: 20px auto;
    }

    #modalPricing .modal-header .close {
        right: -30px;
        top: -40px;
    }

    #modalPricing .col-md-1 {
        text-align: center;
        margin: 0;
    }

    #modalPricing .or-text {
        margin: 30px 0 0;
    }

    #modalPricing .price-title {
        font-size: 15px;
    }

    /*modal payment*/
    #modalPayment .modal-dialog {
        width: 95%;
    }

    .list-link li a {
        display: block;
        padding: 0;
        text-align: center;
    }

    .powered-by {
        text-align: center;
    }
}

