@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);

/*generic*/
p,h1,h2,h3,h4,h5,td,li,a{
	font-family: "Open Sans",sans-serif;
}
h1,h2,h3,h4,h5{
	margin:0;
	padding:0;
}
html{
	height: 100%;
	width: 100%;
}
body{
	background:#f1f1f1;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.body-wrapper{
    height: 100%;
    overflow: auto;
    width: 100%;
}
.body-wrapper.scrollbar-dynamic {
    max-height: none;
}
.btn-submit{
	border:0px;
	box-shadow: none;
	background-image:none;
	background: #aaa;
	text-shadow:none;
}
input.form-control,
select.form-control,
textarea.form-control{
	border-radius:0px;
	font-family: 'Open Sans',sans-serif;
	font-weight: 400;
	color: #aaa;
}
input.form-control:focus,
select.form-control:focus,
textarea.form-control:focus{
	box-shadow: none;
	border-color:#ddd;
}
label{
	font-family: 'Open Sans',sans-serif;
	font-weight: 400;
	color: #9a9a9a;
}
img{
	max-width: 100%;
}

/*top header*/
.top-header-area{
	position: relative;
}
.top-header{
	padding:15px 5%;
	position: absolute;
	z-index: 1;
	width: 100%;
}
.register-links{
	position: absolute;
	right:0;
	top:0px;
}
.register-links li{
	padding: 0;
	margin:0 5px 0 0;
}
.register-links a{
	padding:0 !important;
	margin:0;
	font-family: 'Open Sans',sans-serif;
	font-weight: 300;
	font-size: 12px;
	color: #d24d57;
}
.social-header{
	margin-top:0px;
	margin-bottom: 0px;
}
.social-header li a{
	font-size:16px;
	color: #d24d57;
}
.social-header li i{
	background: #d24d57;
    border-radius: 3px;
    color: #f7f7f7;
    height: 28px;
    line-height: 29px;
    margin-right: 7px;
    text-align: center;
    width: 28px;
}
.social-header li i:hover{
	border-radius:50%;
	transition:all .2s ease-in;
}
.registration li a{
	color: #f7f7f7;
	font-family: 'Open Sans', sans-serif;
}
.top-header-area .navbar-brand{
	padding:0;
}
.top-header-area .navbar-brand img{
	max-width: 60%;
}

/*navbar*/
.navbar{
	background: rgba(246,246,246,.8);
}
.home-navigation-area{
	position: relative;
}
.home-navigation-area .navbar{
	position: absolute;
	margin:100px 0;
	z-index: 1;
}
.main-menu li:last-child a{
	padding-right:0;
}
.main-menu li a{
	color: #5e5e5e;
	font-family: 'Open Sans', sans-serif;
}
.main-menu li a:hover{
	background: transparent;
	color: #d24d57;
	transition:all .4s;
}
.tagline{
	color: #fff;
	font-family: 'Kaushan Script', cursive;
	clear: both;
	padding-top:10px;
}
.navbar.other-navbar{
	min-height: 107px;
	padding-bottom:2px;
	border-bottom:0;
	margin-bottom:0;
	border-bottom:1px solid #cbcbcb;
	border-radius:0px;
}
.other-navbar .navbar-header{
	max-width: 175px;
}
.other-navbar .navbar-brand{
	max-width: 100%;
}
.other-navbar .navbar-brand img{
	max-width: 100%;
}
.other-navbar .tagline{
	padding-top:22px;
	color: #5e5e5e;
}
.other-navbar .main-menu{
	margin-top:20px;
}

/*slider area*/
.slider-area{
	height: 600px;
	position: relative;
}
.overlay{
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    z-index: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    top:0;
}

/*search area*/
.search-area{
	position: relative;
	top:-315px;
}
.search-input-group:before,
.search-input-group:after{
	content: "";
	display: table;
	clear: both;
}
.city-search{
	padding:0 15px;
	margin:0 auto;
	background: rgba(246,246,246,.8);
	border:5px solid #d24d57;
	border-radius:3px;
	height: 45px;
}
.city-search:focus{
	background: rgba(246,246,246,1);
	border:5px solid #d24d57 !important;
	transition:background .2s ease-in;
}
.search-area .section-title{
	color: #fff;
	font-family: "Dancing Script",cursive;
}
.search-area .search-input-group{
	padding: 0 20%;
}
.section-title{
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size:35px;
	color: #393939;
	padding:15px 0;
	margin-bottom:15px;
}
.btn-find-home{
	color: #fff;
	background: #d24d57;
	padding:10px 25px;
	margin-top:15px;
	border:0px;
	border-radius:3px;
	background-image: none;
	box-shadow: none;
	text-shadow:none;
	font-family: 'Open Sans', serif;
	transition:all .3s;
}
.btn-find-home:hover{
	opacity: .8;
	background: #d24d57;
	color: #fff;
	border-radius:0px;
	transition:all .3s;
}

/*slider properties*/
.slider-properties{
	position: relative;
	top:-220px;
}
.new-properties{
	height:100%;
	background: #393939;
}
#owl-slider .item:before,
#owl-slider .item:after{
	clear: both;
	content: "";
	display: table;
}
#owl-slider .item{
	padding:15px;
	background: #575757;
	margin:15px;
}
#owl-slider .item h4,
#owl-slider .item p{
	color: #fff;
	font-family: 'Open Sans', serif;
	margin:0;
	padding: 0;
}
#owl-slider .item h4{
	min-height: 40px;
}
#owl-slider .item img{
	height: 80px;
}
.customNavigation{
    position: absolute;
    text-align: center;
    top: 35%;
    z-index: 2;
    width:100%;
    opacity: 1;
}
.customNavigation a{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.customNavigation a.prev{
	position: absolute;
	left: 15px;
	color: #fff;
}
.customNavigation a.next{
	position: absolute;
	right: 15px;
	color: #fff;
}
.customNavigation a i{
	font-size:25px;
	height: 25px;
    width: 15px;
}
.slider-view{
	color: #ff7e88;
	font-family: "Open Sans",sans-serif;
	font-size: 16px;
	text-decoration: none;
}
.slider-view:hover{
	color: #fff;
	text-decoration: none;
}

/*featured properties*/
.featured-properties{
	position: relative;
	top:-170px;
	z-index: 1;
}
.property-item{
	position: relative;
	padding-bottom:15px;
	margin:15px;
}
.property-item:before,
.property-item:after{
	clear: both;
	display: table;
	content: "";
}
.property-listing-price{
	position: absolute;
	top:0;
	height: 250px;
	width: 180px;
	background: rgba(210,77,87,.9	);
	z-index: 1000;
}
.property-listing-price h4{
	margin:0 0 15px 0;
	padding:0;
}
.property-listing-type{
	background: #575757;
	color: #fff;
	padding:20px 15px 25px 15px;
	margin-bottom:15px;
	width:100%;
}
.page-content .property-listing-type p,
.property-listing-type p{
	color: #fff;
	margin-bottom:0;
	font-family: "Open Sans",sans-serif;
}
.property-image{
	height: 250px;
    overflow: hidden;
    border:1px solid #c3c3c3;
}
.property-image img{
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}
.listing-price{
	background: transparent;
	color: #fff;
	padding:5px 15px;
	width:130px;
}
.listing-price p{
	color: #fff;
	font-family: "Open Sans",sans-serif;
}
.property-listing-description{
	color: #aaa;
	padding:15px 0;
}
.property-listing-description:before,
.property-listing-description:after{
	clear: both;
	display: table;
	content: "";
}
.property-listing-description h4{
	min-height: 15px;
	font-family: "Open Sans",sans-serif;	
}
.property-listing-description a{
	text-decoration: none;
	color: #444;
	font-family: "Open Sans",sans-serif;
}
.property-listing-description a:hover{
	color: #d24d57;
}
.property-listing-description a.btn-submit{
	color: #fff;
}
.property-listing-description h4.heart-container{
	min-height:20px;
}
.property-listing-description p{
	font-family: "Open Sans",sans-serif;
}
a.favorite{
	color: #eb594e;
}
.listing-overlay{
	background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;
    z-index: 0;
    height: 250px;
    position: absolute;
    width: 100%;
    top:0;
    border-radius:3px;
}
.property-quick-icons ul li{
	color: #fff;
	font-family: "Open Sans",sans-serif;
}
.property-quick-icons ul li i{
	width:80px;
}
.property-listing-description a.view-listing{
	color: rgb(210, 77, 87);
}

/*agent info*/
.agent-info{
	position: relative;
	top:-100px;
	padding:50px 0;
	background:#f1f1f1;
}
.agent-info:after{
	content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    
    background-repeat: no-repeat;
    background-position: 100% 100%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.agent-info h3{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color: #f7f7f7;
}
.agent-info p,
.agent-info li{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #f7f7f7;	
}
.agent-info h3 span{
	color: #f1a5af;
}
.agent-info .overlay{
	background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
}
.agent-details{
	position: relative;
	z-index: 2;
}
.main-contact{
	max-width: 450px;
	clear: both;
}
.main-contact h2{
	background:#f1a5af;
	padding:10px 5px;
	text-align: center;
	color: #fff;
	width:80px;
}
.main-contact h4{
	margin-top: 20px;
	color: #f7f7f7;
}
.main-contact a{
	color: #f7f7f7;
}
.agent-summary a{
	color: #f1a5af;
}

/*other property listings*/
.other-properties{
	position: relative;
	top:-100px;
	padding:50px 0;
	margin-bottom:-50px;
}
.other-properties:before,
.other-properties:after{
	display: table;
	clear: both;
	content: "";
}
.other-property-image{
	height: 250px;
	position: relative;
	overflow: hidden;
}
.other-property-image img{
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}
.property-icons{
	padding: 5px;
}
.property-icons ul li{
	color: #646464;
	font-family: "Open Sans",sans-serif;
}
.other-property-item{
	position: relative;
}
.other-property-type{
	position: absolute;
	top:0;
	width: 70px;
	background:#D24D57;
	padding:0px;
	margin:0;
}
.other-property-type p{
	padding:5px;
	margin:0;
	text-align: center;
	color: #fff;
	font-family: "Open Sans",sans-serif;
}
.other-property-description h4,
.other-property-description p{
	margin:0 0 0 5px;
	padding:0;
	font-family: "Open Sans",sans-serif;
	color: #444;
}
.other-property-description p{
	color: #aaa;
}
.other-property-description h4 a{
	color: #444;
	text-decoration: none;
}
.other-property-description h4 a:hover{
	color: #D24D57;
}
.other-property-item:hover .other-property-overlay{
	opacity: .8;
	display: block;
}
.other-property-overlay{
	display: none;
	opacity: 0;
	background: rgba(210,77,87,.5);
    z-index: 0;
    min-height: 250px;
    position: absolute;
    width: 100%;
    top:0;
    animation-name:overlay;
    animation-duration:.5s;
    animation-iteration:1;
}
.other-property-overlay h1{
	text-align: center;
	vertical-align: middle;
	font-size: 70px;
	margin:0 auto;
	margin-top:25%;
}
.other-property-overlay h1 a{
	color: #fff;
}
@keyframes overlay{
	0%{
		opacity:0;
	}
	100%{
		opacity: .8;
	}
}

/*calculators*/
.calculation-area{
	padding: 50px 0 70px 0;
	background:#EDEDED;
	position: relative;
}
.calculation-area .section-title{
	color: #797979;
}
.total-mortgage{
	color: #9a9a9a;
}
.btn-calculate{
	border-radius:0px;
	color: #9a9a9a;
	background-image: none;
	font-family: "Open Sans",sans-serif;	
}
.btn-calculate:hover{
	background:#575757;
	text-shadow:none;
	color: #fff;
}

/*find a home*/
.filters{
	position: relative;
	width: 200px;
}
.property-listing-area{
	position: relative;
	top:0;
	margin:0px 0 50px 0;
}
.property-listing-area:before,
.property-listing-area:after{
	clear: both;
	display: table;
	content: "";
}
.property-overflow{
	position: relative;
	height: 600px;
	width: 100%;
	overflow-y:scroll;
}
.property-listing-image{
	height: 250px;
	position: relative;
	overflow: hidden;
}
.property-listing-image img{
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}
.property-listing-description ul li{
	font-family: "Open Sans",sans-serif;
}
.property-price{
	position: absolute;
	bottom:0px;
	color: #fff;
	padding-left:30px;
	font-family: "Open Sans",sans-serif;
	z-index:1;
	background: rgba(0,0,0,.4);
	width: 100%;
}
.property-listing-filter .selectize-input{
	border:1px solid #ddd !important;
	border-radius:0px !important;
	height: 34px;
	box-shadow: none !important;
}
.property-listing-filter .selectize-control.multi .selectize-input > div{
	font-family: 'Open Sans', serif;
	padding:0;
}
.property-listing-filter .selectize-dropdown, 
.property-listing-filter .selectize-input, 
.property-listing-filter .selectize-input input{
	padding-left:15px !important;
	font-family: 'Open Sans', serif !important;
	line-height: auto !important;
	height: 34px;
}
.property-listing-filter .selectize-dropdown, 
.property-listing-filter.selectize-input, 
.property-listing-filter .selectize-input input:focus{
	border-color: transparent !important;
	box-shadow: none !important;
}
.property-listing-filter .selectize-dropdown, 
.property-listing-filter .selectize-dropdown.form-control{
	z-index: 1050;
}
.property-listing-filter .selectize-dropdown-content option{
	height:34px !important;
	padding:0 !important;
	background: rgba(246,246,246,.8) !important;
}
.property-listing-filter .selectize-dropdown, 
.property-listing-filter .selectize-dropdown.form-control{
	padding:0 !important;
	border:0px !important;
	border-radius:0px !important;
	font-family: 'Open Sans', serif;
	background: rgba(246,246,246,.8) !important;
}
.property-listing-filter .selectize-input.items{
	padding:0 !important;
	background: rgb(255,255,255) !important;	
}
.property-listing-filter{
	padding:15px 0;
}
.property-listing-filter h4{
	color: #7c7c7c;
	font-family: 'Open Sans', serif;
}
.property-listing-filter input.form-control:focus,
.property-listing-filter select.form-control:focus{
	box-shadow: none;
	border-color: #ddd;
}
.btn-filter{
	margin-top:25px;
	border-radius:0px;
	background-image: none;
	background: #D24D57;
	color: #fff;
	text-shadow:none;
	border:0px;
	font-family: 'Open Sans', serif;
}
.btn-filter:hover{
	border:0px;
	background: #777;
	color: #fff;
	transition:all .2s;
}
.other-property-listing-area:before,
.other-property-listing-area:after{
	clear: both;
	display: table;
	content: "";
}
.other-property-listing-area{
	position: relative;
	padding: 50px 0;
}
.location-map{
	display: block;
	position: relative;
}
.property-map{
	height: 400px;
	visibility: visible;
	display: block;
}
.toggle-map{
	height:auto !important;
	visibility:visible !important;
	display: block !important;
	margin-bottom:0px;
}
.action-button-area:before,
.action-button-area:after{
	clear: both;
	display: table;
	content: "";
}
.action-button-area{
	padding:0px 0;
}
.no-results-area{
	background: none;
	position: relative;
	padding:50px 15px;
	margin:15px 15px;
	text-align: center;
	display: none;
	color: #7c7c7c;
}
.find-no-results .not-found{
	font-size:50px;
	margin:15px 0;
	color: #7c7c7c;
}
.action-button-area .btn-filter{
	background: #777;
}
.btn-filter.active{
	background: #d24d57;
	color: #fff;
	box-shadow: none;
}
.listings{
	opacity: 1;
	transition:all .2s ease-in;
	padding:15px 0;
}
.listings-column{
	padding:15px 0;
}
#more-filters:before,
#more-filters:after{
	clear: both;
	display: table;
	content: "";
}
#more-filters{
	position: relative;
}
.main-filters:before,
.main-filters:after{
	clear: both;
	display: table;
	content: "";
}
.refine-button .fa{
	margin-left: 5px;
	vertical-align: text-top;
}
.refine-button .fa-sort-asc{
	margin-left: 5px;
	vertical-align: bottom;
}

/*property detail page*/
.property-detail-header{
	position: relative;
    top: 500px;
    z-index: 5;
}
.property-detail-header h2{
	color: #fff;
	font-family: "Open Sans",sans-serif;
	text-transform: uppercase;
}
.property-detail-nav{
	background: #393939;
}
.property-detail-nav ul li a{
	background: none;
	color: #fff;
	font-family: "Open Sans",sans-serif;
	border:0px;
	padding:25px 15px;
}
.property-detail-nav .nav-pills > li.active > a,
.property-detail-nav.nav-pills > li.active > a:hover,
.property-detail-nav .nav-pills > li.active > a:focus{
	background: #d24d57;
	border:0px;
}
.property-detail-nav.nav-pills > li.active > a:hover,
.property-detail-nav .nav-pills > li.active > a:focus{
	background: #d24d57;
}
.property-detail-nav .nav-tabs.nav-justified > li > a{
	border-radius:0px;
	border:0px;
}
.property-detail-nav .nav-tabs.nav-justified > li > a:hover{
	border:0px;	
	background: #d24d57;
	transition:all .3s;
}
.property-detail-fav a{
	color: #d24d57;
	padding:25px 0;
}
.property-detail-fav a i{
	color: #d24d57;
	padding:20px 0 15px 0;
}
.property-detail-area{
	padding: 15px;
}
.property-detail-area p{
	color: #5e5e5e;
	font-family: "Open Sans",sans-serif;
}
.property-detail-area td{
	color: #5e5e5e;
	font-family: "Open Sans",sans-serif;	
}
.summary-icons:before,
.summary-icons:after{
	clear: both;
	display: table;
	content: "";
}
.summary-icons{
	padding:25px 0;
}
.summary-icons p,
.summary-icons i,
.summary-icons h4{
	color: #5e5e5e;
}
.summary-icons i{
	font-size:25px;
}
.summary-icons p{
	text-align: center;
	border-bottom:1px solid #ddd;
	padding-bottom:15px;
	font-family: "Open Sans",sans-serif;
}
.summary-icons h4{
	text-align: center;
	font-family: "Open Sans",sans-serif;
}
.summary-specs{
	margin-top:25px;
}
.summary-specs h2{
	padding:15px 0;
	font-family: "Open Sans",sans-serif;
	color: #5e5e5e;
}
.summary-specs h4{
	padding:15px 0;
	font-family: "Open Sans",sans-serif;
	color: #5e5e5e;
}
.summary-specs ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
.summary-specs ul li:before,
.summary-specs ul li:after{
	display: table;
	clear: both;
	content:"";
}
.summary-specs ul li{
	padding:15px 0 15px 0;
	margin:0;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.summary-specs ul li:last-child{
	border-bottom:0px;	
}
#photos h4{
	padding:25px 0;
	color: #5e5e5e;
	font-family: "Open Sans",sans-serif;
}
.photos{
	padding:25px 0;
}
#location,
#specs{
	padding:25px 0;	
}
.right-sidebar{
	padding:25px 0;
	background: #e9e9e9;
}
.right-sidebar-panel.first{
	padding:0px 15px 0 15px;
	margin:0 15px 15px;
}
.right-sidebar-panel{
	background: #e9e9e9;
	padding:15px 15px 0 15px;
	margin:15px;
}
.right-sidebar-panel .panel-title{
	text-align: left;
	color: #5e5e5e;
	font-family: "Open Sans",sans-serif;
	padding: 15px 0;
}
.right-sidebar-panel h4,
.right-sidebar-panel p,
.right-sidebar-panel li{
	color: #5e5e5e;
	font-family: "Open Sans",sans-serif;
}
.right-sidebar-panel a{
	color: #D24D57;
	text-decoration: none;
}
.right-sidebar-panel a:hover{
	color: #aaa;
}
.right-sidebar-panel input.form-control,
.right-sidebar-panel textarea.form-control{
	border-radius:0px;
}
.right-sidebar-panel textarea.form-control{
	resize:none;
	color: #5e5e5e;
	font-family: "Open Sans",sans-serif; 
}
.right-sidebar-panel input.form-control:focus,
.right-sidebar-panel textarea.form-control:focus{
	box-shadow: none;
	border-color:#ddd;
}
.right-sidebar-panel:before,
.right-sidebar-panel:after{
	clear: both;
	content: "";
	display: table;
}
.share-property-icons{
	padding:15px 0 0 0;
}
.share-property-icons .fa{
	font-size: 25px;
}
.share-property-icons .fa-envelope{
	color: #fff;
}
.share-property-icons .fa-facebook{
	color: #3A5795;
}
.share-property-icons .fa-twitter{
	color: #2FC2EF;
}
.share-property-icons .fa-google-plus{
	color: #D73D32;
}
.share-property-icons .fa-linkedin{
	color: #1481BA;
}
.agent-pic{
	margin-bottom:15px;
	text-align: center;
}
.agent-name{
	margin:10px 0;
}
.sidebar-agent-info{
	margin:0;
	padding: 0;
	list-style-type: none;
}
.sidebar-agent-info li{
	color: #5e5e5e;
	font-family: "Open Sans",sans-serif;
}
.panel-default > .panel-heading{
    background: #f4f4f4;
    border-radius: 0px;
}
.panel-group .panel{
    border-radius: 0px;
    color: #5e5e5e;  
    font-family: "Open Sans",sans-serif;
}
#residential{
	display: block;
}
.property-type-panel{
	display: none;
}
#specs ul{
	margin:0;
	padding:0;
	list-style-type: none;
}

/*blog*/
.page-content{
	margin:120px 0 0 0;
	padding:50px 0;
}
.page-content p{
	color: #5e5e5e;
	font-family: "Open Sans",sans-serif;	
}
.page-content h4,
.page-content h3{
	color: #5e5e5e;
	font-family: "Open Sans",sans-serif;	
}
.page-content li{
	color: #5e5e5e;
	font-family: "Open Sans",sans-serif;	
}
.page-title{
	color: #393939;
	font-family: "Open Sans",sans-serif;
	padding:0 0 15px 0;
}
.sidebar-carousel{
	max-height: 220px;
	padding:15px 0;
}
.sidebar-carousel .item img{
	height: 170px;
	margin:5px 0;
}
.sidebar-carousel .other-property-type{
	margin-top:15px;	
}
.sidebar-carousel .other-property-type p{
	color: #fff;
}
.page-text h1,
.page-text h2,
.page-text h3,
.page-text h4,
.page-text h5{
	color: #5e5e5e;	
	font-family: "Open Sans",sans-serif;
}
.page-text p{
	color: #5e5e5e;	
	font-family: "Open Sans",sans-serif;
	line-height: 2em;
}
.page-text a{
	color: #d24d57;
	font-family: "Open Sans",sans-serif;
}
.page-text li,
.page-text td{
	color: #5e5e5e;	
	font-family: "Open Sans",sans-serif;
	font-weight: 400;
}
.contact-information,
.property-information,
.moving-detail{
	margin:25px 0;	
}

/*blog list*/
.blog-item{
	clear: both;
	margin:25px 0;
}
.blog-item:before,
.blog-item:after{
	clear: both;
	display: table;
	content: "";
}
.blog-item a{
	color: #d24d57;
	font-family: "Open Sans",sans-serif;
}
.blog-item h2{
	color: #5e5e5e;
	margin:0;
	padding:0 0 15px 0;
	font-family: "Open Sans",sans-serif;	
}
.blog-item p{
	color: #5e5e5e;
	margin:0;
	padding:0;
	font-family: "Open Sans",sans-serif;	
}
.blog-item .date{
	margin-top:15px;
	text-align: center;
}

/*contact*/
.contact-form .form-group:before,
.contact-form .form-group:after{
	clear: both;
	content: "";
	display: table;
}
.contact-form textarea.form-control{
	border-radius:0px;
	resize:none;
	font-family: "Open Sans",sans-serif;
	color: #5e5e5e;
}
.contact-form input.form-control:focus,
.contact-form select.form-control:focus,
.contact-form textarea.form-control:focus{
	border-color: #ddd;
	box-shadow: none;
}
.contact-area h2,
.contact-area h4,
.contact-area p,
.contact-area li{
	font-family: "Open Sans",sans-serif;
	color: #5e5e5e;
}
.contact-area ul{
	margin:0;
	padding: 0;
	list-style-type: none;
}
.contact-agent-name{
	padding:0 0 10px 0;
}
.contact-form-area{
	margin:25px 0 15px 0;
}

/*registration*/
.registration p,
.registration h2,
.registration h4{
	font-family: "Open Sans",sans-serif;
	color: #5e5e5e;
}
.registration a{
	color: #d24d57;
}
.login-content{
	margin:50px 0 25px 0;
}
.login-content input.form-control,
.login-content textarea.form-control{
	border-radius:0px;
}
.login-content textarea.form-control{
	resize:none;
	color: #5e5e5e;
	font-family: "Open Sans",sans-serif; 
}
.login-content input.form-control:focus,
.login-content textarea.form-control:focus{
	box-shadow: none;
	border-color:#ddd;
}

/*customer dashboard*/
.customer-dashboard{
	background:#fff;
   	padding:15px;
   	margin-top:0px;
}
.customer-dashboard h3{
	margin:15px 0;
	font-family: "Open Sans",sans-serif;
	color: #5e5e5e;
}
.customer-dashboard p{
	font-family: "Open Sans",sans-serif;
	color: #5e5e5e;	
}
.customer-dashboard a{
	color: #d24d57;
	font-family: "Open Sans",sans-serif;
}
.customer-dashboard label{
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
}
.customer-dashboard .alert{
	box-shadow: none;
}
.customer-dashboard .nav-tabs{
	border:0px;
	background: none;
}
.customer-dashboard .nav-tabs > li:first-child > a{
	padding-left:0;
	font-family: "Open Sans",sans-serif;
	border:0px;
	background: none;
}
.customer-dashboard .nav-tabs > li > a{
	border-radius:0px;
	margin:0;
	padding: 5px 15px;
	font-family: "Open Sans",sans-serif;
	border:0px;
	color: #5e5e5e;
	background: none;
}
.customer-dashboard .nav-tabs > li > a:hover{
	color: #d24d57;
}
.customer-dashboard .nav-tabs > li.active > a{
	border:0px;
}
.customder-dashboard .tab-content > .tab-pane{
	font-family: "Open Sans",sans-serif;
}
.tab-content td{
	font-weight: 400;
	font-family: "Open Sans",sans-serif;
	color: #5e5e5e;
}
.tabular{
	overflow-x: scroll;
	overflow-y:hidden;
}

/*misc*/
.no-padding-left{
	padding-left:0;
}
.no-padding-right{
	padding-right: 0;
}
.no-padding{
	padding:0;
}
.scroll-to-top{
    background: #d24d57;
    border: 5px solid #393939;
    border-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #fff;
    display: none;
    height: 50px;
    left: 95%;
    line-height: 3.5;
    padding: 0 5px;
    position: fixed;
    text-align: center;
    top: 95%;
    width: 50px;
    z-index: 1051;
    cursor: pointer;
    margin-top:-20px;
}
.scroll-to-top a{
    color:#fff;
}
.scroll-to-top i{
    font-size:30px;
}

/*footer*/
footer{
	position: relative;
	background:#575757;
	clear: both;
	padding:50px 0;
}
.social-icons li:hover a{
	position: relative;
}
.social-icons li a{
	color: #fff;
	font-size:25px;
}
.social-icons li:hover a{
	color: #ebc9d3;
}
.social-icons li div{
	height:3px;
	background: transparent;
}
.social-icons li:hover div{
	width: 100%;
	background: #ebc9d3;
	animation:borderBottom .2s ease-in-out 1;
}
@keyframes borderBottom{
	0%{
		height: 0;
		background: #797979;
	}
	100%{
		height: 3px;
		background: #ebc9d3;
	}
}
.copyright{
	color: #fff;
	font-family: "Lato",sans-serif;
}
.terms li a{
	color: #ebc9d3;
	font-family: "Open Sans",sans-serif;
	text-decoration: none;
}
.terms li a:hover{
	color: #797979;
}
footer p{
	color: #fff;
}
.company-link{
	color: #ebc9d3;
}
.company-link:hover{
	color: #797979;
	text-decoration: none;
}

@media only screen and (min-width : 240px) and (max-width : 552px) {
	body{
		overflow-x:hidden;
	}
	.page-content{
		margin:0 0 0 0;
	}
	.scrollbar-chrome > .scroll-content.scroll-scrolly_visible {
	    left: 0px !important;
	    margin-left:0px !important;
	}

	/*nav*/
	.navbar-toggle .icon-bar{
		background: #a8a8a8;
	}
	.registration-content{
		margin-top:0;
	}
	.top-header{
		padding:15px 0;
		width: 90%;
	}
	.social-header{
		float: left !important;
		margin-top:5px;
	}
	.home-navigation-area{
		display: none;
	}
	.phone-menu{
		position: absolute;
	    text-align: right;
	    top: 15px;
	    width: 100%;
	    z-index: 1000;
	}

	.nav-menu-button{
		background: #d24d57;
		margin:0;
		color: #fff;
		text-shadow:none;]
		font-family: "Open Sans",sans-serif;
		border-radius:0px;
		border:0;
		box-shadow:none;
		font-size:20px;
		padding:2px 10px;
	}
	.nav-menu-button:hover{
		background: #777;
	}
	.phone-menu-links-area .main-menu{
		padding: 15px;
		list-style-type: none;
		margin:0;
		display: none;
		background: rgba(255,255,255,.8);
		border:1px solid #d24d57;
	}
	.home-navigation-area{
		display: none;
	}
	.register-links{
		margin: 0;
    	padding-left: 15px
	}
	.social-header li a{
		cursor: pointer;
	}
	
	/*slider*/
	.search-area .search-input-group{
		padding:0;
	}

	/*new properties*/
	.new-properties{
		max-height: auto !important;
		height: auto !important;
	}
	#owl-slider .item{
		margin:0;
	}
	.property-quick-icons ul li i{
		width: auto;
	}
	.property-listing-type{
		padding: 5px 15px;
	}
	.property-quick-icons p{
		font-size: 12px;
	}

	/*home featured properties*/
	.property-listing-price{
		width: 110px;
	}
	.property-image{
		height: 220px;
	}
	.property-listing-price{
		height: 220px;
	}
	.property-listing-price h4{
		margin:0;
		padding:0;
	}

	/*agent info*/
	.agent-summary{
		padding:15px 0;
	}

	/*home other listings*/
	.other-property-image{
		height: 220px;
	}
	.other-property-overlay{
		min-height: 220px;
	}
	.noscroll { 
		position: fixed; 
		overflow-y:scroll 
	}

	/*find a home*/
	.property-listing-filter{
		margin-bottom: 15px;
	}
	.property-map{
		height: 0;
		visibility: hidden;
		display: none;
	}
	.action-button-area{
		display: none;
	}
	.listings:before,
	.listings:after{
		clear: both;
		content: "";
		display: table;
	}
	.main-filters:before,
	.main-filters:after{
		clear: both;
		display: table;
		content: "";
	}
	.mobile-map-container::before,
	.mobile-map-container::after{
		clear: both;
		display: table;
		content: "";
	}

	/*other nav*/
	.property-listing-area{
		z-index: -1;
	}
	.register-links{
		width: 100%;
	}
	.register-links li{
		display: inline-block;
	}
	.other-navbar{
		margin-bottom: 0;
	}
	.other-navbar .navbar-brand{
		max-width: 45%;
		margin-top:0px;
		position: absolute;
    	top: 15px;
	}
	.other-navbar .navbar-brand img{
		max-width: 90%;
	}
	.other-navbar .navbar-header{
		max-width: 100%;
	}
	.other-navbar .navbar-toggle{
		margin-right: -20px;
		margin-top:25px;
	}
	.other-navbar .tagline{
		padding-top:15px;
		padding-left:15px;
		font-size:12px;
	}
	.other-navbar .main-menu{		
		background: rgba(255,255,255,.8);	
		margin-top:25px;
		border-radius:0px;
	}
	.other-navbar .navbar-collapse{
		margin-top:-25px;
		position: absolute;
		z-index: 1051;
		width: 100%;
	}

	/*property detail page*/
	.property-detail-nav .col-md-8{
		padding:0;
	}
	.property-detail-fav{
		text-align: center;
	}
	.property-detail-nav .nav-tabs.nav-justified > li > a{
		margin-bottom: 0;
	}
	.property-detail-nav .nav-tabs > li{
		margin-left:0;
	}
	.sidebar-carousel .item img{
		height: 190px;
		width: 100%;
	}

	/*contact area*/
	/*contact*/
	.contact-form .no-padding-left{
		padding-right:0;
	}
	.contact-form .no-padding-right{
		padding-left:0px;
	}

	.scroll-to-top{
		left:80%;
	}
}

@media only screen and (min-width: 553px) and (max-width: 773px)  {
	.page-content{
		margin:0 0 0 0;
	}
	.registration-content{
		margin-top:0;
	}

	.phone-menu{
		position: absolute;
		top:100px;
		width: 100%;
		z-index: 1000;
	}
	.nav-menu-button{
		background: #d24d57;
		margin:0;
		color: #fff;
		text-shadow:none;]
		font-family: "Open Sans",sans-serif;
		border-radius:0px;
		border:0;
		box-shadow:none;
		font-size:20px;
		padding:2px 10px;
	}
	.nav-menu-button:hover{
		background: #777;
	}
	.phone-menu-links-area .main-menu{
		padding: 15px;
		list-style-type: none;
		margin:0;
		display: none;
		background: rgba(255,255,255,.8);
		border:1px solid #d24d57;
	}
	.home-navigation-area{
		display: none;
	}
	.social-header{
		float: left !important;
		margin-top:5px;
	}

	/*find a home*/
	.other-navbar .navbar-toggle .icon-bar{
		background: #a8a8a8;
	}
	.property-listing-description,
	.property-listing-image{
		margin:0 15%;
	}
	.property-map{
		height: 0;
		visibility: hidden;
	}
	.property-listing-filter{
		padding:15px 15%;
	}
	.listings:before,
	.listings:after{
		clear: both;
		content: "";
		display: table;
	}
	.main-filters:before,
	.main-filters:after{
		clear: both;
		display: table;
		content: "";
	}
	.mobile-map-container::before,
	.mobile-map-container::after{
		clear: both;
		display: table;
		content: "";
	}
	.action-button-area{
		display: none;
	}
	.property-detail-fav{
		text-align: center;
	}

	/*other nav*/
	.property-listing-area{
		z-index: -1;
	}
	.other-navbar .main-menu{
		background: rgba(255,255,255,.8);
		margin-top:25px;
	}
	.other-navbar .navbar-brand{
		max-width: 45%;
		margin-top:0px;
		position: absolute;
    	top: 15px;
	}
	.other-navbar .navbar-brand img{
		max-width: 50%;
	}
	.other-navbar .navbar-header{
		max-width: 100%;
	}
	.other-navbar .navbar-toggle{
		margin-right: -20px;
		margin-top:25px;
	}
	.other-navbar .tagline{
		padding-top:10px;
		padding-left:15px;
		font-size:12px;
	}
	.other-navbar .main-menu{		
		background: rgba(255,255,255,.8);	
		border-radius:0px;
	}
	.other-navbar .navbar-collapse{
		margin-top:-25px;
		position: absolute;
		z-index: 1051;
		width: 100%;
	}
	.register-links{
		width: 100%;
	}
	.register-links li{
		display: inline-block;
	}

	/*property detail page*/
	.agent-pic{
		text-align: center;
	}

	/*contact area*/
	.contact-area{
		padding:15px 15%;
	}

	.scroll-to-top{
		left:80%;
	}
}

@media only screen and (max-width : 640px) and (orientation:landscape){
	body{
		overflow-x:hidden;
	}
	.page-content{
		margin:0 0 0 0;
	}
	/*nav*/
	.navbar-toggle .icon-bar{
		background: #a8a8a8;
	}
	.registration-content{
		margin-top:0;
	}
	.top-header{
		padding:15px 0;
	}
	.social-header{
		float: left !important;
		margin-top:5px;
	}
	.home-navigation-area{
		display: none;
	}
	.phone-menu{
		position: absolute;
		top:15px;
		width: 100%;
		z-index: 1000;
		text-align: right;
	}
	.nav-menu-button{
		background: #d24d57;
		margin:0;
		color: #fff;
		text-shadow:none;]
		font-family: "Open Sans",sans-serif;
		border-radius:0px;
		border:0;
		box-shadow:none;
		font-size:20px;
		padding:2px 10px;
	}
	.nav-menu-button:hover{
		background: #777;
	}
	.phone-menu-links-area .main-menu{
		padding: 15px;
		list-style-type: none;
		margin:0;
		display: none;
		background: rgba(255,255,255,.8);
	}
	.top-header{
		width: 95%;
	}
	.navbar-brand{
		width: 200px;
	}

	/*home featured properties*/
	.property-item{
		padding:0 15% 15px 15%;
	}
	.property-listing-price{
		width: 110px;
		height: 219px;
	}
	.property-image{
		height: 220px;
	}
	.property-listing-price h4{
		margin:0;
		padding:0;
	}
	.property-listing-type{
		padding:5px 15px;
	}

	/*home other listings*/
	.other-property-item{
		margin: 15px 15%;
	}

	/*find a home*/
	.listings:before,
	.listings:after{
		clear: both;
		content: "";
		display: table;
	}
	.property-listing-description,
	.property-listing-image{
		margin:0 15%;
	}
	.property-map{
		height: 0;
		visibility: hidden;
	}
	.property-listing-filter{
		padding:15px 15%;
	}
	.action-button-area{
		display: none;
	}
	.main-filters:before,
	.main-filters:after{
		clear: both;
		display: table;
		content: "";
	}
	.mobile-map-container::before,
	.mobile-map-container::after{
		clear: both;
		display: table;
		content: "";
	}
	.property-detail-fav{
		text-align: center;
	}
	.sidebar-carousel .owl-item{
		text-align: center;
	}
	.sidebar-carousel .other-property-type{
		left:136px;
	}

	/*other nav*/
	.other-nav .navbar-toggle .icon-bar{
		background: #a8a8a8;
	}
	.property-listing-area{
		z-index: -1;
	}
	.register-links{
		width: 100%;
	}
	.register-links li{
		display: inline-block;
	}
	.other-navbar .navbar-toggle{
		margin-top:25px;
	}
	.other-navbar .navbar-brand{
		max-width: 45%;
		margin-top:0px;
		position: absolute;
    	top: 15px;
	}
	.other-navbar .navbar-brand img{
		max-width: 50%;
	}
	.other-navbar .navbar-header{
		max-width: 100%;
	}
	.other-navbar .navbar-toggle{
		margin-right: -20px;
		margin-top:25px;
	}
	.other-navbar .tagline{
		padding-top:10px;
		padding-left:15px;
		font-size:12px;
	}
	.other-navbar .main-menu{
		margin-top:5px;
		background: rgba(255,255,255,.8);	
		position: relative;
		z-index: 1051;
	}
	.other-navbar .navbar-collapse{
		margin-top:-5px;
		position: absolute;
		z-index: 1051;
		width: 100%;
	}
	.property-detail-nav .col-md-8{
		padding:0;
	}

	/*contact*/
	.contact-form .no-padding-left{
		padding-right:0;
	}
	.contact-form .no-padding-right{
		padding-left:0px;
	}

	/*agent info*/
	.agent-pic{
		text-align: center;
	}
}

@media only screen and (min-width: 767px) and (max-width: 773px){
	.property-map{
		height: 0;
		visibility: hidden;
	}
	.other-navbar .main-menu{
		background: transparent;
	}
	.other-navbar .main-menu li a{
		padding:15px 5px;
	}
	.other-navbar .navbar-brand{
		max-width: 50%;
		margin-top:0px;
		position: relative;
    	top: 15px;
	}
	.other-navbar .navbar-brand img{
		max-width: 90%;
	}
	.other-navbar .navbar-header{
		max-width: 100%;
	}
	.other-navbar .tagline{
		padding-top:15px;
		padding-left:0px;
		font-size:12px;
	}
	.other-navbar .navbar-collapse{
		margin-top:0px;
		position: absolute;
		right:15px;
		z-index: 1051;
		width: 100%;
	}
	/*.other-navbar .navbar-toggle{
		margin-right: -20px;
		margin-top:25px;
	}
	.other-navbar .tagline{
		padding-top:15px;
		padding-left:15px;
		font-size:12px;
	}
	.other-navbar .main-menu{		
		background: rgba(255,255,255,.8);	
		margin-top:25px;
		border-radius:0px;
	}
	.other-navbar .navbar-collapse{
		margin-top:-25px;
		position: absolute;
		z-index: 1051;
		width: 100%;
	}*/
}

@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation:portrait){
	.home-navigation-area{
		display: block;
	}
	.home-navigation-area .navbar{
		width: 95%;
	}

	/*nav*/
	

	/*home featured listings*/
	.property-listing-type{
		padding: 10px 15px;
	}
	.property-listing-price{
		width: 125px;
	}

	/*home other listings*/
	.other-property-image{
		height: 200px;
	}
	.other-property-overlay{
		min-height: 200px;
	}

	/*find a home*/
	.property-listing-description, 
	.property-listing-image{
		margin:0;
	}
	.img-responsive, 
	.thumbnail > img, 
	.thumbnail a > img, 
	.carousel-inner > .item > img, 
	.carousel-inner > .item > a > img{
		max-width: 100%;
	}	
	.property-map{
		height: 0;
		visibility: hidden;
	}
	.property-listing-filter{
		padding:15px 0;
	}
	.action-button-area{
		display: none;
	}
	.mobile-map-container:before, 
	.mobile-map-container:after{
		clear: none;
		content: "";
		display: block;
	}
	.listings{
		margin-top:50px;
	}

	/*other navbar*/
	.other-navbar .navbar-brand{
		max-width: 50%;
		margin-top:0px;
		position: relative;
    	top: 15px;
	}
	.other-navbar .navbar-brand{
		max-width: 70%;
	}
	.other-navbar .navbar-brand img{
		max-width: 80%;
	}
	.other-navbar .tagline:before,
	.other-navbar .tagline:after{
		clear: both;
		display: table;
		content: '';
	}
	.other-navbar .tagline{
		padding-top:25px;
		padding-left:0;
	}
	.other-navbar .navbar-header{
		max-width: 33%;
	}
	.other-navbar .main-menu{
		padding-left: 15px;
		padding-right: 15px;
		border-radius: 5px;
		background: transparent;
	}
	.other-navbar .main-menu li a{
		padding:15px 5px;
	}
	.register-links > li{
		float:right;
	}

	/*agent info*/
	.agent-pic{
		text-align: center;
	}

	/*mortgage*/
	.btn-calculate{
		margin-bottom:15px;
	}
}

@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation:landscape){
	.home-navigation-area .navbar{
		width: 940px;
	}

	/*find a home*/	
	.property-listing-image{
		height: 185px;
	}
	.property-listing-image img{
		background-size:auto;
	}
	.property-listing-image{
		height: 150px;
	}
	.property-item-list > div{
		height: 250px;
	}
	
}
