@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);

h1,h2,h3,h4{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
.radio label, .checkbox label{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;	
}
td{
	color: #6b6e80;
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
}
body{
	background: #f1f3f7;
}
a{
	font-family: 'Raleway', sans-serif;
}
a:hover{
	text-decoration: none;
}
.section-title{
	color: #6c7175;
}
.nopadding{
	padding: 0;
}
.nopadding-left{
	padding-left:0;
}
.nopadding-right{
	padding-right: 0;
}
p,li{
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
}
label{
	color: #6b6e80;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}
select.form-control,
input.form-control{
	border-radius: 0px;
	box-shadow: none;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}
select.form-control:focus,
input.form-control:focus,
textarea.form-control:focus{
	border-radius: 0px;
	border-color: none;
	box-shadow: none;
}
textarea.form-control{
	border-radius: 0px;
	box-shadow: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

/*nav bar*/
.navbar{
	background: #fff;
	font-family: 'Raleway', sans-serif;
}
.navbar-brand{
	padding:0px 0;
}
.navbar .navbar-nav li a{
	padding: 30px 20px;
	color: #3498DB;
}
.navbar .navbar-nav li a:hover{
	background: none;
}
.navbar-nav > li{
	border-bottom:2px solid transparent;
}
.navbar-nav > li:hover{
	border-bottom:2px solid #3498DB;
}
.navbar-nav > li.active{
	border-bottom:2px solid #3498DB;
}
.navbar-nav > li.active a{
	color: #3498DB;
}
.tagline{
	clear: both;
    margin-left:0px;
    padding: 15px 0 2px;
    color: #3498DB;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
.registration-nav{
	margin:0;
	padding:0;
	color: #a1a1a1;
	font-size:12px;
}
.registration-nav a{
	font-size:12px;
}
.irs-bar,
.irs-from, .irs-to, .irs-single{
	background: #3498DB !important;
}
.irs-from::after, .irs-to::after, .irs-single::after{
	 border-color: #3498db transparent transparent !important;
}


/*slider area*/
.slider-area{
	height: auto;
    min-height: 600px;
    padding-bottom:0px;
    padding-top: 0px;
    width: 100%;
    position: relative;
}
.filters{
	position: relative;
}
.filter-property{
	position: absolute;
	z-index:1000;
	top:-400px;
	width: 450px;
	background: rgba(255, 255, 255, 0.7);
	padding:15px;
}
.filter-property label{
	color: #6b6e80;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.filter-property select,
.filter-property input{
	border-radius: 0px;
	box-shadow: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.filter-property select:focus,
.filter-property input:focus{
	border-radius: 0px;
	border-color: none;
	box-shadow: none;
}
.submit-button{
	padding:10px 15px;
	background: #3498DB;
	color: #f7f7f7;
	text-shadow:none;
	box-shadow: none;
	border-radius: 0px;
	border:0px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.submit-button:hover{
	background: #37B0E9;
	color: #f7f7f7;
	transition:all .5s;
}
.selectize-input{
	border-radius:0px !important;
	box-shadow: none !important;
	font-family: 'Raleway', sans-serif !important;
	font-weight: 400 !important;
}
.selectize-dropdown, .selectize-input, .selectize-input input{
	box-shadow: none !important;
	font-family: 'Raleway', sans-serif !important;
	font-weight: 400 !important;
	color: #555;
}
.selectize-dropdown, .selectize-dropdown.form-control{
	border-radius: 0px !important;
	color: #555;
}

/*featured property*/
.featured-listing-area{
	background: #F4F4F4;
	padding:25px 50px;
}
.featured-listing-area h2{
	padding-bottom: 25px;
}
.property-quick-icons{
	background: #3498DB;
	padding:5px 5px;
}
.property-quick-icons ul{
	margin:0;
	padding:0;
}
.property-quick-icons li{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
}
.property-listing-description{
	background: #fff;
	padding:25px 15px;
}
.property-listing-description h5{
	margin:0;
	padding:5px 0;
	color: #4fc1e9;
	height: 25px;
	max-width: 210px;
	overflow: hidden;
	line-height: 18px;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.property-listing-description p{
	color: #777;
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
	height: 25px;
	max-width: 210px;
	overflow: hidden;
	line-height: 18px;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.property-listing-price{
	position: absolute;
	top:0;
	right: 15px;
	padding:10px;
	color: #fff;
	background: #3498DB;
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
}
.property-image{
	height: 175px;
    overflow: hidden;
}
.property-image img{
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}

/*agent info area*/
.agent-info-area{
	padding:25px 50px;
	background: #F4F4F4;
	color: #6b6e80;
}
.agent-info-area h4{
	margin-top:5px;
}
.agent-info-area p{
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
	color: #6b6e80;
}
.agent-image{
	position: relative;
}
.agent-image img{
	border-radius:0px;
	border:1px solid #ddd;
}
.properties-sold li .img-thumbnail{
	border-radius:0px;
	border:1px solid #ddd;
}
.sold-image{
	height: 100px;
    overflow: hidden;
}
.sold-image img{
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}
/*.agent-details{
	background: rgba(52,152,219,1);
	position: absolute;
	bottom:0;
	right:0;
	width:100%;
	border-top:1px solid #f7f7f7;
	border-right:1px solid #f7f7f7;
}
.agent-details ul{
	margin:0;
	padding:15px 0 15px 15px;
	list-style-type:none;
}
.agent-details ul li{
	margin:0;
	padding:0;
	color: #fff;
	font-family: "Raleway",sans-serif;
}*/


/*agent listing area*/
.agent-listing-area{
	background: url("../img/bg02.jpg");
	background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover !important;
    height: auto;
    min-height: 450px;
    padding-bottom: 60px;
    padding-top: 120px;
    position: relative;
    width: 100%;
}
.agent-listing-area:after{
	background-color: rgba(0, 0, 0, 0.65);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.agent-description{
	position: relative;
	z-index: 2;
	color: #fff;
}
.agent-description p{
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
}

/*blog contact area*/
.blog-contact-area{
	background: #f4f4f4;
	padding-bottom: 25px;
}
.blog-contact-area h4{
	padding-bottom:15px;
	color: #6b6e80;
}
.mortgage,
.contact-area{
	padding: 0px 50px;
	/*background: rgba(255, 255, 255, 0.7);*/
}
.mortgage label{
	color: #6b6e80;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.mortgage ul{
	margin:0;
	padding:0;
	list-style-type: none;
}
.mortgage ul li{
	border-bottom:1px solid #e3e3e3;
	padding:15px;
}
.mortgage ul li .img-thumbnail{
	border-radius:0px;
	border:1px solid #bbb;
}
.mortgage ul li span{
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
	font-size:12px;
}
.mortgage ul li p{
	margin:0;
	padding:0;
}
.mortgage ul li a{
	font-family: "Open Sans",sans-serif;
	font-weight: 300; 
}
hr{
	background: #f4f4f4;
	border-color: #e3e3e3;
}
.contact-area{
	padding-top:0px;
}
.contact-area label{
	color: #6b6e80;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.contact-area select,
.contact-area input,
.contact-area textarea{
	border-radius: 0px;
	box-shadow: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.contact-area select:focus,
.contact-area input:focus,
.contact-area textarea{
	border-radius: 0px;
	border-color: none;
	box-shadow: none;
}

/*footer*/
footer{
	background: #3e4453;
	padding:25px 15px;
}
.footer-copyright{
	padding:25px 0;
	color: #a1a1a1;
	text-align: center;
	font-size:14px;
}
.social-icons ul{
	margin:0 auto;
	padding:0;
	list-style-type: none;
}
.social-icons ul li a{
	font-size:25px;
	color: #a1a1a1;
}
.quick-link-title{
	color: #f7f7f7;
	font-weight: 400;
}
.footer-links{
	margin:0 0 0 15px;
	padding:0;
	list-style-type: none;
}
.footer-links li{
	text-align: left;
	color: #a1a1a1;
}
.footer-links li a{
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
	color: #a1a1a1;
}

/*property detail page*/
.property-detail-header{
	position: relative;
	height: 500px;
	overflow: hidden;
	margin-bottom:-20px;
}
.property-detail-header img{
	width: 100%;
	height: auto;
	position: absolute;
	top:-250px;
	background-size: cover;
}
.property-header-text{
	position: absolute;
	top:300px;
}
.property-header-text h3{
	margin:0;
	font-size:40px;
}
.property-header-text h2{
	font-size:45px;
}
.property-header-text h2,
.property-header-text h3{
	color: #fff;
	font-weight: 600;
	font-family: "Raleway",sans-serif;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
.property-header-text p{
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
	color: #fff;
	font-family: "Raleway",sans-serif;
	font-size:20px;
}
.property-detail-sections{
	padding:15px 0;
}
.property-detail-sections:after,
.property-detail-sections:before{
	clear: both;
	content: "";
	display: table;
}
.property-detail-filter{
	padding:110px 0 50px 0;
	background: #fff;
}
h5.property-title{
	font-weight: 600;
	font-family: "Raleway",sans-serif;
	font-size:20px;
	padding:0;
	margin:0;
	color: #3498db;
}
h5.property-address{
	font-weight: 600;
	font-family: "Raleway",sans-serif;
	color: #3498db;	
	margin:0;
}
h5.property-price{
	font-weight: 600;
	font-family: "Raleway",sans-serif;
	color: #3498db;	
	margin:0 0 15px 0;
}
.property-map{
	height: 0;
	visibility: hidden;
}
.toggle-map{
	height:auto;
	visibility:visible;
	margin-bottom:-100px;
}
.property-filter-form label{
	color: #6b6e80;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.property-filter-form select,
.property-filter-form input{
	border-radius: 0px;
	box-shadow: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.property-filter-form select:focus,
.property-filter-form input:focus{
	border-radius: 0px;
	border-color: none;
	box-shadow: none;
}
.property-filter-form .submit-button{
	margin-top:24px;
	padding: 8px 0 7px;
}
.property-main-content{
	padding:150px 0 50px 0;
	background: #F1F3F7;
}
.property-detail-content{
	padding:50px 0;
}
.property-details p{
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
	color: #6b6e80;
}
.property-details h4{
	color: #6b6e80;
}
.property-details .nav-tabs li a{
	background: none;
	box-shadow:none;
}
.property-details ul{
	margin:0;
	padding: 0;
	list-style-type: none;
}
.property-details ul li{
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
	color: #6b6e80;
}
.property-details ul li{
	border:0;
}
.property-details ul li:hover,
.property-details ul li:hover a{
	box-shadow: none;
}
.property-details ul li.active a{
	color: #fff;
	border:0;
	background: #3498db; 
}
.property-details ul li.active a:hover{
	color: #fff;
	border:0;
	background: #3498db;
	box-shadow: none;
}
.property-details ul li a:focus,
.property-details ul li.active a:focus{
	color: #fff;
	border:0;
	background: #3498db;	
}
.property-details ul li a{
	color: #a1a1a1;
}
.property-details ul li a:hover{
	border:1px solid transparent;
	box-shadow: none;
}
.filter-tab{
	background: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	padding:15px;
	margin:15px 0;
}
.filter-tab h4{
	color: #6b6e80;
}
.filter-tab ul{
	margin:0;
	padding: 0;
	list-style-type: none;
}
.filter-tab li a{
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
	color: #3498db;
}
.filter-tab li .badge{
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
	background: #52b6f9; 
}
.filter-tab li i{
	font-size:20px;
}
.property-social-share{
	margin:0 auto;
	text-align: center;
	list-style-type: none;
}
.property-social-share li{
	padding: 0;
	margin:0;
}
.property-social-share li a{
	text-align: center;
}
.property-social-share li .fa{
	width: 30px;
	height: 30px;
	padding-top: 5px;
	color: #fff;
}
.property-social-share li .fa-envelope{
	background: #333;
}
.property-social-share li .fa-facebook{
	background: #4a66a0;
}
.property-social-share li .fa-twitter{
	background: #55acee;
}
.property-social-share li .fa-google-plus{
	background: #d73d32;
}
.property-social-share li .fa-linkedin{
	background: #0177b5;
}
.property-social-share li .fa-heart{
	background: #EB594E;
	color: #fff;
}
.photo-gallery{
	clear: both;
	padding: 25px 0;
}
.photo-gallery .col-md-2{
	padding: 0;
	margin:5px;
}
.photo-gallery .col-md-2:nth-child(+n+8){
	display: none;
}
.photo-gallery .img-thumbnail{
	border-radius:0px;
	border:0px;
}
.see-all{
	position: absolute;
	top: 0px;
	left: 0px;
	content: "";
	height: 100%;
	width:100%;
	background: rgba(0,0,0,.5);
}
.see-all p{
	font-size:12px;
	color: #fff;
	text-align: center;
	margin:15px 0 0 0;
	font-weight: 600;
	text-shadow:0px 1px 1px rgba(0,0,0,.8);
}
.prev{
	text-shadow:none;
	color: #fff;
}
.btn-directions{
	background: #52b6f9;
	box-shadow: none;
	border: 0px;
	border-radius: 0px;
	position: relative;
	z-index: 3;
}
.location-info{
	clear: both;
	padding:25px 0;
}
.property-agent-info p{
	font-family: "Open Sans",sans-serif;
	font-weight: 300;
	margin:0;
	color: #3498db;
}
.property-agent-info .agent-name{
	font-weight: bold;
	color: #3498db;
}
.property-submit-question label{
	color: #6b6e80;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.property-submit-question select,
.property-submit-question input,
.property-submit-question textarea{
	border-radius: 0px;
	box-shadow: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.property-submit-question select:focus,
.property-submit-question input:focus{
	border-radius: 0px;
	border-color: none;
	box-shadow: none;
}
.property-other-listings .col-md-3{
	padding: 0 5px;
}
.other-related-description p{
	height: 20px;
	max-width: 170px;
	overflow: hidden;
	line-height: 18px;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.other-listing-item{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	background: #fff;
	padding:15px;
	margin-bottom: 15px;
}
.sold-property-details p{
	height: 25px;
	max-width: 150px;
	overflow: hidden;
	line-height: 18px;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.photo-gallery-image{
	height: 90px;
    overflow: hidden;
}
.photo-gallery-image img{
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}
.other-related-items{
	height: 115px;
    overflow: hidden;
}
.other-related-items img{
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}

/*listing page*/
.search-listings{
	padding:15px 0;
}
.search-listing-item{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	background: #fff;
	padding:15px;
	margin-bottom: 25px;
	color: #6b6e80;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.search-listings h4{
	color: #6b6e80;
}
.search-listing-item:before,
.search-listing-item:after{
	content: " ";
	display: table;
	clear: both;
}
.search-listing-title{
	margin:5px 0;
	font-weight: 400;
}
.search-listing-title:before,
.search-listing-title:after{
	clear: both;
	display: table;
	content: "";
}
.search-property-title,
.search-property-location{
	height: 20px;
	max-width: 170px;
	overflow: hidden;
	line-height: 18px;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.search-property-specs li{
	overflow: hidden;
	line-height: 18px;
	text-overflow:ellipsis;
	white-space: nowrap;
	height: 20px;
	max-width: 80px;
}
.pagination-area{
	clear: both;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.pagination-area .pagination{
	border-radius:0px;
	border:0px;
}
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span{
	border-radius:0px;	
	border:0px;
}
.pagination > li > a, .pagination > li > span{
	background: none;
	border:0px;
}
.sorting{
	clear: both;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #6b6e80;
}
.sorting:before,
.sorting:after{
	content: " ";
	display: table;
	clear: both;
}
.search-property-image{
	height: 150px;
    overflow: hidden;
}
.search-property-image img{
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}
.fa-heart-o,.fa-heart{
	color: #EB594E;
}
.view-map-button,
.filter-search-button{
	padding: 3px 15px;
}
.view-map-button .fa-map{
	margin-right:5px;
}
.filter-tab p{
	margin:15px 0 5px 0;
}
.filter-tab label,
.filter-tab p{
	color: #6b6e80;
}
.filter-tab label{
	color: #6b6e80;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.filter-tab select,
.filter-tab input{
	border-radius: 0px;
	box-shadow: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.filter-tab select:focus,
.filter-tab input:focus{
	border-radius: 0px;
	border-color: none;
	box-shadow: none;
}
.price-filter:before,
.price-filter:after{
	display: table;
	clear: both;
	content: "";
}
.price-filter{
	margin:5px 0 15px 0;
}

/*page*/
.page-content{
	position: relative;
	margin:125px 0 50px 0;
	background: #f1f3f7;
	color: #6b6e80;
	font-family: 'Open Sans', sans-serif;
}
.page-content .page-title{
	color: #6b6e80;
}

/*blog*/
.blog-list{
	margin:0;
	padding:0;
	list-style-type: none;
}
.blog-list > li:after,
.blog-list > li:before{
	content: "";
	display: table;
	clear: both;
}
.blog-list > li{
	margin:15px 0;
}
.blog-list li p{
	font-family: 'Open Sans', sans-serif;
	color: #6b6e80;
	font-weight: 300;
}
.blog-summary .date{
	background: #3498db none repeat scroll 0 0;
	color: #fff;
    border-radius: 50%;
    padding: 15px 0;
    text-align: center;
}

/*blog detail page*/
.blog-title{
	color: #6b6e80;
	font-family: 'Raleway', sans-serif;
}
.blog-detail-content p{
	color: #6b6e80;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.recent-blogs li span{
	font-family: "Open Sans",sans-serif;
	font-size:12px;
	font-weight: 300;
	color: #6b6e80;
}

/*signup*/
.buy-or-sell{
    padding:25px;
    margin:25px 0;
}
.buy-or-sell i{
    font-size:60px;
}
.buy-or-sell .submit-button{
	padding:25px 45px;
}
.login-content{
    margin:50px 0;
    padding:15px;
    background: #f9f9f9;
    border:1px solid #e3e3e3;
}
.login-text{
    font-family: "Open Sans",sans-serif;
}
.registration{
	background: #fff;
	margin:100px 0 0 0;
}
.registration-body{
	background: #fff !important;
	margin:0;	
}

/*buyer*/
.property-details{
	padding:0;
	margin:15px 0;
}
.property-information:before,
.property-information:after{
	clear: both;
	display: table;
	content: "";
}
.property-information{
	margin:25px 0 0 0;
}

/*contact*/
.contact-area{
	margin:0 auto;
}

/*customer dashboard*/
.customer-dashboard{
	background:#fff;
	box-shadow: 0px 1px 5px rgba(0,0,0,.1);
   	padding:15px;
   	margin-top:35px;
}
.nav-tabs > li > a{
	border-radius:0px;
}
.tab-content td{
	font-weight: 300;
}

@media only screen and (min-width : 240px) and (max-width : 552px) {
	/*nav*/
	.tagline{
		margin:0;
		padding:0 5px;
		text-align: left;
	}
	.navbar-toggle .icon-bar{
		background: #3498db;
	}
	.navbar-brand{
		padding: 0px;
		float:none;
	}
	.navbar-nav > li.active{
		border-top:0;
		border-left:5px solid #3498db;
		border-bottom:2px solid transparent;
	}
	.navbar-nav > li{
		border-top:0;
		border-left:5px solid transparent;
		border-bottom:2px solid transparent;
	}
	.navbar-nav > li:hover{
		border-left:5px solid #3498DB;
		border-top:0;
		border-bottom:2px solid transparent;
	}

	/*slider*/
	.submit-search:before,
	.submit-search:after{
		clear: both;
		display: table;
		content: "";
	}
	.filter-property{
		width: 100%;
		left:0;
	}
	.property-image{
		width: 100%;
		height: 100%;
	}

	/*featured listing area*/
	.featured-listing-area{
		padding:25px;
	}
	.featured-list-item{
		margin-bottom:15px;
	}

	/*other listings*/
	.featured-list .col-md-3{
		margin-bottom:15px;	
	}

	/*agent info area*/
	.agent-info-area{
		padding: 25px;
	}
	.sold-image{
		height: auto;
	}
	.sold-image img{
		width: 100%;
		height: auto;	
	}

	/*listing page*/
	.view-map-button,
	.filter-search-button{
		margin-left:0px;
		margin-bottom:5px;
	}
	.filter-panel{
		display: none;
	}
	.search-property-image{
		height: auto;
	}
	.search-property-image img {
	    background-position: 50% 50%;
	    background-repeat: no-repeat;
	    background-size: auto;
	    min-height: 100%;
	    min-width: 100%;
	}
	.search-property-title, .search-property-location{
		max-width: 100%;
	}

	/*buyer*/
	.contact-panel{
		display: none;
	}

	/*blog list*/
	.blog-summary .date{
		height: 80px;
		width:80px;
	}

	/*property detail page*/
	.property-detail-header img{
		top:0;
	}
	.property-header-text{
		top:100px;	
	}
	.property-header-text h2, .property-header-text h3{
		font-size:16px;
	}
	.property-detail-header{
		height: 210px;
	}
	.floating-panel{
		position: fixed;
		right:0;
		z-index: 1031;
		top:35%;
	}
	.property-title,
	.property-address,
	.property-price{
		display: none;
	}
	.property-details ul li{
		width:100%;
	}
	.other-related-items {
	    height: 100px;
	    overflow: hidden;
	}
	.other-related-items img{
		background-size:auto;
	}
	.contact-agent{
		display: none;
	}
}

@media only screen and (min-width: 553px) and (max-width: 767px) {
	/*nav*/
	.navbar-toggle .icon-bar{
		background: #3498db;
	}
	.navbar-brand{
		padding: 0px;
		float:none;
	}
	.nav{
		height: 500px;
	}
	.navbar .navbar-nav li a{
		padding:15px;
	}
	.navbar-nav > li.active{
		border-top:0;
		border-left:5px solid #3498db;
		border-bottom:2px solid transparent;
	}
	.navbar-nav > li{
		border-top:0;
		border-left:5px solid transparent;
		border-bottom:2px solid transparent;
	}
	.navbar-nav > li:hover{
		border-left:5px solid #3498DB;
		border-top:0;
		border-bottom:2px solid transparent;
	}
	.tagline{
		text-align: left;
		padding-left:15px;
	}

	/*featured listing area*/
	.featured-list-item{
		margin-bottom:15px;
	}

	/*agent info*/
	.sold-image {
	    height: auto;
	    overflow: hidden;
	    width: 100%;
	}
	.sold-image img {
	    background-position: 50% 50%;
	    background-repeat: no-repeat;
	    background-size: auto;
	    height: 100%;
	    width: 100%;
	}

	/*featured property*/
	.property-image{
		height: auto;
		margin:5px 0;
	}
	.property-image img {
	    background-position: 50% 50%;
	    background-repeat: no-repeat;
	    background-size: auto;
	    height: 100%;
	    width: 100%;
	}

	/*listing page*/
	.view-map-button,
	.filter-search-button{
		margin-left:0px;
		margin-bottom:5px;
	}
	.filter-panel{
		display: none;
	}
	.search-property-image{
		height: auto;
	}
	.search-property-image img {
	    background-position: 50% 50%;
	    background-repeat: no-repeat;
	    background-size: auto;
	    min-height: 100%;
	    min-width: 100%;
	}
	.search-property-title, .search-property-location{
		max-width: 100%;
	}

	/*buyer*/
	.contact-panel{
		display: none;
	}
	.filter-button-container{
		display: block;
	}

	/*blog list*/
	.blog-summary .date{
		height: 80px;
		width:80px;
	}

	/*property detail page*/
	.property-detail-header img{
		top:0;
	}
	.property-header-text{
		top:135px;	
	}
	.property-header-text h2, .property-header-text h3{
		font-size:16px;
	}
	.property-detail-header{
		height: 250px;
	}
	.floating-panel{
		position: fixed;
		right:0;
		z-index: 1031;
		top:15%;
	}
	.property-title,
	.property-address,
	.property-price{
		display: none;
	}
	.property-details .nav{
		height: auto;
	}
	.property-details ul li{
		width:100%;
	}
	.contact-agent{
		display: none;
	}
}

@media only screen and (max-width : 640px) and (orientation:landscape){
	/*featured property*/
	.property-image{
		height: auto;
		margin:5px 0;
	}
	.property-image img {
	    background-position: 50% 50%;
	    background-repeat: no-repeat;
	    background-size: auto;
	    height: 100%;
	    width: 100%;
	}

	/*featured listing area*/
	.featured-list-item{
		margin-bottom:15px;
	}

	/*listing page*/
	.view-map-button,
	.filter-search-button{
		margin-left:0px;
		margin-bottom:5px;
	}
	.filter-panel{
		display: none;
	}
	.search-property-image{
		height: auto;
	}
	.search-property-image img {
	    background-position: 50% 50%;
	    background-repeat: no-repeat;
	    background-size: auto;
	    min-height: 100%;
	    min-width: 100%;
	}
	.search-property-title, .search-property-location{
		max-width: 100%;
	}

	/*buyer*/
	.contact-panel{
		display: none;
	}
	.filter-button-container{
		display: block;
	}

	/*blog list*/
	.blog-summary .date{
		height: 80px;
		width:80px;
	}

	/*property detail page*/
	.nav{
		height: auto !important;
	}
	.property-detail-header img{
		top:0;
	}
	.property-header-text{
		top:125px;	
	}
	.property-header-text h2, .property-header-text h3{
		font-size:16px;
	}
	.property-detail-header{
		height: 250px;
	}
	.floating-panel{
		position: fixed;
		right:0;
		z-index: 1031;
		top:35%;
	}
	.property-title,
	.property-address,
	.property-price{
		display: none;
	}
	.property-details ul li{
		width:auto;
	}
	.contact-agent{
		display: none;
	}

}

@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation:portrait){
	.container{
		width:100%;
	}

	/*nav*/
	.navbar .navbar-nav li a{
		padding: 30px 15px;	
	}

	/*featured listing area*/
	.featured-list-item{
		margin-bottom:15px;
	}

	/*featured property*/
	.property-image{
		height: 120px;
	}
	.property-image img {
	    background-position: 50% 50%;
	    background-repeat: no-repeat;
	    background-size: auto;
	    height: 100%;
	    width: 100%;
	}

	/*agent info*/
	.properties-sold{
		/*display: none;*/
	}
	.other-listing-item{
		height: 100px;
	}
	.sold-property-details{
		display: none;
	}
	.sold-image {
	    height: auto;
	    overflow: hidden;
	    width: 100%;
	}
	.sold-image img {
	    background-position: 50% 50%;
	    background-repeat: no-repeat;
	    background-size: auto;
	    height: 60px;
	    width: 100%;
	}

	/*blog*/
	.contact-area{
		padding:0;
	}

	/*blog list*/
	.blog-summary .date {
	    background: #3498db none repeat scroll 0 0;
	    border-radius: 50%;
	    color: #fff;
	    height: 80px;
	    padding: 5px 0;
	    text-align: center;
	    width: 80px;
	}

	/*buyer*/
	.contact-panel{
		display: block;
	}

	/*property detail page*/
	.property-detail-header{
		height: 300px;
	}
	.property-detail-header img{
		top:0;
	}
	.property-header-text{
		top:115px;
	}
	.other-listing-item{
		height: auto;
	}
}

@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation:landscape){
	.blog-summary .date {
	    background: #3498db none repeat scroll 0 0;
	    border-radius: 50%;
	    color: #fff;
	    height: 80px;
	    padding: 5px 0;
	    text-align: center;
	    width: 80px;
	}

	/*buyer*/
	.contact-panel{
		display: block;
	}

	/*property-detail-page*/
	.property-header-text{
		top:250px;
	}
	.property-detail-header{
		height: 425px;
	}

	/*customer leads*/
	.lead-item-list{
	    margin:0;
	    padding:0;
	    list-style-type: none;
	}
}