
label {
	color: #444;
    font-weight: 600;
}
.table td p{
	margin:0;
}
.table .modal a{
	color:#fff;
}
.media-file-url input{
	background-color: #eee;
	width:95%;
	border: 1px solid #d2d6de;
    padding-left: 2px;
}
.page-actions span{

	color: #444;
    font-weight: 600;
}
.media-icon{
	margin-top:5px
}
.max-upload{
	position: absolute;
    top: 190px;
    color: #777;
    font-size: 14px;
}
.allowed-type{
	position: absolute;
    top: 210px;
    color: #777;
    font-size: 14px;
}
.media-upload ul{
	margin-top: 55px!important;
}
.media-upload span{
	font-weight:600;
}
.no-media{
	text-align:center;
	padding:20px;
	font-size:16px;
}
.media-file-info p {
	font-size: 14px;
}
.media-file-info span {
	font-weight: 600;
}
.view-switch{
	position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.view-switch a{
	margin-left: 5px;
	color: #b4b9be!important;
}
.view-switch a.current {
    color: #0073aa!important;
}
.media-grid-actions{
	position: absolute;
}
input.grid-checkbox{
	width: 18px!important;
	height: 15px!important;
}
.media-grid-actions{
	display: none;
	width: 18px;
}
.display-checkbox .media-grid-actions{
	display:block;
}
.media-hover-actions{
	height: 100px!important;
}
.media-list-action a{
	font-size:14px;
}
.show-grid-actions{
	display:block!important;
}
.media-list-action{
	display:none;
	position: absolute;
}
.display-action .media-list-action{
	display:block;
}
.media-delete{
	color: #a00;
}
.media-delete:hover{
	color: red;
}
.list-item-grid {
    float: left;
    list-style: none;
    width: 200px;
    height: 80px;
    box-sizing: border-box;
    padding: 10px;
    display: table;
    margin-left: 20px;
    margin-top:20px;
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.05);
    box-shadow: inset 0 0 15px rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.05);
    background: #eee;
    cursor: pointer;
}

.list-item-grid .item-grid {
    overflow: hidden;
    text-align: center;
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.list-item-grid img {
    height: 150px;
    width: auto;
    /*display: table-cell;*/
}

