/*
  Widget: basic-search
*/
.help-info {
    position: absolute;
    background-color: #dcdbdb;
    width: 100%;
    display: block;
    z-index: 9;
    top: 110px;
    right: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    display: none;
}

.help-info:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #dcdbdb;
    position: absolute;
    top: -10px;
    left: 60px;
}

.help-info ul {
	padding-left: 0;
    padding: 10px 20px 0;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.help-info ul li {
    list-style: none;
    display: block;
    width: 100%;
    float: left;
}

.search-field {
    background-color: rgb(220, 219, 219);
    padding: 25px;
    width: 100%;
    position: relative;
}

.search-field .form-control {
    height: 45px;
    border-radius: 0;
}

.search-field form {
    margin-bottom:  0;
}

.search-field .btn {
    padding: 10px;
}
