/* 
    Widget: Custom Menu
    File: custom-menu.css
    Created on : Aug 10, 2017, 5:31:17 PM
    Author     : Agentsquared Team
*/
.section-custom-menu {
	background-color: #dbd1cc;
  padding: 25px 0;
}
.custom-menu-item {
    padding: 0;
    margin-bottom: 0;
    text-align: center;
    width: 65%;
    margin: 0 auto;
}

.custom-menu-item li {
    list-style: none;
    display: inline-block;
}

.custom-menu-item li a {
    display: inline-block;
    color: #712906;
    padding: 5px 20px;
}

.custom-menu-item li a:hover {
    text-decoration: line-through;
}
.section-custom-menu .custom-pages{
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 16px;
  position: relative;
  margin-bottom: 0;
}
.section-custom-menu .custom-pages > li{
  display: inline-block;
  vertical-align: middle;
}
.section-custom-menu .custom-pages > li > a{
  display: inline-block;
  padding: 8px 20px;
}
.section-custom-menu .custom-pages > li > a:hover{
  color: white;
  background-color: rgba(0,0,0,0.2);
}