/* 
    Widget: List View
    File: list-view.css
    Created on : Jan 19, 2018, 5:59:17 PM
    Author     : Agentsquared Team
    Rules: always prepend the parent element id or class so it does not conflict with other property css classes
*/
.grid-view-controls{
  margin: 8px 0;
  line-height: 2.2;
}
.grid-view-controls .select{
  display: inline-block;
  vertical-align: middle;
}
.grid-view-controls .sort-by{
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border: 1px solid rgba(0,0,0,0.15);
  padding: 6px 40px 6px 10px;
  border-radius: 5px;
}
.grid-view-controls .pagination{
  margin: 0;
  vertical-align: middle;
}
.widget-grid-view .listings-result{
  list-style: none;
  padding: 0;
  font-size: 0;
}
.widget-grid-view .listings-result li{
  display: inline-block;
  vertical-align: top;
  font-size: initial;
  width: 25%;
  width: calc(100% / 4);
}
.widget-grid-view .listings-result li div{}
.widget-grid-view .listings-result .card-grid{
  background-color: white;
  border: 1px solid rgba(0,0,0,0.25);
margin: 8px;
box-shadow: -4px 5px 8px rgba(0,0,0,0.2);
}
.widget-grid-view .listings-result .card-image{
  padding-left: 0;
  max-height: 180px;
  overflow: hidden;
}
.widget-grid-view .listings-result .card-image img{
  max-width: 100%;
  width: 100%;
}
.widget-grid-view .listings-result .card-details{
  
}
.widget-grid-view .listings-result .card-details h2{
  font-size: 18px;
  margin: 0;
  padding: 5px 15px;
  background-color: #712906;
color: white;
}
.widget-grid-view .listings-result .card-details h3{
  font-size: 14px;
  padding: 0 15px 8px;
margin: 0;
  background-color: #712906;
color: #ddd;
}
.widget-grid-view .listings-result .card-details .mls-property{
  font-size: 0;
  margin: 0;
}
.widget-grid-view .listings-result .card-details .mls-property span{
  width: 50%;
display: inline-block;
font-size: 14px;
text-align: center;
padding: 4px 8px;
}
.widget-grid-view .listings-result .card-details .mls-property span:first-child{
  background-color: #8d6541;
  color: #ccc;
}
.widget-grid-view .listings-result .card-details .mls-property span:last-child{
  background-color: #8b7368;
  color: white;
text-transform: uppercase;
}
.widget-grid-view .listings-result .card-details .mls-property span.sold:last-child{
  background-color: #cb1508;
}
.widget-grid-view .listings-result .property-details{
  list-style: none;
padding: 0;
font-size: 0;
}
.widget-grid-view .listings-result .property-details li{
  width: 33.33%;
width: calc(100% / 3);
text-align: center;
padding: 5px;
}
.widget-grid-view .listings-result .property-details li span{
  display: block;
  color: #888;
  font-size: 12px;
}
.widget-grid-view .listings-result .property-price{
  text-align: center;
  background-color: #e9cabb;
color: #712906;
font-family: 'Montserrat', sans-serif;
font-size: 18px;
}
