/*
  Widget: horizontal-carousel
*/
/* property cards */
.property-item {
	border: 1px solid #9e9692;
    background-color: #fff;
    margin: 0 2px;
    /*max-width: 285px;
    display: inline-block;
    vertical-align: middle;*/
}
.section-featured-properties .property-item{
  border: none;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.6);
}
.item-title {
    text-align: center;
    background-color: #fff;
}
.item-title:hover,
.item-title:active,
.item-title:focus {
    outline: none;
    text-decoration: none;
}

.item-title h2 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 22px;
    height: 55px;
    padding: 10px 20px;
    color: #260f03;
    overflow: hidden;
}
.item-title p {
    color: #888;
}
.prop-type-price {
    background-color: #9e9692;
    color: #fff;
    font-size: 16px;
}
.property-type {
	background-color: #6c6c6b;
	color: #fff;
	padding: 5px 0;
}
.property-price {
    padding: 5px 0;
}
.item-img {
    position: relative;
}
.item-img img {
    width: 100%;
    height: 239px;
}
.item-dets {
    position: absolute;
    bottom: 0;
    padding: 0;
    width: 100%;
    margin: 0;
    background: rgba(199, 203, 204, 0.68);
}

.item-dets li {
    display: inline-block;
    /* width: 100%; */
    width: 30%;
    text-align: center;
}

.item-dets li p {
    color: #260f03;
    margin-bottom: 0;
}

.item-dets li p span {
    font-weight: bold;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.owl-carousel {
    position: relative;
}

.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    /*display: none;*/
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
    background: rgba(77, 27, 3, 0.5);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    padding: 15px 20px;
    font-size: 30px;
    position: absolute;
    color: #fff;
    transition: background-color 0.5s ease;
}
.owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-next:hover {
    background: rgba(77, 27, 3, 1);
}

.owl-carousel .owl-nav .owl-prev {
    left: -35px;
}

.owl-carousel .owl-nav .owl-next {
    right: -35px;
    padding: 15px 25px;
}

.owl-buttons > div {
    background-color: #6c6c6b;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    padding: 10px;
    font-size: 23px;
    text-align: center;
    position: absolute;
    top: 50%;
}

.owl-next {
    right: -30px;
}

.owl-prev {
    left: -30px;
}

.owl-buttons > div:hover {
    background-color: #9e9692;
}
.col-md-12.sold{
    padding: 0;
}
.property-type-sold{
    background-color: #e00000;
}

@media only screen and (max-width: 552px) and (min-width: 240px) { 
    .item-title h2 {
        padding: 20px 10px;
        margin-bottom: 0;
        font-size: 18px;
    }

    .property-item {
        margin-bottom: 10px;
    }

    .item-img img {
        height: 200px;
    }
}
/* ./ property cards */