/* 
    Widget: List View
    File: list-view.css
    Created on : Jan 19, 2018, 5:59:17 PM
    Author     : Agentsquared Team
    Rules: always prepend the parent element id or class so it does not conflict with other property css classes
*/
.list-view-controls{
  margin: 8px 0;
  line-height: 2.2;
}
.list-view-controls .select{
  display: inline-block;
  vertical-align: middle;
}
.list-view-controls .sort-by{
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border: 1px solid rgba(0,0,0,0.15);
  padding: 6px 40px 6px 10px;
  border-radius: 5px;
}
.list-view-controls .pagination{
  margin: 0;
  vertical-align: middle;
}
.widget-list-view .listings-result{
  list-style: none;
  padding: 0;
}
.widget-list-view .listings-result li{}
.widget-list-view .listings-result li div{}
.widget-list-view .listings-result .card-strip{
  background-color: white;
  border: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 8px;
}
.widget-list-view .listings-result .card-image{
  padding-left: 0;
}
.widget-list-view .listings-result .card-image img{
  max-width: 100%;
}
