/* 
    Widget: Mapped Search
    File: mapped-search.css
    Created on : Aug 10, 2017, 1:47:53 PM
    Author     : Agentsquared Team
*/

/* search bar */
.advance-search-area .navigation-search{
  margin: 0;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.advance-search-area .search-type{
  list-style: none;
  padding: 0;
  margin: 0;
}
.advance-search-area .search-type .form-search .search_field_area{
  padding: 6px 12px;
  margin: 7px 0;
  border: 1px solid rgba(0,0,0,0.2);
  width: 100%;
  border-radius: 3px;
}
.advance-search-area .search-type .form-search button[type="submit"]{
  background-color: rgba(0,0,0,0.3);
  color: white;
  border: none;
  padding: 7px 12px;
  margin-left: -5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.advance-search-area .save-button a,
.advance-search-area .save-button button{
  background-color: rgba(0,0,0,0.3);
  color: white;
  margin: 7px 0;
}
.advance-search-area .fa-chevron-down{
  margin-left: 5px;
}
.advance-search-area .save-button button span{
  color: white;
}
.advance-search-area .search-type .form-search button[type="submit"]:hover,
.advance-search-area .save-button a:hover,
.advance-search-area .save-button button:hover{
  background-color: rgba(0,0,0,0.6);
}
.search-type .form-search small{
  display: none;
  position: absolute;
  background-color: red;
  color: white;
  padding: 4px 9px;
  z-index: 10;
  border-radius: 3px;
  box-shadow: 2px 3px 4px rgba(0,0,0,0.3);
}
.search-type .form-search small:before{
  content: '';
  position: absolute;
  top: -6px;
  left: 49%;
  left: calc(50% - 7px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #ff0000 transparent;
}
.search-options .dropdown-menu{
  width: 300px;
  padding: 5px 15px 15px;
  max-height: 400px;
  overflow-y: auto;
}
.search-options .dropdown-menu h3{
  color: #c6624a;
  font-size: 18px;
}
.search-options .is-sub-dropdown{
  list-style: none;
  padding-left: 20px;
}
.search-options .dropdown-menu .checkbox input[type="checkbox"]{
  position: relative;
  margin: 0;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  border: 1px solid #bbb;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none !important;
}
.search-options .dropdown-menu .checkbox input[type="checkbox"]:checked{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 10px;
  border: none;
  border-bottom: 4px solid #712906;
  border-right: 4px solid #712906;
  margin-top: -5px;
  margin-left: 5px;
}
.search-options .dropdown-menu .checkbox label{
  padding: 0;
  margin-left: 6px;
}
.show-less-link,
.show-more-link{
  display: none;
}
.search-options .search-label .search-label-icon{
  display: none;
}
/* ./ search bar */
/* search results sidebar */
.map-pagination{
  list-style: none;
  padding: 0;
  text-align: center;
}
.map-pagination li{
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
}
.search-result-tab .nav-tabs li a{
  background-color: rgba(0,0,0,0.1);
}
.search-result-tab .nav-tabs li.active a{
  background-color: white;
}
.search-result-tab .tab-pane{
  padding-top: 15px;
}
.search-result-tab .tab-pane .disabled a{
  color: #888;
}
.search-result-tab .tab-pane .map-prev a,
.search-result-tab .tab-pane .map-next a{
  padding: 5px 12px;
  background-color: rgba(0,0,0,0.3);
  color: white;
  border-radius: 100px;
  margin: 0 8px;
  display: inline-block;
}
.search-result-tab .tab-pane .map-prev a:hover,
.search-result-tab .tab-pane .map-next a:hover{
  background-color: rgba(0,0,0,0.6);
}
.search-result-tab .tab-pane .map-prev span,
.search-result-tab .tab-pane .map-next span{
  display: none;
}
.search-result-tab .listingProperties{
  max-height: 635px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
  height: 100%;
  position: relative;
  box-shadow: inset -5px 0 25px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.1);
}
.search-result-tab .listingProperties.scroll-down:before{
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  height: 20px;
  background: rgba(209,209,209,1);
  background: -moz-linear-gradient(top, rgba(209,209,209,1) 0%, rgba(246,246,246,0.47) 53%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(209,209,209,1)), color-stop(53%, rgba(246,246,246,0.47)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(209,209,209,1) 0%, rgba(246,246,246,0.47) 53%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(209,209,209,1) 0%, rgba(246,246,246,0.47) 53%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(209,209,209,1) 0%, rgba(246,246,246,0.47) 53%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(209,209,209,1) 0%, rgba(246,246,246,0.47) 53%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#ffffff', GradientType=0 );
}
.listingProperties .panel-body > div p{
  margin-bottom: 0;
}
.listingProperties .panel-body > div p.property-address,
.listingProperties .panel-body > div .prop-price{
  font-size: 18px;
  font-weight: bold;
}
.listingProperties .panel-body > div .property-spec{
  font-size: 10px;
  margin-top: 8px;
}
.listingProperties .panel-body .property-links{
  text-align: center;
}
.listingProperties .panel-body .property-links a{
  padding: 6px 8px;
  background-color: rgba(0,0,0,0.3);
  display: block;
  margin-bottom: 3px;
  color: white;
  border-radius: 100px;
  font-size: 18px;
}
.listingProperties .panel-body .property-links a:hover{
  background-color: rgba(0,0,0,0.6);
}
.property-placeholder .search-result-tab .tab-pane{
  padding-top: 15px;
  max-height: 635px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
  height: 100%;
  position: relative;
  box-shadow: inset -5px 0 25px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.1);
  margin-top: 10px;
}
.property-class .label-info .glyphicon{
  font-size: inherit;
}
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
.placeholder-img,
.placeholder-address,
.placeholder-city,
.placeholder-price,
.placeholder-propclass,
.placeholder-details {
    display: block;
    margin: 5px 0;
    float: left;
    background: #f6f7f8;

    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    /*background: #f6f7f8;*/
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
}
.placeholder-img {
    width: 100%;
    height: 110px;
}

.placeholder-address {
    width: 70%;
    height: 20px;
}
.placeholder-city {
    width: 70%;
    height: 15px;
}

.placeholder-price {
    width: 45%;
    height: 18px;
}

.placeholder-propclass {
    width: 60%;
    height: 16px;
}

.placeholder-details {
    width: 100%;
    height: 15px;
}

.property-panel .img-responsive {
    height: 115px;
    width: 100%;
}
/* ./ search results sidebar */
/* search map results */
.placeholder-map{
  height: 800px;
  width: 100%;
  margin-top: 0px;
  padding: 0px;
  text-align: center;
  background-image: url(/src/images/globe.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0,0,0,0.1);
}
.placeholder-map .map{
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  top: 38%;
  top: calc(50% - 100px);
  color: #888;
}
/* ./ search map results */