/*
  Widget: photo-gallery-left
  =====================  
*/
.widget-photo-gallery {
    margin-top: 25px;
}

#vertical li {
    background-size: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    background-color: #ccc;
}

.lSSlideOuter .lSPager.lSGallery li, .lSSlideOuter .lSPager.lSGallery li {
    padding: 2px;
}

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 0;
    padding: 2px;
    background-color: #ad9f9f;
}

.lSSlideOuter .lSPager.lSGallery img {
    height: 100%;
    width: 100%;
}


/*For vertical right */
.widget-photo-gallery-right .lSSlideOuter.vertical {
    padding-left: 95px;
    padding-right: 0 !important;
}

.widget-photo-gallery-right .lSSlideOuter.vertical .lSGallery {
    left: 0;
    margin-right: 5px;
    margin-left: 0 !important;
}