/*
  Widget: photo-gallery
  =====================  
*/
.widget-photo-gallery {
    margin-top: 25px;
}

#horizontal li,
#vertical li {
    background-size: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    background-color: #ccc;
}
#horizontal li img {
    width: 100%;
}

.lSSlideOuter .lSPager.lSGallery li, .lSSlideOuter .lSPager.lSGallery li {
    padding: 2px;
}

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 0;
    padding: 2px;
    background-color: #ad9f9f;
}

.lSSlideOuter .lSPager.lSGallery img {
    height: 100%;
    width: 100%;
}

