/*
  Widget: property-grid-view
  =====================  
*/
.widget-property-grid-view {
}

.widget-property-grid-view .col-md-6 {
    padding: 3px;
}

.property-grid-item {
    background-color: #a5a5a5;
    max-width: 300px;
    margin: 0 auto;
}

.property-grid-item .property-image {
    position: relative;
    width: 100%;
    height: 230px;
}

.property-grid-item .property-image img {
    width: 100%;
    height: 100%;
}


.property-grid-item .property-image p {
    position: absolute;
    margin-bottom: 0;
}

.property-grid-item .property-image .status {
    top: 0;
    padding: 2px 10px;
    background-color: #6c6c6b;
    color: #fff;
    margin-bottom: 0;
    font-size: 14px;
}

.property-grid-item .property-image .type {
    top: 0;
    right: 0;
    background-color: #d3d9df;
    padding: 2px 10px;
    color: #6c6c6b;
}

.property-grid-item .property-image .name {
    padding: 2px 5px;
    bottom: 0;
    background: rgba(199, 203, 204, 0.68);
	color: #fff;
    width: 100%;
}

.property-grid-item .desc {
    padding: 2px;
}

.property-grid-item .desc ul.list-inline {
    margin-bottom: 0;
    padding: 5px 10px;
}

@media only screen and (max-width: 552px) and (min-width: 240px) { 
    .property-grid-item {
        max-width: 100%;
    }
    .property-grid-item .property-image {
        height: 160px;
    }

    .property-grid-item .property-image .name {
        font-size: 12px;
    }

    .property-grid-item .desc ul.list-inline {
        padding: 2px;
    }

    .property-grid-item .desc ul.list-inline li {
        font-size: 12px;
    }

    .property-grid-item .property-image .status, .property-grid-item .property-image .type {
        font-size: 12px;
    }
}
@media only screen and (min-width: 553px) and (max-width: 767px) {
    .property-grid-item .property-image {
        height: 160px;
    }

    .property-grid-item .property-image .name {
        font-size: 12px;
    }

    .property-grid-item .desc ul.list-inline {
        padding: 2px;
    }

    .property-grid-item .desc ul.list-inline li {
        font-size: 12px;
    }

    .property-grid-item .property-image .status, .property-grid-item .property-image .type {
        font-size: 12px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .property-grid-item .property-image {
        height: 217px;
    }

    .property-grid-item .property-image .name {
        font-size: 11px;
    }

    .property-grid-item .property-image .status, .property-grid-item .property-image .type {
        font-size: 13px;
    }

    .property-grid-item .desc ul.list-inline {
        padding: 0 5px;
    }

    .property-grid-item .desc ul.list-inline li {
        font-size: 12px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .property-grid-item .property-image {
        height: 207px;
    }
}
