/*
  Widget: property-list
  =====================  
*/
.widget-property-list-view ul {
    padding: 0;
}

.widget-property-list-view ul li {
    list-style: none;
    margin-bottom: 5px;
}

.property-list-item {
    background-color: rgba(0, 0, 0, 0.39);
    height: 130px;
}

.property-list-item .img img {
    width: 100%;
    height: 100%;
}

.property-list-item .img {
    position: relative;
    width: 100%;
    height: 130px;
    display: inline-block;
}

.property-list-item .img .status {
    position: absolute;
    background-color: #6c6c6b;
    top: 0;
    padding: 7px;
    font-size: 12px;
    margin: 0;
    color: #ccc;
}

.property-list-item .col-md-4 {
    padding-left: 0;
}

.property-list-item .col-md-8 {
	padding: 0;
}

.property-list-item a,
.property-list-item p {
    margin-bottom: 7px;
    color: #fff;
}
.property-list-item  .details {
    margin: 20px 0;
}
.property-list-item .name {
    font-size: 18px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

.property-list-item .city-zip {
    color: #dedede;
}

.property-list-item .sizes {
    margin-top: 20px;
}

.property-list-item .sizes li {
    color: #fff;
    font-size: 13px;
    display: inline-block;
    padding-right: 7px;
}

.property-list-item .sizes li:after {
    content: "|";
    margin-left: 10px;
}

.property-list-item .sizes li:last-child:after {
    content: "";
}

@media only screen and (max-width: 552px) and (min-width: 240px) { 
    .property-list-item  .details {
        margin: 10px 0;
    }
    .property-list-item .name {
        font-size: 15px;
    }

    .property-list-item .sizes {
        margin-top: 0;
    }

    .property-list-item .city-zip {
        font-size: 14px;
    }
}
@media only screen and (min-width: 553px) and (max-width: 767px) {

}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .property-list-item  .details {
        margin: 10px 0;
    }
    .property-list-item .name {
        font-size: 15px;
    }

    .property-list-item .sizes {
        margin-top: 0;
    }

    .property-list-item .city-zip {
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}
