/*
  Widget: single-row-cards
*/
.cards{
  text-align: center;
  width: auto;
    margin: 0 auto;
}
.cards .col-md-3 {
    padding: 0;
    float: none;
    display: inline-block;
}
.cards .col-md-3:first-child:nth-last-child(4),
.cards .col-md-3:first-child:nth-last-child(4) ~ .col-md-3{
  float: left;
    display: block;
}
.cards .property-item{
  max-width: 285px;
  width: 100%;
  display: inline-block;
  border: none;
  vertical-align: middle;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.6);
}

@media only screen and (max-width: 552px) and (min-width: 240px) { 
  .cards .property-item {
      max-width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .cards .col-sm-6 {
      padding: 4px; 
  }
  .cards .property-item{
    max-width: 100%;
  }
  .cards .property-item .col-sm-6 {
      padding: 0;
  }
}